{% load branding i18n %}
{% load url from future %}

<div class="header">
  <div class="nav" id='head_nav'>
    <div class="pull-left" id='head_logo'>
        <img src="/dashboard/static/dashboard/img/bg_head.png">
    </div>
    <div class="pull-left dropdown nav_head nav_head_dropdown" id="head_clusters">
      <a id="dLabel" data-target="#" href="#" {% if not is_version and not is_hosts and not is_templates and not is_system  %}class="active"{% endif %} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Clusters" %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        {% for cluster in clusters %}
          <li><a href="{% url 'horizon:environment:cluster:overview' cluster.id %}">{{ cluster.name }}</a></li>
        {% endfor %}
            <li role="separator" class="divider"></li>
            <li>
                <a href="{% url 'horizon:environment:overview:index' %}">
                    {% trans 'Return Cluster List' %}
                </a>
            </li>
      </ul>
    </div>
    <div class="pull-left nav_head" id="head_version">
      <a href="{% url 'horizon:environment:version:index' %}" {% if is_version %}class="active"{% endif %} role="button">
          {% trans 'Version' %}
      </a>
    </div>
    <div class="pull-left nav_head" id="head_hosts_list">
      <a href="{% url 'horizon:environment:host:index' %}" {% if is_hosts %}class="active"{% endif %} role="button">
          {% trans 'Hosts' %}
      </a>
    </div>
    <div class="pull-left nav_head" id="head_template_list">
      <a href="{% url 'horizon:environment:template:index' %}" {% if is_templates %}class="active"{% endif %} role="button">
          {% trans 'Template' %}
      </a>
    </div>
    <div class="pull-left dropdown nav_head nav_head_dropdown" id="head_system">
      <a id="dLabel" data-target="#" href="#" {% if is_system %}class="active"{% endif %} data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "System" %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a href="{% url 'horizon:environment:system:index' %}">{% trans "Backup And Restore" %}</a></li>
          <li><a href="{% url 'horizon:environment:system:systemconfig' %}">{% trans "System Config" %}</a></li>
      </ul>
    </div>
    {% include "_header.html" %}
  </div>
</div>

