{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}import_template_form{% endblock %}
{% block ng_controller %}ImportTemplateFormCtrl{% endblock %}
{% block form_action %}{% url 'horizon:environment:overview:import_template' %}{% endblock %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}

{% block modal-header %}{% trans "Import Template" %}{% endblock %}

{% block modal-body %}
  <div class="left">
    <fieldset>
      {% include "environment/overview/_form_fields.html" %}
    </fieldset>
  </div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans 'Import Template' %}" />
  <a href="{% url 'horizon:environment:overview:templates' %}" class="btn btn-default secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}