{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Cluster" %}{% endblock %}

{% block js %}
{% include "horizon/_scripts.html" %}
<script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
<script type='text/javascript' charset='utf-8'>
    function reload_cluster_window(){
        window.location = "/dashboard/environment/";
    }

    function operate_close(){
        $(".form-cluster-validator").data('bootstrapValidator').resetForm()
    }

    function delete_cluster(cluster_id){
        title = '{% trans "Confirm to delete" %}'
        body = '{% trans "Are you sure to delete this cluster?" %}'
        action = '{% trans "Delete" %}'
        modal = horizon.modals.create(title, body, action)
        modal.modal()
        modal.find('.btn-primary').click(function (evt) {
            var cluster_info = {
                "cluster_id": cluster_id
            }
            var url = "/dashboard/environment/overview/delete/"
            do_post(url, JSON.stringify({'cluster_info': cluster_info}), reload_cluster_window)
            modal.modal('hide')
        });
    }

</script>
{% endblock %}

{% block page_header %}
    <div>{% trans 'My Cluster List' %}</div>
{% endblock %}

{% block main %}
<div>
{% for cluster in clusters %}
    <div class="cluster_box" {% if cluster.auto_scale == 1 %} style="background-color:#C8E3FF;" {% endif %}>
        <div>
            <div STYLE="font-size:16px; height:28px; line-height:28px; margin:0 0 0 5px; width:45%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
                {{ cluster.name }}
            </div>
            <div STYLE="float:right; margin:-21px 4px 0 0;">
                <a href="#" onclick="delete_cluster('{{ cluster.id }}')" title="{% trans 'Delete Cluster' %}">
                    <span class="glyphicon glyphicon-trash" style="max-width:24px; font-size:120%;"></span>
                </a>
            </div>
        </div>
        <a class="cluster_link" href="{% url 'horizon:environment:cluster:overview' cluster.id %}">
            <div STYLE="border-top:2px dotted #ddd; height:125px; padding:10px">
                <div>
                    <div STYLE="float:left;width:60%;height:25px">{% trans "Nodes:" %}</div>
                    <div STYLE="float:left;width:40%;">{{ cluster.host_count }}</div>
                </div>
                <div>
                    <div STYLE="float:left;width:60%;height:25px">{% trans "Target system:" %}</div>
                    <div STYLE="float:left;width:40%;">{{cluster.target_systems}}</div>
                </div>
                <div>
                    <div STYLE="float:left;width:60%;height:25px">{% trans "Auto scale:" %}</div>
                    {% if cluster.auto_scale == 1 %}
                        <div STYLE="float:left;width:40%;">{% trans "Support" %}</div>
                    {% else %}
                        <div STYLE="float:left;width:40%;">{% trans "Unsupport" %}</div>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
{% endfor %}

    <a href="{% url 'horizon:environment:cluster:create' %}">
        <div class="cluster_box" align="center">
            <img src="/dashboard/static/dashboard/img/cluster_create.png" style="max-width:165px; margin:50px 0 0 0;"/>
        </div>
    </a>
</div>

{% endblock %}
