{% load i18n %}
{% load context_selection %}

<script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
<script type='text/javascript' charset='utf-8'>
    $(function(){
        $('.form-cinder-validator').bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                cinder_managerment_ip: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "Managerment IP can not be empty, please input" %}'
                        },
                        ip: {
                            message: '{% trans "Managerment IP is error, format as: xxx.xxx.xxx.xxx" %}'
                        }
                    }
                },
                cinder_user_name: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "User name can not be empty, please input" %}'
                        }
                    }
                },
                /*
                cinder_user_password: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "User password can not be empty, please input" %}'
                        }
                    }
                },
                */
                cinder_volume_type: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "Volume type can not be empty, please input" %}'
                        }
                    }
                },
                cinder_pools: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "Pools can not be empty, please input" %}'
                        }
                    }
                }
            }
        }).on('error.form.bv', function(e) {
            // Active the panel element containing the first invalid element
            var $form     = $(e.target),
            validator     = $form.data('bootstrapValidator'),
            $invalidField = validator.getInvalidFields().eq(0),
            $collapse     = $invalidField.parents('.collapse');        

            $collapse.collapse('show');
        });
        
        $(".add_cinder_managerment_ip").on('click', function() {
            $template = $("#cinder_managerment_ip_template");
            $new_field = $template.clone().insertBefore("#cinder_managerment_ip_last_index").show();

            var last_index = $("#cinder_managerment_ip_last_index").val();
            $new_field
                .find('input:first')
                    .attr('name', "cinder_managerment_ip" + last_index)
                    .attr('value', "")
                    .attr('onkeydown', "if(event.keyCode==32||event.keyCode==188||event.keyCode==222){return false;}")
                    .end()
                .on('click', '.delete_cinder_managerment_ip', function() {
                    // Remove field and validator
                    $('.form-cinder-validator').bootstrapValidator('removeField', "cinder_managerment_ip" + last_index);
                    $(this).parent().parent().remove();
                });

            // Add new field validator
            $('.form-cinder-validator').bootstrapValidator('addField', "cinder_managerment_ip" + last_index, {
                validators: {
                    notEmpty: {
                        message: '{% trans "Managerment IP can not be empty, please input" %}'
                    },
                    ip: {
                        message: '{% trans "Managerment IP is error, format as: xxx.xxx.xxx.xxx" %}'
                    }
                }
            });
            $("#cinder_managerment_ip_last_index").val((parseInt(last_index, 10) + 1).toString());
        });
        
        $(".add_cinder_data_ip").on('click', function() {
            $template = $("#cinder_data_ip_template");
            $new_field = $template.clone().insertBefore("#cinder_data_ip_last_index").show();

            var last_index = $("#cinder_data_ip_last_index").val();
            $new_field
                .find('input:first')
                    .attr('name', "cinder_data_ip" + last_index)
                    .attr('value', "")
                    .attr('onkeydown', "if(event.keyCode==32||event.keyCode==188||event.keyCode==222){return false;}")
                    .end()
                .on('click', '.delete_cinder_data_ip', function() {
                    // Remove field and validator
                    $('.form-cinder-validator').bootstrapValidator('removeField', "cinder_data_ip" + last_index);
                    $(this).parent().parent().remove();
                });

            // Add new field validator
            $('.form-cinder-validator').bootstrapValidator('addField', "cinder_data_ip" + last_index, {
                validators: {
                    notEmpty: {
                        message: '{% trans "Service IP can not be empty, please input" %}'
                    },
                    ip: {
                        message: '{% trans "Service IP is error, format as: xxx.xxx.xxx.xxx" %}'
                    }
                }
            });
            $("#cinder_data_ip_last_index").val((parseInt(last_index, 10) + 1).toString());
        });
    });
    
    function cinder_ok(){
        $(".form-cinder-validator").data('bootstrapValidator').validate()
        if (!$(".form-cinder-validator").data('bootstrapValidator').isValid())
            return;

        cinder_volume = new Array();
        cinder_volume["id"] = "";
        cinder_volume["management_ips"] = new Array();
        cinder_volume["management_ips"].push($("#cinder_managerment_ip").val());
        for(var i=1; i<parseInt($("#cinder_managerment_ip_last_index").val()); i++){
            var input_ip = "cinder_managerment_ip" + i.toString();
            var input_ip_val = $("input[name='" + input_ip + "']").val();
            if (input_ip_val != undefined)
                cinder_volume["management_ips"].push(input_ip_val);
        }
        cinder_volume["user_name"] = $("#cinder_user_name").val();
        cinder_volume["user_pwd"] = $("#cinder_user_password").val();
        cinder_volume["volume_driver"] = $("#cinder_volume_driver option:selected").text();
        cinder_volume["data_ips"] = new Array();
        if (cinder_volume["volume_driver"] == "FUJITSU_ETERNUS"){
            cinder_volume["data_ips"].push($("#cinder_data_ip").val());
            for(var i=1; i<parseInt($("#cinder_data_ip_last_index").val()); i++){
                var input_ip = "cinder_data_ip" + i.toString();
                var input_ip_val = $("input[name='" + input_ip + "']").val();
                if (input_ip_val != undefined)
                    cinder_volume["data_ips"].push(input_ip_val);
            }
        }
        cinder_volume["volume_type"] = $("#cinder_volume_type").val();
        cinder_volume["pools"] = $("#cinder_pools").val();
        if ($("#row_index").val() == "0")
            AddCinderVolume(cinder_volume);
        else
            ModifyCinderVolume(cinder_volume);
        
        $("#CinderModal").modal('hide');
    }
    
    function cinder_cancel(){
        $('#CinderModal').modal('hide');
    }
    
    function cinder_volume_driver_chanage(){
        if ($("#cinder_volume_driver option:selected").text() == "FUJITSU_ETERNUS"){
            $(".form-fujitsu").removeClass('hide');
            $("#cinder_data_ip").val("");

            $('.form-cinder-validator').bootstrapValidator('addField', "cinder_data_ip", {
                    validators: {
                        notEmpty: {
                            message: '{% trans "Service IP can not be empty, please input" %}'
                        },
                        ip: {
                            message: '{% trans "Service IP is error, format as: xxx.xxx.xxx.xxx" %}'
                        }
                    }
                });
        }
        else{
            $(".form-fujitsu").addClass('hide');
            $("#cinder_data_ip").val("");
            
            $('.form-cinder-validator').bootstrapValidator('removeField', "cinder_data_ip");
            
            for(var i=1; i<parseInt($("#cinder_data_ip_last_index").val(), 10); i++){
                var input_ip = "cinder_data_ip" + i.toString();
                if ($("input[name='" + input_ip + "']").val() != undefined){
                    $('.form-cinder-validator').bootstrapValidator('removeField', input_ip);
                    $("input[name='" + input_ip + "']").parent().parent().remove();
                }
            }
            $("#cinder_data_ip_last_index").val("1");
        }
    }
</script>

<div class="modal fade" id="CinderModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="CinderModalLabel">
    <div class="modal-dialog" style="width: 500px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cinder_cancel()" >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="CinderModalHeader" ></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="row_index" name="row_index" value="0">
                <form class="form-horizontal form-cinder-validator">
                    <fieldset>
                        <div style="clear:both" class="form-group">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_managerment_ip" class="col-sm-2 control-label">{% trans 'Managerment IPs' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:60%; " class="col-sm-4">
                                <input type="text" id="cinder_managerment_ip" name="cinder_managerment_ip" class="form-control" placeholder="{% trans 'Managerment IP' %}" onkeydown="if(event.keyCode==32||event.keyCode==188||event.keyCode==222){return false;}">
                            </div>
                            <div style="float:left; width:8%; line-height:28px;">
                                <a href="#" class="add_cinder_managerment_ip">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                        <input type='hidden' id='cinder_managerment_ip_last_index' value="1"/>
                        <!-- Template for dynamic field -->
                        <div style="display:none; clear:both" class="form-group" id="cinder_managerment_ip_template">
                            <label style="float:left; width:30%;" class="col-sm-2 control-label"></label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:60%; " class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{% trans 'Managerment IP' %}">
                            </div>
                            <div style="float:left; width:8%; line-height:28px;">
                                <a href="#" class="delete_cinder_managerment_ip">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                        </div>
                        <div style="clear:both" class="form-group">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_user_name" class="col-sm-2 control-label">{% trans 'User name' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:68%; " class="col-sm-4">
                                <input type="text" style="display:none"><!-- for disable autocomplete on chrome -->
                                <input type="text" id="cinder_user_name" name="cinder_user_name" class="form-control" placeholder="{% trans 'User name' %}">
                            </div>
                        </div>
                        <div style="clear:both" class="form-group">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_user_password" class="col-sm-2 control-label">{% trans 'Password' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:68%; " class="col-sm-4">
                                <input type="text" style="display:none"><!-- for disable autocomplete on chrome -->
                                <input type="password" id="cinder_user_password" name="cinder_user_password" class="form-control" placeholder="{% trans 'Password' %}">
                            </div>
                        </div>
                        <div style="clear:both" class="form-group">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_volume_driver" class="col-sm-2 control-label">{% trans 'Volume driver' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:68%; " class="col-sm-4">
                                <select id="cinder_volume_driver" name="cinder_volume_driver" class="form-control" onchange="cinder_volume_driver_chanage()">
                                    <option value="0" selected="selected">KS3200_IPSAN</option>
                                    <option value="1">KS3200_FCSAN</option>
                                    <option value="2">FUJITSU_ETERNUS</option>
                                    <option value="3">HP3PAR_FCSAN</option>
                                </select>
                            </div>
                        </div>
                        <div style="clear:both" class="form-group form-fujitsu hide">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_data_ip" class="col-sm-2 control-label">{% trans 'Service IPs' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:60%; " class="col-sm-4">
                                <input type="text" id="cinder_data_ip" name="cinder_data_ip" class="form-control" placeholder="{% trans 'Service IP' %}" onkeydown="if(event.keyCode==32||event.keyCode==188||event.keyCode==222){return false;}">
                            </div>
                            <div style="float:left; width:8%; line-height:28px;">
                                <a href="#" class="add_cinder_data_ip">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                        <!-- Template for dynamic field -->
                        <input type="hidden" id="cinder_data_ip_last_index" value="1">
                        <div style="display:none; clear:both" class="form-group" id="cinder_data_ip_template">
                            <label style="float:left; width:30%;" class="col-sm-2 control-label"></label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:60%; " class="col-sm-4">
                                <input type="text" class="form-control" placeholder="{% trans 'Service IP' %}">
                            </div>
                            <div style="float:left; width:8%; line-height:28px;">
                                <a href="#" class="delete_cinder_data_ip">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                        </div>
                        <div style="clear:both" class="form-group">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_volume_type" class="col-sm-2 control-label">{% trans 'Volume type' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:68%; " class="col-sm-4">
                                <input type="text" id="cinder_volume_type" name="cinder_volume_type" class="form-control" placeholder="{% trans 'Volume type' %}">
                            </div>
                        </div>
                        <div style="clear:both" class="form-group">
                            <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cinder_pools" class="col-sm-2 control-label">{% trans 'Pools' %}</label>
                            <div style="float:left; width:2%; ">&nbsp;</div>
                            <div style="float:left; width:68%; " class="col-sm-4">
                                <input type="text" id="cinder_pools" name="cinder_pools" class="form-control" placeholder="{% trans 'Pools, separated by &#44; if more than one' %}">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer" style="background-color: #F1F1F1">
                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" onclick="cinder_ok()" value="{% trans 'OK' %}" />
                    <input type="button" class="btn btn-default cancel" onclick="cinder_cancel()" value="{% trans 'Cancel' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
