{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Create Cluster" %}
{% endblock %}

{% block page_header %}
  {% trans "Create Cluster" %}
{% endblock page_header %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type="text/javascript">
    $("#cluster_create_modal a:first").tab("show");

    function create_cluster_commit(){
        var cluster_info = {
            "cluster_name": $("#cluster_name").val(),
            "networking_parameters": get_network_values(),
            "use_dns": $("#use_dns").val(),
            "description":$("#description").val()
        }
        var role_info = {};
        var role_contexts = [
            {
                "name" : "ha",
                "panel_name": "CONTROLLER_HA",
                "callback": get_ha_role_values
            },
            {
                "name" : "lb",
                "panel_name": "CONTROLLER_LB",
                "callback": get_lb_role_values
            },
            {
                "name": "computer",
                "panel_name": "computer",
                "callback": get_computer_info,
            },
            {
                "name" : "zenic_nfm",
                "panel_name": "ZENIC_NFM",
                "callback": get_zenic_nfm_info
            },
            {
                "name" : "zenic_ctl",
                "panel_name": "ZENIC_CTL",
                "callback": get_zenic_ctl_info
            }
        ]
        for (var i = 0;i < role_contexts.length;i++){
            var role_context = role_contexts[i];
            var $panel = $(".form-roles-validator div.panel_" + role_context["panel_name"]);
            if ($panel.length > 0){
                role_info[role_context["name"]] = role_context["callback"]();
            }
        }

        var netplane_info = get_net_plane_info();

        var params = {
            "cluster_id": $("#cluster_create_modal").data("cluster_id"),
            'cluster_info': cluster_info,
            'role_info': role_info,
            'netplane_info': netplane_info
        }

        var url = "{% url 'horizon:environment:cluster:create_submit' %}";
        do_post(url, JSON.stringify(params), goto_select_host, goto_modify_host);
    }    

    function goto_select_host(cluster_list){
        if (cluster_list.length > 0){
            window.location = "/dashboard/environment/deploy/" 
                              + cluster_list[0].id 
                              + "/selecthosts";
        }
    }

    function goto_modify_host(cluster_list){
        if (cluster_list.length > 0){
            $("#cluster_create_modal").data("cluster_id", cluster_id);
        }            
    }

    function operate_cluster(){
        $(".form-cluster-validator").data('bootstrapValidator').resetForm();
        $(".form-roles-validator").data('bootstrapValidator').resetForm();
        $(".form-net-plane").data('bootstrapValidator').resetForm();
        
        $(".form-cluster-validator").data('bootstrapValidator').validate()
        if (!$(".form-cluster-validator").data('bootstrapValidator').isValid()){
            $('#cluster_create_modal a[href="#cluster_baseinfo"]').tab('show')
            return;
        }

        $(".form-roles-validator").data('bootstrapValidator').validate()
        if (!$(".form-roles-validator").data('bootstrapValidator').isValid()){
            $('#cluster_create_modal a[href="#cluster_role"]').tab('show')                
            return;
        }

        $(".form-net-plane").data("bootstrapValidator").validate()
        if (!$(".form-net-plane").data('bootstrapValidator').isValid()){
            $('#cluster_create_modal a[href="#cluster_netplane"]').tab('show')                
            return;
        }

        create_cluster_commit();
    }
    $(function(){
        $(".auto_assgign_ip").each(function(){
            $(this).trigger("click");
        })
    });
    </script>
{% endblock %}

{% block main %}
    {% include 'environment/cluster/_create_cluster.html' %}
{% endblock %}

