{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% include "_stylesheets.html" %}
<link rel="stylesheet" href="/dashboard/static/dashboard/scss/host_role.css" type="text/css" media="screen">
{% endblock%}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
    <script type='text/javascript' charset='utf-8'>

    function ControlOPButton(tds_host, os_status, role_status){
        var td_oprate = tds_host.eq(8);
        if (os_status == "active" && role_status == "active"){
            td_oprate.find(".dropdown-toggle").show();
        }
        else{
            td_oprate.find(".dropdown-toggle").hide();
        }
    }

    function UpdateProgressBar(data){
        var check_boxs = $(".table-row-multi-select:not(:first)")
        check_boxs.each(function(){
            var id = $(this).val();
            for(var i = 0;i < data["hosts"].length;i++){
                var host_data = data["hosts"][i];
                if(host_data["id"] != id){
                    continue;
                }
                var tr_host = $(this).parents("tr");
                var tds_host = tr_host.children("td");
                var td_status = tds_host.eq(4);
                td_status.text(host_data["status"]);
                var td_progress = tds_host.eq(5);
                var progress_bar = td_progress.find(".progress-bar");
                var bar_classes = progress_bar.attr("class").split(" ");
                var bar_type = bar_classes[bar_classes.length - 1];
                progress_bar.removeClass(bar_type).addClass(host_data["bar_type"]);
                var progress_number = parseInt(host_data["progress"], 10);
                progress_bar.attr("aria-valuenow", progress_number);
                progress_bar.css("width", progress_number.toString() + "%");
                td_progress.find(".progress-bar-number").text(progress_number.toString() + "%");
                td_progress.find(".progress-bar-message").text(host_data["message"] == null ? "": host_data["message"]);
                ControlOPButton(tds_host, host_data["os_status"], host_data["role_status"]);
            }
        });
    }

    function UpdateDeployInfoCallBack(data){
        $("#on_going").text(data["on_going_host_num"]);
        $("#success").text(data["success_host_num"]);
        $("#failed").text(data["failed_host_num"]);
        $("#on_updating").text(data["on_updating_host_num"]);
        $("#on_uninstalling").text(data["on_uninstalling_host_num"]);
        $("#undeploy").text(data["undeploy_host_num"]);
        UpdateProgressBar(data);
    }

    function UpdateDeployInfo(){
        url = "/dashboard/environment/cluster/" + $("#cluster_id").val() + '/update_deploy_info';
        do_post_ex(url, JSON.stringify({}), true, UpdateDeployInfoCallBack);
    }

    $(document).ready(function(){
        var check_boxs = $(".table-row-multi-select:not(:first)")
        check_boxs.each(function(){
            var id = $(this).val();
            var tr_host = $(this).parents("tr");
            var tds_host = tr_host.children("td");
            var td_os_status = tds_host.eq(6);
            var td_role_status = tds_host.eq(7);
            ControlOPButton(tds_host, $.trim(td_os_status.text()), $.trim(td_role_status.text()));
        });
        setInterval(UpdateDeployInfo, 3000);
    });

    function ShowGenerateClusterTemplateDiag(cluster_name)
    {
        $("#cluster_template_name").val("");
        $("#cluster_template_desc").val("");
        $(".form-generate-cluster-template").data("cluster_name", cluster_name);
        $("#export_cluster_modal").modal('toggle');
    }

    function GenerateClusterTemplateCallback(){
        CloseGenerateClusterTemplateDialog();
    }

    function GenerateClusterTemplate()
    {
        $(".form-generate-cluster-template").data('bootstrapValidator').validate()
        if (!$(".form-generate-cluster-template").data('bootstrapValidator').isValid())
            return;
        var cluster_name = $(".form-generate-cluster-template").data("cluster_name");
        var template_name = $("#cluster_template_name").val();
        var description = $("#cluster_template_desc").val();
        var template_info = {
            "cluster_name": cluster_name,
            "template_name": template_name,
            "description": description
        }
        var url = "/dashboard/environment/template/generate_cluster_template/"
        do_post(url, JSON.stringify(template_info), GenerateClusterTemplateCallback)
    }

    function CloseGenerateClusterTemplateDialog()
    {
        $(".form-generate-cluster-template").data('bootstrapValidator').resetForm();
        $("#export_cluster_modal").modal('hide');
    }

    function upgrade_cluster(cluster_id) {
        title = '{% trans "Confirm to upgrade" %}'
        body = '{% trans "Are you sure to upgrade this cluster?" %}'
        action = '{% trans "Upgrade" %}'
        modal = horizon.modals.create(title, body, action)
        modal.modal()
        modal.find('.btn-primary').click(function (evt) {
            var cluster_info = {
                "cluster_id": cluster_id
            }

            function upgrade_callback(){
                window.location = '/dashboard/environment/cluster/' + cluster_id + '/overview';
            }

            var url = "/dashboard/environment/cluster/" + cluster_id +  "/upgrade";
            do_post(url, JSON.stringify({'cluster_info': cluster_info}), upgrade_callback)
            modal.modal('hide')
        });
    }

    function uninstall_tecs(cluster_id){
        title = '{% trans "Confirm to uninstall tecs" %}';
        body = '{% trans "Are you sure to uninstall this cluster ?" %}';
        action = '{% trans "Uninstall" %}';
        modal = horizon.modals.create(title, body, action);
        modal.modal();
        modal.find('.btn-primary').click(function(evt){
            var cluster_info = {
                "cluster_id": cluster_id
            }

            function uninstall_tecs_callback(){
                window.location = '/dashboard/environment/cluster/' + cluster_id + '/overview';
            }

            var url = '/dashboard/environment/cluster/' + cluster_id + '/uninstall';
            do_post(url, JSON.stringify({'cluster_info': cluster_info}), uninstall_tecs_callback );
            modal.modal('hide');
        });
    }

    function DeployClusterCallBack(){
        window.location = '/dashboard/environment/cluster/' + $("#cluster_id").val() + '/overview';
    }

    function deploy_cluster(cluster_id){
        var url = "/dashboard/environment/deploy/" + cluster_id + '/dodeploy';
        do_post(url, JSON.stringify({}), DeployClusterCallBack);
    }

    $(function(){
        $(".form-generate-cluster-template").bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                cluster_template_name: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "Can not be empty, please input" %}'
                        },
                        regexp: {
                            regexp: '^[a-zA-Z][a-zA-Z0-9_]{3,15}$',
                            message: '{% trans "Name must begin with letters,and consist of numbers,letters or underscores. The length of name is 4 to 16." %}'
                        }
                    }
                }
            }
        });
    })
    </script>
{% endblock %}
{% block main %}
    <div class="nav nav-pills pull-right">
            <div class="badge pull-right" style="background-color:#5bc0de;margin:5px;padding:5px;">
                <span style='margin:3px;'>{% trans 'Deploying' %}</span>
                <span id="on_going">{{data.on_going_host_num}}</span>
            </div>

            <div class="badge pull-right" style="background-color:#8AAAAA;margin:5px;padding:5px;">
                <span style='margin:3px;'>{% trans 'Updating' %}</span>
                <span id="on_updating">{{data.on_updating_host_num}}</span>
            </div>

            <div class="badge pull-right" style="background-color:#AAB85C;margin:5px;padding:5px;">
                <span style='margin:3px;'>{% trans 'Uninstalling' %}</span>
                <span id="on_uninstalling">{{data.on_uninstalling_host_num}}</span>
            </div>

            <div class="badge pull-right" style="background-color:#5cb85c;margin:5px;padding:5px;">
                <span style='margin:3px;'>{% trans 'Success' %}</span>
                <span id="success">{{data.success_host_num}}</span>
            </div>

            <div class="badge pull-right" style="background-color:#d9534f;margin:5px;padding:5px;">
                <span style='margin:3px;'>{% trans 'Failed' %}</span>
                <span id="failed">{{data.failed_host_num}}</span>
            </div>

            <div class="badge pull-right" style="background-color:#101010;margin:5px;padding:5px;">
                <span style='margin:3px;'>{% trans 'Undeployed' %}</span>
                <span id="undeploy">{{data.undeploy_host_num}}</span>
            </div>
    </div>

    <div style="margin-top:40px;">
        {{ table.render }}
    </div>

    <input type="hidden" value="{{cluster_id}}" id="cluster_id">

    <div class="modal fade" id="export_cluster_modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseGenerateClusterTemplateDialog()" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans 'Generate Cluster Template' %}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-generate-cluster-template" method="post">
                        <fieldset>
                            <div style="clear:both" class="form-group">
                                <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cluster_template_name" class="col-sm-2 control-label">{% trans 'Template Name' %}</label>
                                <div style="float:left; width:2%; ">*</div>
                                <div style="float:left; width:68%; " class="col-sm-4">
                                    <input type="text" id="cluster_template_name" name="cluster_template_name" class="form-control" placeholder="{% trans 'Template Name' %}">
                                </div>
                            </div>
                            <div style="clear:both" class="form-group">
                                <label style="float:left; width:30%; font-size:12px; text-align:right; height:30px" for="cluster_template_desc" class="col-sm-2 control-label">{% trans 'Description' %}</label>
                                <div style="float:left; width:2%;">&nbsp;</div>
                                <div style="float:left; width:68%;" class="col-sm-4">
                                    <textarea class="form-control" rows="3" id="cluster_template_desc" name="cluster_template_desc" placeholder="{% trans 'Description' %}"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer" style="background-color: #F1F1F1">
                    <div class="pull-right">
                        <input type="button" class="btn btn-primary" onclick="GenerateClusterTemplate()" value="{% trans 'Generate Cluster Template' %}" id="btn_export_cluster" />
                        <input type="button" class="btn btn-default cancel" onclick="CloseGenerateClusterTemplateDialog()" value='{% trans "Cancel" %}' />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>
        {% trans 'Cluster Deploy Info:' %}

        <div class="btn-group pull-right" style="margin:6px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Cluster operations' %} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
                <a href="{% url 'horizon:environment:cluster:modify' cluster_id %}">
                    <span class="glyphicon glyphicon-edit"></span> {% trans 'Modify Cluster' %}
                </a>
            </li>
            <li>
                <a href="#" onclick="upgrade_cluster('{{ cluster_id }}')">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span> {% trans 'Upgrade Cluster' %}
                </a>
            </li>
            <li>
                <a href="#" onclick="uninstall_tecs('{{ cluster_id }}')">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span> {% trans 'Uninstall Tecs' %}
                </a>
            </li>
            <li>
                <a href="#" onclick="ShowGenerateClusterTemplateDiag('{{ current_cluster }}')">
                    <span class="glyphicon glyphicon-new-window"></span> {% trans 'Generate Cluster Template' %}
                </a>
            </li>
            <li>
                <a href="#" onclick="deploy_cluster('{{ cluster_id }}')">
                    <span class="glyphicon glyphicon-cloud"></span> {% trans 'Deploy Cluster' %}
                </a>
            </li>
          </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="pull-right">
        <a class="btn btn-default" href="/dashboard/environment/" role="button">
            {% trans 'Return Cluster List' %}
        </a>
    </div>
{% endblock %}
