{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "System Config" %}
{% endblock %}

{% block page_header %}
  {% trans "System Config" %}
{% endblock page_header %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
    <script type="text/javascript">

    function modify_systemconfig_click(cluster_id){
        var hwmip = $("#hwmip").attr("value");
        var hwmip_description = $('#hwmip_description').attr('value');
        
        url = "/dashboard/environment/system/modify_systemconfig";
        next = "/dashboard/environment/system/systemconfig";
        do_post(url, JSON.stringify({'hwmip':hwmip, 'hwmip_description': hwmip_description}), next);
    }

    function checkIP(str){
        if (str === "")
            return true;
        var reg = new RegExp("^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$");
        if (!reg.test(str))
            return false;
        return true;
    }

    function checkCIDR(cidr){
        if (cidr == ""){
            return true;
        }
        var reg = new RegExp("^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])(\/([0-9]|[1-2][0-9]|3[0-2]))$");
        if (!reg.test(cidr)){
            return false;
        }
        return true;
    }    

    function SetPxeserver(){
        $(".form-deployserver").data('bootstrapValidator').validate();
        if (!$(".form-deployserver").data('bootstrapValidator').isValid())
            return;

        var pxeserver = {
            "netid": $("#deploynetid").val(),
            "deployment_interface": $("#deployport").val(),
            "serverip": $("#deployserverip").val(),
            "cidr": $("#deploycidr").val(),
            "startip": $("#deployip_start").val(),
            "endip": $("#deployip_end").val()
        }

        var url = "/dashboard/environment/system/set_pxeserver";
        do_post(url, JSON.stringify(pxeserver));
    }

    $(function(){
        $(".form_systemconfig").bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                hwmip: {
                    validators: {
                        callback: {
                            callback: checkIP,
                            message: "{% trans 'IP starting address format is wrong,correct format is:xxx.xxx.xxx.xxx' %}"
                        }
                    }
                },                
            }
        });

        $(".form-deployserver").bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                deployport: {
                    validators: {
                        notEmpty: {
                            message: "{% trans 'Please input nic name for pxeserver!' %}"
                        }
                    }
                },
                deployserverip: {
                    validators: {
                        notEmpty: {
                            message: "{% trans 'Please input ip for pxeserver!' %}"
                        },
                        callback: {
                            callback: checkIP,
                            message: "{% trans 'IP format is wrong,correct format is:xxx.xxx.xxx.xxx' %}"
                        }                         
                    }
                },                
                deploycidr: {
                    validators: {
                        notEmpty: {
                            message: "{% trans 'Please input CIDR for pxeserver!' %}"
                        },
                        callback: {
                            callback: checkCIDR,
                            message: "{% trans 'CIDR format is wrong,correct format is:xxx.xxx.xxx.xxx/xx' %}"
                        }                         
                    }
                },
                deployip_start: {
                    validators: {
                        callback: {
                            callback: checkIP,
                            message: "{% trans 'IP starting address format is wrong,correct format is:xxx.xxx.xxx.xxx' %}"
                        }                        
                    }
                },
                deployip_end: {
                    validators: {
                        callback: {
                            callback: checkIP,
                            message: "{% trans 'IP ending address format is wrong,correct format is:xxx.xxx.xxx.xxx' %}"
                        }                        
                    }
                }                
            }
        });        
    });
    </script>
{% endblock %}

{% block main %}
<div class="panel-heading">
    <div style="margin:0px 100px 0px 100px;border-bottom:1px solid #ddd;">    
        <h4>{% trans 'HWM IP' %}</h4>
    </div>    
</div>
<div class="panel-body">
    <form class="form-horizontal form_systemconfig">
        <div style="clear:both" class="form-group">
            <label for="hwmip" class="col-sm-4 control-label">{% trans 'HWM IP' %}</label>
            <div style="float:left;" class="col-sm-4">
                <input type="text" id="hwmip" name="hwmip" class="form-control" value={{hwmip}}>
            </div>
        </div>
        
        <div style="clear:both" class="form-group">
            <label for="hwmip_description" class="col-sm-4 control-label">{% trans 'HWM IP Description' %}</label>
            <div style="float:left;" class="col-sm-4">
                <input type="text" id="hwmip_description" name="hwmip_description" class="form-control" value={{hwmip_description}} >
            </div>
        </div>
        
        <div style="clear:both" class="form-group">
            <label class="control-label col-sm-5"></label>
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary" onclick="modify_systemconfig_click()">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>
</div>
<div class="panel-heading">
    <div style="margin:20px 100px 0px 100px;border-bottom:1px solid #ddd;">
        <h4>{% trans "PXE Server Settings"%}</h4>
    </div>
</div>
<div class="panel-body">
    <form class="form-horizontal form-deployserver" style="margin-top:15px;">
        <div class="panel-body">
            <div>
                <input id="deploynetid" type="hidden" value="{{ net.id }}">
            </div>
            <div style="clear:both" class="form-group">
                <label class="col-sm-4 control-label" style="text-align:right;">{% trans 'NIC' %}</label>
                <div class="col-xs-4">
                    <input name="deployport" type="text" class="form-control" id="deployport" placeholder="{% trans 'NIC' %}" value=""/>
                </div>
            </div>
            <div style="clear:both" class="form-group">
                <label class="col-sm-4 control-label" style="text-align:right;">{% trans 'Server IP' %}</label>
                <div class="col-xs-4">
                    <input name="deployserverip" type="text" class="form-control" id="deployserverip" placeholder="{% trans 'Server IP' %}" value="{{ net.ip }}"/>
                </div>
            </div>
            <div style="clear:both" class="form-group">
                <label for="deploycidr" class="col-sm-4 control-label" style="text-align:right;">CIDR</label>
                <div class="col-sm-4">
                    <input name="deploycidr" type="text" class="form-control" id="deploycidr" placeholder="CIDR" value="{{ net.cidr }}">
                </div>
            </div>
            <div style="clear:both" class="form-group">
                <label class="col-sm-4 control-label" style="text-align:right;">{% trans 'IP Begin' %}</label>
                <div class="col-xs-4">
                    <input name="deployip_start" type="text" class="form-control" id="deployip_start" placeholder="{% trans 'IP starting address' %}" value="{{ net.ip_ranges.0.start }}"/>
                </div>
            </div>
            <div style="clear:both" class="form-group">
                <label class="col-sm-4 control-label" style="text-align:right;">{% trans 'IP End' %}</label>
                <div class="col-xs-4">
                    <input name="deployip_end" type="text" class="form-control" id="deployip_end" placeholder="{% trans 'IP ending address' %}" value="{{ net.ip_ranges.0.end }}"/>
                </div>
            </div> 
            <div style="clear:both" class="form-group">
                <label class="control-label col-sm-5"></label>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary" onclick="SetPxeserver()">{% trans "Save"%}</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
