<script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
<script type='text/javascript' charset='utf-8'>
function reload_network_window(){
    var cluster_id = $("#input-network-cluster-id").val();
    if ($("#input-is-wizard").val() == "0"){
        window.location = '/dashboard/environment/cluster/'+ cluster_id + '/overview?tab=net-plane-tab';
    }
    else{
        window.location = "/dashboard/environment/network/" + cluster_id + "/";
    }
}

function do_net_plane_post(location, data, callback){
    $.ajax({
        type: 'POST',
        url:  location,
        data: data,
        dataType: 'json',
        async: false,
        success: function (data) {
            if (callback!=null){
                callback();
            }
        },
        error: function(data) {
        }
    });
}

function modifyNetPlane(){
    var net_planes = new Array();
    $(".net_plane").each(function(){
        var name = $.trim($(this).text());
        var ip_ranges = new Array();
        $('.'+name+'ip_ranges div.ip_range').each(function(){
            var start = $(this).find("input[name='ip_start']").val();
            var end   = $(this).find("input[name='ip_end']").val();
            if (start != "" && end != ""){
                var ip_range = {
                                "start":start,
                                "end":end
                                };
                ip_ranges.push(ip_range);
            }
        });
        var net_plane = {
            "cluster_id":$("#"+name+"cluster_id").val(),
            "name":name,
            "cidr":$("#"+name+"cidr").val(),
            "gateway":$("#"+name+"gateway").val(),
            "ip_ranges":ip_ranges,
            "vlan_start":parseInt($("#"+name+"vlanstart").val(), 10),
            "vlan_end":parseInt($("#"+name+"vlanend").val(), 10),
            "id":$("#"+name+"netid").val(),
            "description":$("#"+name+"description").val()
        }
        net_planes.push(net_plane);
    })
    var url = "/dashboard/environment/network/modify/";
    do_net_plane_post(url, JSON.stringify({'nets': net_planes}), reload_network_window);
}

function checkCIDR(cidr){
    if (cidr == ""){
        return true;
    }
    var reg = new RegExp("^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$");
    if (!reg.test(cidr)){
        return false;
    }
    return true;
}

function checkGateway(gateway){
    if (gateway == "None" || gateway == ""){
        return true;
    }
    var reg = new RegExp("^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");
    if (!reg.test(gateway)){
        return false;
    }
    return true;
}

function checkIP(str){
    if (str === "")
        return true;
    var reg = new RegExp("^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");
    if (!reg.test(str))
        return false;
    return true;
}

$(function(){
    $("#btnNetWorkReset").on('click', function(){
        reload_network_window();
    });
    //删除原有IP范围
    $(".delete_ip_range").on('click', function(){
        var fieldStartName = $(this).attr('data-name-start');
        var fieldEndName   = $(this).attr('data-name-end');
        $('.form-net-plane').bootstrapValidator('removeField', fieldStartName);
        $('.form-net-plane').bootstrapValidator('removeField', fieldEndName);
        $(this).parent().parent().parent().parent().remove();
    });

    //动态添加IP范围表单验证
    $(".add_ip_range").on('click', function() {
        var $that     = $(this),
            net_name  = $that.attr('net-name');
            $template = $('#'+net_name+'template'),
            $newRow   = $template.clone().removeAttr('id').addClass('ip_range').insertBefore($template).show();

        // Set the label and field name
        var fieldStartName = $that.attr('data-name-start');
        var fieldEndName   = $that.attr('data-name-end');
        $newRow
            .find('input:first')
                .attr('name', fieldStartName)
                .end()
            .find('input:last')
                .attr('name', fieldEndName)
                .end()
            .on('click', '.delete_dynamic_ip_range', function() {
                    // Remove field when clicking the Remove button
                    $('.form-net-plane').bootstrapValidator('removeField', fieldStartName);
                    $('.form-net-plane').bootstrapValidator('removeField', fieldEndName);
                    // Remove element
                    $(this).parent().parent().parent().parent().remove();
                });

        // Add new field
        $('.form-net-plane').bootstrapValidator('addField', fieldStartName, {
            message: 'IP起始地址不合法，正确格式：xxx.xxx.xxx.xxx',
            validators: {
                callback: {
                    callback: checkIP,
                    message: 'IP起始地址不合法，正确格式：xxx.xxx.xxx.xxx'
                }
            }
        });
        $('.form-net-plane').bootstrapValidator('addField', fieldEndName, {
            message: 'IP结束地址不合法，正确格式：xxx.xxx.xxx.xxx',
            validators: {
                callback: {
                    callback: checkIP,
                    message: 'IP结束地址不合法，正确格式：xxx.xxx.xxx.xxx'
                }
            }
        });
    });

    $('.form-net-plane').bootstrapValidator({
        message: 'This value is not valid',
        excluded: ':disabled',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            cidr: {
                validators: {
                    callback: {
                        callback: checkCIDR,
                        message: 'CIDR不合法，正确格式：xxx.xxx.xxx.xxx/xx'
                    }
                }
            },
            gateway: {
                validators: {
                    callback: {
                        callback: checkGateway,
                        message: '网关不合不合法，正确格式：xxx.xxx.xxx.xxx'
                    }
                }
            },
            vlanstart: {
                validators: {
                    notEmpty: {
                        message: 'VLAN起始编号不能为空'
                    },
                    digits: {
                        message: 'VLAN起始编号只能为数字'
                    }
                }
            },
            vlanend: {
                validators: {
                    notEmpty: {
                        message: 'VLAN结束编号不能为空'
                    },
                    digits: {
                        message: 'VLAN结束编号只能为为数字'
                    }
                }
            },
            ip_start:{
                message: 'IP起始地址不合法，正确格式：xxx.xxx.xxx.xxx',
                validators: {
                    callback: {
                        callback: checkIP,
                        message: 'IP起始地址不合法，正确格式：xxx.xxx.xxx.xxx'
                    }
                }
            },
            ip_end:{
                message: 'IP结束地址不合法，正确格式：xxx.xxx.xxx.xxx',
                validators: {
                    callback: {
                        callback: checkIP,
                        message: 'IP结束地址不合法，正确格式：xxx.xxx.xxx.xxx'
                    }
                }
            }
        }
    }).on('error.form.bv', function(e) {
        // Active the panel element containing the first invalid element
        var $form         = $(e.target),
            validator     = $form.data('bootstrapValidator'),
            $invalidField = validator.getInvalidFields().eq(0),
            $collapse     = $invalidField.parents('.collapse');

        $collapse.collapse('show');
        $('.btn-primary').removeAttr('disabled').removeClass('disabled');
    }).on('success.form.bv', function(e){
        // Prevent form submission
        e.preventDefault();

        // Get the form instance
        var $form = $(e.target);

        // Get the BootstrapValidator instance
        var bv = $form.data('bootstrapValidator');
        modifyNetPlane();
        $('.btn-primary').removeAttr('disabled').removeClass('disabled');
    });
})

</script>

<!-- <h1> This is a {{viewclass}} </h1> -->
<h3>网络平面</h3>
<form class="form-horizontal form-net-plane">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for anet in network.networks %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{ anet.name }}">
                <h4 class="panel-title">
                    <a role="button" class="net_plane" data-toggle="collapse" data-parent="#selector" href="#collapse{{ anet.name }}"
                       {% if forloop.first %}
                       aria-expanded="true"
                       {% else %}
                       aria-expanded="false"
                       {% endif %} aria-controls="collapse{{ anet.name }}">
                    {{ anet.name }}
                    </a>
                </h4>
            </div>
            <div id="collapse{{ anet.name }}" class="panel-collapse collapse {% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{ anet.name }}">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="{{ anet.name }}cidr" class="col-sm-2 control-label">CIDR</label>
                        <div class="col-sm-4">
                            <input name="cidr" type="text" class="form-control" id="{{ anet.name }}cidr" placeholder="CIDR" value="{{ anet.cidr }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ anet.name }}gateway" class="col-sm-2 control-label">网关</label>
                        <div class="col-sm-4">
                            <input name="gateway" type="text" class="form-control" id="{{ anet.name }}gateway" placeholder="网关" value="{{ anet.gateway }}">
                        </div>
                    </div>
                    <div>
                        <input id="{{ anet.name }}cluster_id" type="hidden" value="{{ anet.cluster_id }}">
                        <input id="{{ anet.name }}countipranges" type="hidden" value="1">
                        <input id="{{ anet.name }}netid" type="hidden" value="{{ anet.id }}">
                    </div>
                    <div class="{{ anet.name }}ip_ranges">
                        {% if anet.ip_ranges %}
                        {% for iprange in anet.ip_ranges %}
                        <div class="form-group ip_range">
                            <label class="col-sm-2 control-label">{% if forloop.first %}IP范围{% endif %}</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <input name="ip_start" type="text" class="form-control" placeholder="IP起始地址" value="{{ iprange.start }}"/>
                                    </div>
                                    <div class="col-xs-1" style="height:34px;line-height:34px;text-align:center;">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </div>
                                    <div class="col-xs-3">
                                        <input name="ip_end" type="text" class="form-control" placeholder="IP结束地址" value="{{ iprange.end }}"/>
                                    </div>
                                    <div class="col-xs-1" style="height:34px;line-height:34px;">
                                        {% if forloop.first %}
                                        <a href="#" class="add_ip_range" net-name="{{ anet.name }}" data-name-start="ip_start" data-name-end="ip_end">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                        {% else %}
                                        <a href="#" data-name-start="ip_start" data-name-end="ip_end" class="delete_ip_range"><span class="glyphicon glyphicon-minus"></span></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="form-group ip_range">
                            <label class="col-sm-2 control-label">IP范围</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <input name="ip_start" type="text" class="form-control" placeholder="IP起始地址" value=""/>
                                    </div>
                                    <div class="col-xs-1" style="height:34px;line-height:34px;text-align:center;">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </div>
                                    <div class="col-xs-3">
                                        <input name="ip_end" type="text" class="form-control" placeholder="IP结束地址" value=""/>
                                    </div>
                                    <div class="col-xs-1" style="height:34px;line-height:34px;">
                                        <a href="#" class="add_ip_range" net-name="{{ anet.name }}" data-name-start="ip_start" data-name-end="ip_end">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif%}
                        <!-- Template for dynamic field -->
                        <div class="form-group" id="{{ anet.name }}template" style="display:none;">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" placeholder="IP起始地址" value=""/>
                                    </div>
                                    <div class="col-xs-1" style="height:34px;line-height:34px;text-align:center;">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" placeholder="IP结束地址" value=""/>
                                    </div>
                                    <div class="col-xs-1" style="height:34px;line-height:34px;">
                                        <a href="#" class="delete_dynamic_ip_range"><span class="glyphicon glyphicon-minus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ anet.name }}vlanstart" class="col-sm-2 control-label">VLAN范围</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-xs-3">
                                    <input name="vlanstart" type="text" class="form-control" id="{{ anet.name }}vlanstart" placeholder="VLAN起始编号" value="{{ anet.vlan_start }}"/>
                                </div>
                                <div class="col-xs-1" style="height:34px;line-height:34px;text-align:center;">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </div>
                                <div class="col-xs-3">
                                    <input name="vlanend" type="text" class="form-control" id="{{ anet.name }}vlanend" placeholder="VLAN结束编号" value="{{ anet.vlan_end }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ anet.name }}type" class="col-sm-2 control-label">网络类型</label>
                        <div class="col-sm-2">
                            <label id="{{ anet.name }}type">{{ anet.type }}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{ anet.name }}description" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" id="{{ anet.name }}description" placeholder="描述" rows="3">{{ anet.description }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div style="margin-top:25px;">
            <div class="pull-right">
                <a class="btn btn-primary {% ifequal network.is_wizard '0' %}hide{% endifequal%}" id="btnNext"  href="/dashboard/environment/cluster/{{ cluster_id }}/overview" role="button">上一步</a>                
                <button type="reset" class="btn" id="btnNetWorkReset">重置</button>
                <button type="submit" class="btn btn-primary" id="btnNetWorkModify">修改</button>
                <input id="input-is-wizard" type="hidden" value="{{network.is_wizard}}">
                <input id="input-network-cluster-id" type="hidden" value="{{network.cluster_id}}">
                <a class="btn btn-primary {% ifequal network.is_wizard '0' %}hide{% endifequal%}" id="btnNext"  href="/dashboard/environment/network/{{ cluster_id }}/logicnet" role="button">下一步</a>
            </div>
        </div>

    </div>
</form>

