{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}add_host_to_cluster{% endblock %}
{% block form_action %}{% url "horizon:environment:host:addtocluster" host_id %}{% endblock %}

{% block modal_id %}add_host_to_cluster_modal{% endblock %}
{% block modal-header %}{% trans "Add To Cluster" %}{% endblock %}

{% block modal-body %}
  {% include "horizon/common/_form_fields.html" %}
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary" type="submit" value="{% trans 'Add To Cluster' %}" />
  <input type="button" class="btn btn-default cancel pull-right" onclick="operate_close()" value="{% trans 'Cancel' %}" />
{% endblock %}