{% load form_helpers %}

<div class="form-group{% if field.errors %} has-error{% endif %} {{ field.css_classes }}">
    {% if field.auto_id %}
      <label class="hide control-label {{ classes.label }} {% if field.field.required %}{{ form.required_css_class }}{% endif %}" for="{{ field.auto_id }}">{{ field.label }}</label>
    {% endif %}

    <div class="{{ classes.value }} {{ field|wrapper_classes }}">
        <div class='input-group'>
          <span class="input-group-addon">
            {% if field.auto_id == 'id_username' %}
                <span class="glyphicon glyphicon-user"></span>
            {% else %}
                <span class="glyphicon glyphicon-lock"></span>
            {% endif %}
          </span>
          {{ field|add_bootstrap_class }}
        </div>
      {% for error in field.errors %}
        <span class="help-block alert alert-danger {{ form.error_css_class }}">{{ error }}</span>
      {% endfor %}
    </div>
</div>
