{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}add_host_form{% endblock %}
{% block form_action %}{% url 'horizon:environment:deploy:addhost' cluster_id %}{% endblock %}

{% block modal-header %}{% trans "Add" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Ok" %}" />
  <a href="{% url 'horizon:environment:deploy:hosts' cluster_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}