{% load i18n %}
{% load context_selection %}

<script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
<script type='text/javascript' charset='utf-8'>
    
</script>

<form class="form-horizontal form-host-config">
    <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "OS Version File" %}</label>
        <div class="col-sm-4">
            {% if version_files %}
            <select name="os_version_file" class="form-control input_os_version_file">
                {% for version_file in version_files %}
                <option value="{{version_file}}">{{version_file}}</option>
                {% endfor %}
            </select>
            {% else %}
            <input name="os_version_file" type="text" class="form-control input_os_version_file" placeholder='{% trans "OS Version File" %}'>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="input_root_disk" class="col-sm-2 control-label">{% trans "ROOT Disk" %}</label>
        <div class="col-sm-4">
            <input name="root_disk" id="input_root_disk" type="text" class="form-control" placeholder='{% trans "ROOT Disk" %}'>
        </div>
    </div>
    <div class="form-group">
        <label for="input_root_lv_size" class="col-sm-2 control-label">{% trans "ROOT LV Size(GB)" %}</label>
        <div class="col-sm-4">
            <input name="root_lv_disk" id="input_root_lv_size" type="text" class="form-control" placeholder='{% trans "ROOT LV Size(GB)" %}'>
        </div>
        <div class="col-sm-4">
            <span class="help-inline">{% trans "Cannot be less than 50G, and cannot be greater than the remaining disk size" %}</span>
        </div>
    </div>
    <div class="form-group">
        <label for="input_ipmi_user" class="col-sm-2 control-label">{% trans "IPMI User" %}</label>
        <div class="col-sm-4">
            <input name="ipmi_user" id="input_ipmi_user" type="text" class="form-control" placeholder='{% trans "IPMI User" %}'>
        </div>
    </div>                        
    <div class="form-group">
        <label for="input_ipmi_passwd" class="col-sm-2 control-label">{% trans "IPMI Password" %}</label>
        <div class="col-sm-4">
            <input name="ipmi_passwd" id="input_ipmi_passwd" type="password" class="form-control" placeholder='{% trans "IPMI Password" %}'>
        </div>
    </div>
  
</form>
