{% extends 'base.html' %}
{% load i18n %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block css %}
{% include "_stylesheets.html" %}
<link rel="stylesheet" href="/dashboard/static/dashboard/scss/host_role.css" type="text/css" media="screen">
<style>
    .td_disabled{
        background-color:#AEAEAE;
        color:#F1F1F1;
    }
    .td_disabled:hover{
        cursor:not-allowed;
    }
</style>
{% endblock%}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>         
        {% trans 'Bond Net Port' %}
    </div>
{% endblock %}

{% block operate_region %}
<div class="row" style="margin-top:20px;">
    <div class="col-sm-8 col-md-offset-4">
        <form class="form-horizontal form-bond-net-port">
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans "Net Port" %}</label>
                <div class="col-sm-8 bond_net_port_names">
                </div>
            </div>
            <div class="form-group net_port_config ether_config">
                <label for="input_bond_name" class="col-sm-2 control-label">{% trans "Name" %}</label>
                <div class="col-sm-4">
                    <input name="bond_name" id="input_bond_name" type="text" class="form-control" placeholder='{% trans "Name" %}'>
                </div>
            </div>
            <div class="form-group net_port_config ether_config">
                <label for="select_bond_type" class="col-sm-2 control-label">{% trans "Bond Type" %}</label>
                <div class="col-sm-4">
                    <select class="form-control" id="select_bond_type">
                        <option value="linux">linux</option>
                        <option value="dvs">dvs</option>
                        <option value="osr-iov/ovs">sr-iov/ovs</option>                        
                    </select>
                </div>
            </div>
            <div class="form-group net_port_config ether_config" id="select_bond_mode_linux_block">
                <label for="select_bond_mode_linux" class="col-sm-2 control-label">{% trans "Bond Mode" %}</label>
                <div class="col-sm-4">
                    <select class="form-control" id="select_bond_mode_linux">
                        <option value="active-backup">active-backup</option>
                        <option value="balance-xor">balance-xor</option>
                        <option value="802.3ad">802.3ad</option>
                    </select>
                </div>
            </div>
            <div class="form-group net_port_config ether_config" id="select_bond_mode_ovs_block">
                <label for="select_bond_mode_ovs" class="col-sm-2 control-label">{% trans "Bond Mode" %}</label>
                <div class="col-sm-4">
                    <select class="form-control" id="select_bond_mode_ovs">
                        <option value="active-backup">active-backup</option>
                        <option value="balance-slb">balance-slb</option>
                        <option value="balance-tcp">balance-tcp</option>
                    </select>
                </div>
            </div>
            <div class="form-group net_port_config ether_config" id="select_lacp_mode_block">
                <label for="select_lacp_mode" class="col-sm-2 control-label">{% trans "Lacp Mode" %}</label>
                <div class="col-sm-4">
                    <select class="form-control" id="select_lacp_mode">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary net_port_config ether_config" onclick="BondNetPort()" disabled="disabled">
                        {% trans "Bond" %}
                    </button>
                    <button type="button" class="btn btn-primary net_port_config bond_config" onclick="UnBondNetPort()" disabled="disabled">
                        {% trans "UnBond" %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block main %}
    <input type="hidden" value="{{cluster_id}}" id="cluster_id">
    {{table.render}}
{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
    <script type='text/javascript' charset='utf-8'>

    function OnReloadWindow()
    {
        var host_id = "";
        $(".table-row-multi-select:checked").each(function(){
            host_id += $(this).val() + "_";
        })
        if ($(".select_all").attr("checked"))
        {
            host_id += "-1" + "_";
        }
        host_id = host_id.substr(0, host_id.length - 1);
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + "/bonding?host_id=" + host_id;
        window.location.href = url;
    }

    function BindEthPortInfo2CheckBox()
    {
        var $checkbox = $(".table-row-multi-select");
        $checkbox.each(function(){
            var cur_tr = $(this).parent().parent();//定位当前行
            var cur_tds = cur_tr.find("td");//定位当前行所有列
            var os_status = $.trim(cur_tds.eq(3).text());
            if (os_status == "active")
            {
                cur_tr.removeAttr("class");
                $(this).removeClass("table-row-multi-select").attr("disabled", true);
                for(var i = 0;i < cur_tds.length;i++)
                {
                    cur_tds.eq(i).css("background-color", "#AEAEAE");
                    cur_tds.eq(i).addClass("td_disabled");
                }
            }
            else
            {
                var eth_port_list = [];
                for(var i = 4;i < cur_tds.length;i++)/*操作系统状态列被隐藏*/
                {
                    var td = cur_tds.eq(i);
                    var eth_name = td.find(".interface_name:first").val();
                    var type = td.find(".interface_type:first").val();
                    if (eth_name != null){
                        eth_port_list.push({
                            "name": eth_name,
                            "type":type
                        });
                    }
                }
                $(this).data("eth_port_list", eth_port_list);
            }
        })
    }

    function CompareNetPort(net_port_1, net_port_2)
    {
        for(var i = 0;i < net_port_1.length;i++)
        {
            var j = 0;
            for(;j < net_port_2.length;j++)
            {
                if(net_port_1[i]["name"] == net_port_2[j]["name"] &&
                    net_port_1[i]["type"] == net_port_2[j]["type"])
                {
                    break;
                }
            }
            if (j >= net_port_2.length)
            {
                return false;
            }
        }
        return true;
    }

    function SetCkbDisabledByNetPort(eth_port_info_list, trs, cur_eth_port_name)
    {
        for(var i = 0;i < trs.length;i++)
        {
            var tr = trs.eq(i);
            var it_check_box = tr.find("td:first input.table-row-multi-select");
            if (it_check_box.length == 0)
            {
                continue;
            }
            if (it_check_box.val() == cur_eth_port_name)
            {
                continue;
            }
            var it_eth_port_list = it_check_box.data("eth_port_list");
            if (!(CompareNetPort(eth_port_info_list, it_eth_port_list) &&
                CompareNetPort(it_eth_port_list, eth_port_info_list)))
            {
                it_check_box.attr("disabled", true);
            }
        }
    }

    function ControlHostsCheckbox(cur_ckb)
    {
        var cur_eth_port_list = cur_ckb.data("eth_port_list");
        if(cur_ckb.attr("checked"))/*选中*/
        {
            var checked_cbk = $(".table-row-multi-select:checked");
            if (checked_cbk.length == $(".table-row-multi-select").length)
            {
                $(".select_all").attr("checked", true);
            }
            var cur_tr = cur_ckb.parent().parent();//定位当前行
            var tbody = cur_tr.parent();//定位当前表格主体
            var trs = tbody.find("tr");//定位表格主体所有行
            /*将网口上不一致的checkbox置灰*/
            SetCkbDisabledByNetPort(cur_eth_port_list, trs, cur_ckb.val());
        }
        else
        {
            if($(".table-row-multi-select:checked").length == 0)
            {
                $(".table-row-multi-select").attr("disabled", false);
                $(".select_all").attr("checked", false);
            }
        }
    }

    function ControlNetPortCheckbox($cbk)
    {
        //全不选
        var checked_net_port = $(".net_port_name:checked");
        if (checked_net_port.length == 0)
        {
            $("div.net_port_config").show();            
            $("#select_bond_type").val("linux");
            $("#select_bond_type").change();
            $("#select_bond_mode_ovs").val("active-backup");
            $("#select_bond_mode_ovs").change();
            $("button.net_port_config").attr("disabled", true);
        }
        if (CheckNetPortName())
        {
            var $first_net_port = $(".net_port_name:checked:first");
            if($first_net_port.length == 0)
                return;
            var class_name = $first_net_port.attr("class").split(" ")[1];
            $("div.net_port_config").hide();
            $("div." + class_name).show();
            if(class_name == "ether_config")
            {
                $("#select_bond_type").val("linux");
                $("#select_bond_type").change();
                $("#select_bond_mode_ovs").val("active-backup");
                $("#select_bond_mode_ovs").change();
            }
            $("button.net_port_config").attr("disabled", true);
            $("button."+class_name).attr("disabled", false);
        }
    }

    function CheckNetPortTypeIsSame()
    {
        var is_same = true;
        var $checked_net_port = $(".net_port_name:checked");
        if($checked_net_port.length == 0)
            return is_same;
        var $first_net_port = $(".net_port_name:checked:first");
        var net_port_class_name = $first_net_port.attr("class").split(" ")[1];
        $checked_net_port.each(function(){
            var class_name = $(this).attr("class").split(" ")[1];
            if(net_port_class_name != class_name){
                is_same = false;
            }
        });
        return is_same;
    }

    function CheckNetPortName()
    {
        var $checked_net_port = $(".net_port_name:checked");
        if(!CheckNetPortTypeIsSame())
        {
            return false;
        }
        var $first_net_port = $(".net_port_name:checked:first");
        if($first_net_port.hasClass("ether_config"))
        {
            return $checked_net_port.length == 2;
        }
        else if($first_net_port.hasClass("bond_config"))
        {
            return $checked_net_port.length > 0;
        }
        return true;
    }

    function CheckBondName(bond_port_name)
    {
        var $first_net_port = $(".net_port_name:checked:first");
        if($first_net_port.hasClass("ether_config"))
        {
            var reg = new RegExp("^[a-zA-Z0-9]{1,8}$");
            return reg.test(bond_port_name)
        }
        return true;
    }

    function ShowCheckedHostBondNetPort()
    {
        var checked_cbk = $(".table-row-multi-select:checked");
        if (checked_cbk.length > 0)
        {
            if ($(".ckb_net_port_name").length > 0)
            {
                return;
            }
            var first_cbk = $(".table-row-multi-select:checked:first");
            var eth_port_list = first_cbk.data("eth_port_list");
            /*显示已有网口*/
            for (var i = 0;i < eth_port_list.length;i++)
            {
                /*添加已有网口*/
                var label = $('<label class="checkbox-inline ckb_net_port_name"></label>');
                var input = $('<input name="net_port_name" value="' + eth_port_list[i]["name"] +'" type="checkbox" class="net_port_name ' + eth_port_list[i]["type"] + '_config' + '">');
                label.append(input).append(eth_port_list[i]["name"]);
                $(".bond_net_port_names").append(label);
            }
            $('.form-bond-net-port').bootstrapValidator('addField', "net_port_name", {
                validators: {
                    callback: {
                        callback: CheckNetPortName,
                        message: "{% trans 'Select only two network interface binding, select at least one binding solution binding cannot be bound and ETH mass selection' %}"
                    }
                }
            });
            $(".net_port_name").on("click", function(){
                ControlNetPortCheckbox($(this));
            })
        }
        else
        {
            $(".form-bond-net-port").data('bootstrapValidator').resetForm();
            $(".form-bond-net-port").bootstrapValidator('removeField', "net_port_name");
            $(".ckb_net_port_name").remove();
        }
    }

    function BondNetPort()
    {
        var hosts = [];
        $(".form-bond-net-port").data('bootstrapValidator').validate();
        if (!$(".form-bond-net-port").data('bootstrapValidator').isValid())
            return;
        var $checkbox = $(".table-row-multi-select:checked");
        $checkbox.each(function(){
            hosts.push($(this).val());
        })
        $checkbox = $(".net_port_name:checked");
        var net_ports = [];
        $checkbox.each(function(){
            net_ports.push($(this).val());
        })
        var name = $("#input_bond_name").val();
        

        var bond_mode = "";
        if($('#select_bond_type').val() == "linux"){
            bond_mode = $("#select_bond_mode_linux").val();
        }
        else
        {
            bond_mode = $("#select_bond_mode_ovs").val() + $("#select_lacp_mode").val();
        }
        
        var bond_params = {
            "net_ports": net_ports,
            "name": name,
            "mode": bond_mode
        };
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/bond_net_port';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'bond_params': bond_params}), OnReloadWindow);
    }

    function UnBondNetPort(host_id, bond_name)
    {
        var hosts = [];
        $(".form-bond-net-port").data('bootstrapValidator').validate();
        if (!$(".form-bond-net-port").data('bootstrapValidator').isValid())
            return;
        var $checkbox = $(".table-row-multi-select:checked");
        $checkbox.each(function(){
            hosts.push($(this).val());
        })
        $checkbox = $(".net_port_name:checked");
        var net_ports = [];
        $checkbox.each(function(){
            net_ports.push($(this).val());
        })
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/un_bond_net_port';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'net_ports': net_ports}), OnReloadWindow);
    }

    function ControlAllHostCheckbox()
    {
        var is_same = true;
        var tbody = $("#bond_net_port tbody");//定位当前表格主体
        var trs = tbody.find("tr");//定位表格主体所有行
        for(var i = 0;i < trs.length;i++)
        {
            var it_check_box1 = trs.eq(i).find("td:first input.table-row-multi-select");
            if (it_check_box1.length == 0)
            {
                continue;
            }
            var it_eth_port_list1 = it_check_box1.data("eth_port_list");
            for(var j = i + 1;j < trs.length;j++)
            {
                var it_check_box2 = trs.eq(j).find("td:first input.table-row-multi-select");
                if (it_check_box2.length == 0)
                {
                    continue;
                }
                var it_eth_port_list2 = it_check_box2.data("eth_port_list");
                if (!((it_eth_port_list1.length == it_eth_port_list2.length) &&
                    CompareNetPort(it_eth_port_list2, it_eth_port_list1)))
                {
                    is_same = false;
                    break;
                }
            }
            if(!is_same)
            {
                $(".select_all").attr("disabled", true);
                break;
            }
        }
        $(".select_all").on("click",function(){
            if($(this).attr("checked")){
                $(".table-row-multi-select").attr("checked", true);
            }
            else{
                $(".table-row-multi-select").attr("checked", false);
            }
            ShowCheckedHostBondNetPort();
        })
    }

    function BondNetPortNext()
    {
        var url = '{% url "horizon:environment:deploy:bond_net_port_next" cluster_id %}';
        if (!($("button.ether_config").attr("disabled")) || !($("button.bond_config").attr("disabled")))
        {
            var title = '{% trans "Confirm to Discard" %}';
            var body = '{% trans "Changes in the bond net port, is discarded?" %}';
            var action = '{% trans "Confirm" %}'
            var modal = horizon.modals.create(title, body, action);
            modal.modal()
            modal.find('.btn-primary').click(function (evt) {
                modal.modal('hide');
                window.location.href = url;
            });
        }
        else
        {
            window.location.href = url;
        }
    }

    $("#select_bond_type").change(function()
    {
        bond_type = $('#select_bond_type').val();
        if(bond_type == "linux"){
            $('#select_bond_mode_ovs_block').hide();
            $('#select_lacp_mode_block').hide();
            $('#select_bond_mode_linux_block').show();
        }
        else
        {
            $('#select_bond_mode_ovs_block').show();
            $('#select_lacp_mode_block').show();
            $('#select_bond_mode_linux_block').hide();
        }
    });
    
    $("#select_bond_mode_ovs").change(function()
    {
        bond_type = $('#select_bond_mode_ovs').val();
        if((bond_type == "active-backup")||(bond_type == "balance-slb")){
            document.getElementById("select_lacp_mode").options.length = 0;
            document.getElementById("select_lacp_mode").options.add(new Option("off",";off"));
        }
        else
        {
            document.getElementById("select_lacp_mode").options.length = 0;
            document.getElementById("select_lacp_mode").options.add(new Option("off",";off"));
            document.getElementById("select_lacp_mode").options.add(new Option("active",";active"));
            document.getElementById("select_lacp_mode").options.add(new Option("passive",";passive"));
        }
    });
    
    function OnInit()
    {
        $('.form-bond-net-port').bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                bond_name: {
                    validators: {
                        callback: {
                            callback: CheckBondName,
                            message: "{% trans 'Name must consist of letters, numbers. The length of name is 2 to 8' %}"
                        }
                    }
                }
            }
        })
        $(".table-row-multi-select:first").removeClass("table-row-multi-select").addClass("select_all");
        BindEthPortInfo2CheckBox();
        ControlAllHostCheckbox();
        $(".table-row-multi-select").on("click", function(){
            ControlHostsCheckbox($(this));
            ShowCheckedHostBondNetPort();
        });
        var host_id = getArgs()["host_id"];
        if (host_id != null)
        {
            var host_id_list = host_id.split("_");
            for(var i = 0;i < host_id_list.length;i++)
            {
                $(".table-row-multi-select").each(function(){
                    if($(this).val() == host_id_list[i])
                    {
                        $(this).attr("checked",true);
                    }
                })
                if(host_id_list[i] == "-1")
                {
                    $(".select_all").attr("checked", true);
                }
            }
            var first_cbk = $(".table-row-multi-select:checked:first");
            ControlHostsCheckbox(first_cbk);
            ShowCheckedHostBondNetPort();
            $("#operate_region").fadeToggle("fast");
        }
        $("#select_bond_type").val("linux");
        $("#select_bond_type").change();
        $("#select_bond_mode_ovs").val("active-backup");
        $("#select_bond_mode_ovs").change();
    }
    horizon.addInitFunction(OnInit);
    </script>
{% endblock %}

{% block footer %}
    <div class='pull-right'>
        <a href='{% url "horizon:environment:deploy:hosts_role_assignment" cluster_id %}' class='btn btn-sm btn-default'>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          {% trans 'Prev' %}
        </a>
        <a href='#'class='btn btn-sm btn-success' onclick="BondNetPortNext()">
          {% trans 'Next' %}
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}