{% extends 'base.html' %}
{% load i18n %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block css %}
{% include "_stylesheets.html" %}
<link rel="stylesheet" href="/dashboard/static/dashboard/scss/host_role.css" type="text/css" media="screen">
<style>
    .dv_drag_base{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        padding-top:3%;
        padding-right:5px;
        height: 30px;
        width:80%;
        border-radius: 5px;
        background-color:rgb(119, 119, 119);
    }
    .dv_drag_CONTROLLER_HA{
        background-color:rgb(92, 184, 92);
    }
    .dv_drag_DOCTOR{
        background-color:rgb(51, 122, 183);
    }
    .dv_drag_COMPUTER{
        background-color:rgb(91, 192, 222);
    }
    .dv_drag_CONTROLLER_LB{
        background-color:rgb(240, 173, 78);
    }
    .dv_drag_ZENIC_NFM{
        background-color:rgb(198, 140, 164);
    }
    .dv_drag_ZENIC_CTL{
        background-color:rgb(181, 162, 104);
    }
    a.edit_float_ip:link,
    a.edit_float_ip:visited {
        color:white;
    }
</style>
{% endblock%}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>         
        {% trans "Role Assignment" %}
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" value="{{cluster_id}}" id="cluster_id">
    <div class="panel-body">
        <div class="container-fluid" style="height:100%">
            <div class="row">
                <div class="col-xs-10 col-md-10">
                    <div>
                        {{ table.render }}
                    </div>
                </div>
                <div class="col-xs-2 col-md-2" >
                    <h5>{% trans "Drag to Assign Role" %}</h5>
                    <div class="panel panel-default">
                        <div class="row drag_role_container">
                            {% for role in roles %}
                            <div class="dv_drag_base drag_role dv_drag_{{role.name}} {{role.id}}">
                                <span class="glyphicon glyphicon-move icon_drag_move" aria-hidden="true"></span>
                                <span class="role_text">{{ role.name }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
    <script type='text/javascript' charset='utf-8'>
    
    function ManuallyAssignRole(role_name)
    {
        var hosts = [];
        var $checkbox = $(".table-row-multi-select");
        $checkbox.each(function(){
            if($(this).attr("checked") && $(this).val() != "on"){
                hosts.push($(this).val());
            }
        })
        if(hosts.length == 0){
            horizon.alert('error', gettext("please select a host at least"));
            return;
        }
        for(var i = 0;i < hosts.length;i++)
        {
            var dropper = $("." + hosts[i]);
            AssignHostRole(dropper, role_name);
        }
    }

    function CreateDropRoleDiv(name, callback, param1, param2)
    {
        var class_name = "dv_drop_base dv_drop_" + name;
        var div = $('<div class="' + class_name + '"></div>');
        var span = $('<span class="role_text">' + name + '</span>');
        var button = $('<button type="button" class="close button_remove"></button>');
        if (callback != null){
            button.on("click", function(){
                callback(param1, param2);
            })
        }
        var icon = $('<span class="icon_white">&times;</span>');
        button.append(icon);
        div.append(span).append(button);
        return div;
    }

    function ResetDropperSize(dropper)
    {
        var height = 30;
        var role_count = dropper.find("div").length;
        var row_number = 1;
        var cur_row_number = parseInt(role_count / 5, 10);
        if (role_count % 5 > 0)
        {
            cur_row_number += 1;
        }
        if(cur_row_number > 1)
        {
            row_number = cur_row_number;
        }
        var height = row_number * height;
        dropper.css("height", height + "px");
    }

    function DeleteRole(host_id, del_role_name){
        var hosts = [];
        var roles = [];
        var class_name = host_id + "_" + del_role_name;
        var dropper = $("." + class_name).parent();
        var div_roles = dropper.find("div");
        for(var i = 0;i < div_roles.length;i++)
        {
            var role_name = div_roles.eq(i).find("span:first").text();
            if(role_name != del_role_name)
            {
                roles.push(role_name);
            }
        }
        hosts.push(host_id);
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/assign_host_role';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'roles': roles}));
        if (!ret){
            return;
        }
        $("." + class_name).remove();
        ResetDropperSize(dropper);
    }

    function AssignHostRole(dropper, role_name)
    {
        var divs = dropper.find("div");
        for(var i = 0;i < divs.length;i++)
        {
            var it_role_name = divs.eq(i).find("span:first").text();
            if(role_name == it_role_name)/*如果有重复，不操作*/
            {
                return;
            }
        }
        var hosts = [];
        var roles = [];
        var host_id = dropper[0].className.split(" ")[0];
        hosts.push(host_id);
        for (var i = 0;i < divs.length;i++)
        {
            var it_role_name = divs.eq(i).find("span:first").text();
            roles.push(it_role_name);
        }
        roles.push(role_name);
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/assign_host_role';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'roles': roles}));
        if (!ret){
            return;
        }
        ResetDropperSize(dropper);
        var div = CreateDropRoleDiv(role_name, DeleteRole, host_id, role_name);
        var class_name = host_id + "_" + role_name;
        div.addClass(class_name);
        div.appendTo(dropper);
    }

    function HostRoleNext(){
        var url = '{% url "horizon:environment:deploy:hosts_role_assignment_next" cluster_id %}';
        window.location.href = url;
    }

    function OnInit()
    {
        $( ".drag_role" ).draggable({
            cursor: "move",
            helper: function( event ) {
                var name = $.trim(this.textContent);
                return CreateDropRoleDiv(name);
            },
            revert: "invalid"
        });
        $( ".drop_role" ).droppable({
            hoverClass: "dv_drop_role_hover",
            accept: ".drag_role",
            drop: function( event, ui ) {
                var role_name = $.trim(ui.draggable.text());
                AssignHostRole($(this), role_name);
            }
        });
    }
    horizon.addInitFunction(OnInit);
    </script>
{% endblock%}

{% block footer %}
    <div class='pull-right'>
        <a href='{% url "horizon:environment:deploy:selecthosts" cluster_id %}' class='btn btn-sm btn-default'>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            {% trans 'Previous' %}
        </a>
         <a href='#' onclick="HostRoleNext()" class='btn btn-sm btn-success'>
          {% trans 'Next' %}
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}
