{% extends 'base.html' %}
{% load i18n %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block css %}
{% include "_stylesheets.html" %}
<link rel="stylesheet" href="/dashboard/static/dashboard/scss/host_role.css" type="text/css" media="screen">
<style>
    .td_disabled{
        background-color:#AEAEAE;
        color:#F1F1F1;
    }
    .td_disabled:hover{
        cursor:not-allowed;
    }
</style>
{% endblock%}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>         
        {% trans 'Host Config' %}
    </div>
{% endblock %}

{% block operate_region %}
<div>
    <ul class="nav nav-tabs" id="host_config_region">
        <li class="active" id="tab_baseinfo">
            <a href="#host_baseinfo" data-toggle="tab" data-target="#host_baseinfo">{% trans "basic info" %}</a>
        </li>
        <li class="" id="tab_compute_role">
            <a href="#host_compute_role" data-toggle="tab" data-target="#host_compute_role">{% trans "compute role info" %}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tab-panel" class="tab-pane active" id="host_baseinfo">
            {% include "environment/deploy/_base.html" %}
        </div>
        <div role="tab-panel" class="tab-pane" id="host_compute_role">
            {% include "environment/deploy/_compute_role.html" %}
        </div>
    </div>    

    <div class="form-group" align="center">
        <button type="button" class="btn btn-primary btn-default-config" disabled="disabled" onclick="DefaultCpuSetConfig()">
            {% trans "Default CPUs Set" %}
        </button>
        <button type="button" class="btn btn-primary btn-host-config" disabled="disabled" onclick="SetHostConfig()">
            {% trans "Save changes" %}
        </button>
    </div>
</div>
{% endblock %}

{% block main %}
    <input type="hidden" value="{{cluster_id}}" id="cluster_id">
    {{table.render}}
{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
    <script type='text/javascript' charset='utf-8'>
    var cpu_list = new Array();
    function split_cpuset_str(str){
        cpu_list = [];
        if (str.length == 0)
            return true;

        var cpuset_list = str.split(",");
        for(var i = 0;i < cpuset_list.length;i++)
        {
            var cpu_start_end_list = cpuset_list[i].split("-");
            if(cpu_start_end_list.length == 1)
            {
                cpu_list.push(cpu_start_end_list[0]);
            }
            else if(cpu_start_end_list.length == 2)
            {
                var cpu_start = parseInt(cpu_start_end_list[0]);
                var cpu_end   = parseInt(cpu_start_end_list[1]);
                if(cpu_start<= cpu_end)
                {
                    for(var cpu_index = cpu_start;cpu_index <= cpu_end;cpu_index++)
                    {
                        cpu_list.push(cpu_index.toString());
                    }
                }
                else
                {
                    return false;
                }

            }
            else
            {
                 return false;
            }
        }
        return true;
    }

    function ExistsSameValues(a1, a2) {
        if(a1 instanceof Array && a2 instanceof Array)
        {
            if(a1.length == 0 || a2.length == 0)
            {
                return false;
            }

            for (var i=0,iLen=a1.length; i<iLen; i++)
            {
                for (var j=0,jLen=a2.length; j<jLen; j++)
                {
                    if (a1[i]==a2[j])
                    {
                        return true;
                    }
                }
            }
        }
        return false;
    };
    function trim(str) {
        return str.replace(/(^\s*)|(\s*$)/g, "");
    }

    function OnReloadWindow()
    {
        var host_id = "";
        $(".table-row-multi-select:checked").each(function(){
            host_id += $(this).val() + "_";
        })
        if ($(".select_all").attr("checked"))
        {
            host_id += "-1" + "_";
        }
        host_id = host_id.substr(0, host_id.length - 1);
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + "/hosts_config?host_id=" + host_id;
        window.location.href = url;
    }

    function BindHostConfig2CheckBox()
    {
        var $checkbox = $(".table-row-multi-select");
        $checkbox.each(function(){
            var cur_tr = $(this).parent().parent();//定位当前行
            var cur_tds = cur_tr.find("td");//定位当前行所有列
            var os_status = $.trim(cur_tds.eq(3).text());
            if (os_status == "active")
            {
                cur_tr.removeAttr("class");
                $(this).removeClass("table-row-multi-select").attr("disabled", true);
                for(var i = 0;i < cur_tds.length;i++)
                {
                    cur_tds.eq(i).css("background-color", "#AEAEAE");
                    cur_tds.eq(i).addClass("td_disabled");
                }
            }
            else
            {
                var i = 4;
                var role_list = []
                var role_td = cur_tds.eq(2);
                var dv_drop_role_container = role_td.find("div.dv_drop_role_container");
                var dv_drop_roles = dv_drop_role_container.find("div.dv_drop_base");
                for (var index = 0;index < dv_drop_roles.length;index++)
                {
                    var role_name = $.trim(dv_drop_roles.eq(index).find("span.role_text").text());
                    role_list.push(role_name);
                }
                var os_version_file = $.trim(cur_tds.eq(i++).text());
                os_version_file = os_version_file == "-" ? "" : os_version_file;
                var root_disk = $.trim(cur_tds.eq(i++).text());
                root_disk = root_disk == "-"?"":root_disk;
                var root_lv_size = $.trim(cur_tds.eq(i++).text());
                root_lv_size = root_lv_size == "-" ? "" : root_lv_size;
                var ipmi_user = $.trim(cur_tds.eq(i++).text());
                var cpu_number = $.trim(cur_tds.eq(i++).text());
                var memory_size = $.trim(cur_tds.eq(i++).text());
                var huge_pages = $.trim(cur_tds.eq(i++).text());
                huge_pages = huge_pages == "-"?"":huge_pages;
                var huge_page_size = $.trim(cur_tds.eq(i++).text());
                huge_page_size = huge_page_size == "-"?"1G":huge_page_size;
                var ipmi_passwd = ""; 
                $.trim(cur_tds.eq(i++).text());
                var os_cpus = $.trim(cur_tds.eq(i++).text());
                os_cpus = os_cpus == "-"?"":os_cpus;
                var dvs_cpus = $.trim(cur_tds.eq(i++).text());
                dvs_cpus = dvs_cpus == "-"?"":dvs_cpus;
                var vcpu_pin_set = $.trim(cur_tds.eq(i++).text());
                vcpu_pin_set = vcpu_pin_set == "-"?"":vcpu_pin_set;
                var dvs_high_cpuset = $.trim(cur_tds.eq(i++).text());
                dvs_high_cpuset = dvs_high_cpuset == "-"?"":dvs_high_cpuset;
                var pci_high_cpuset = $.trim(cur_tds.eq(i++).text());
                pci_high_cpuset = pci_high_cpuset == "-"?"":pci_high_cpuset;

                var vswitch_type = $.trim(cur_tds.eq(i++).text());
                vswitch_type = vswitch_type == "-"?"":vswitch_type;
                var numa_node0 = $.trim(cur_tds.eq(i++).text());
                numa_node0 = numa_node0 == "-"?"":numa_node0;
                var numa_node1 = $.trim(cur_tds.eq(i++).text());
                numa_node1 = numa_node1 == "-"?"":numa_node1;
                var suggest_os_cpus = $.trim(cur_tds.eq(i++).text());
                suggest_os_cpus = suggest_os_cpus == "-"?"":suggest_os_cpus;
                var suggest_dvs_cpus = $.trim(cur_tds.eq(i++).text());
                suggest_dvs_cpus = suggest_dvs_cpus == "-"?"":suggest_dvs_cpus;


                var host_config = {
                    "role_list":role_list,
                    "os_version_file":os_version_file,
                    "root_disk":root_disk,
                    "root_lv_size":root_lv_size,
                    "cpu_number":cpu_number,                    
                    "memory_size": memory_size,
                    "huge_pages": huge_pages,
                    "huge_page_size":huge_page_size,
                    "ipmi_user":ipmi_user,
                    "ipmi_passwd":ipmi_passwd,

                    "os_cpus": os_cpus,
                    "dvs_cpus": dvs_cpus,
                    "vcpu_pin_set": vcpu_pin_set,
                    "dvs_high_cpuset": dvs_high_cpuset,
                    "pci_high_cpuset": pci_high_cpuset,

                    "vswitch_type": vswitch_type,
                    "numa_node0": numa_node0,
                    "numa_node1": numa_node1,
                    "suggest_os_cpus": suggest_os_cpus,
                    "suggest_dvs_cpus": suggest_dvs_cpus,
                }
                $(this).data("host_config", host_config);
            }
        })
    }

    function compute_pinset_value(){
        vcpu_pin_set_list = [];
        var last_checked_box = $(".table-row-multi-select:checked:last");
        var cur_tr = last_checked_box.parent().parent();//定位当前行
        var cur_tds = cur_tr.find("td");//定位当前行所有列
        var cpu_number = parseInt($.trim(cur_tds.eq(8).text()));

        if(split_cpuset_str($("#input_os_cpus").val()))
            var os_cpus_list = cpu_list;
        if(split_cpuset_str($("#input_dvs_cpus").val()))
            var dvs_cpus_list = cpu_list;


        if(os_cpus_list.length || dvs_cpus_list.length)
        {
            for (var i = 0;i < cpu_number;i++)
            {
                cpu_str = String(i);
                if (($.inArray(cpu_str, os_cpus_list)==-1) && ($.inArray(cpu_str, dvs_cpus_list)==-1))
                {
                    vcpu_pin_set_list.push(cpu_str);
                }
            }
            if(vcpu_pin_set_list.length)
                $("#input_vcpu_pin_set").val(vcpu_pin_set_list.join(","));
        }  
    }
    
    $("body").on("propertychange input", "#input_os_cpus", function (){ 
        compute_pinset_value();        
    });
    
    $("body").on("propertychange input", "#input_dvs_cpus", function (){ 
        compute_pinset_value();     
    });


    function DefaultCpuSetConfig()
    {
        var last_checked_box = $(".table-row-multi-select:checked:last");
        var cur_tr = last_checked_box.parent().parent();//定位当前行
        var cur_tds = cur_tr.find("td");//定位当前行所有列
        var suggest_os_cpus = $.trim(cur_tds.eq(21).text());
        var suggest_dvs_cpus = $.trim(cur_tds.eq(22).text());
        suggest_os_cpus = suggest_os_cpus == "-"?"":suggest_os_cpus;
        suggest_dvs_cpus = suggest_dvs_cpus == "-"?"":suggest_dvs_cpus;

        $("#input_os_cpus").val(suggest_os_cpus);
        $("#input_dvs_cpus").val(suggest_dvs_cpus);
    }

    function SetHostConfig()
    {
        $(".form-host-config").data('bootstrapValidator').validate();
        if (!$(".form-host-config").data('bootstrapValidator').isValid())
            return;
        var hosts = [];
        var all_use_dvs = true;
        var $checkbox = $(".table-row-multi-select:checked");
        $checkbox.each(function(){
            var host_config = $(this).data("host_config");
            var host = {
                "host_id": $(this).val(),
                "roles": host_config["role_list"]
            }            
            hosts.push(host);

            if(host_config["vswitch_type"] != "dvs")
                all_use_dvs = false;
        })
        var param = {
            "os_version_file": "/var/lib/daisy/tecs/" + trim($(".input_os_version_file").val()),
            "root_disk": $("#input_root_disk").val(),
            "root_lv_size": parseInt($("#input_root_lv_size").val(), 10) * 1024,
            "ipmi_user": $("#input_ipmi_user").val(),
            "ipmi_passwd": $("#input_ipmi_passwd").val()
        };
        if (!($(".COMPUTER").is(":hidden")))
        {
            if (all_use_dvs && ($("#input_huge_page_count").val() < 10))
            {
                horizon.alert('error', '{% trans "Huge page count must greater than or equal to 10." %}');
                return false; 
            }
            param["huge_page_size"] = $("#select_huge_page_size").val();
            param["huge_pages"] = $("#input_huge_page_count").val();
            if(split_cpuset_str($("#input_os_cpus").val()))
                var os_cpus_list = cpu_list;
            if(split_cpuset_str($("#input_dvs_cpus").val()))
                var dvs_cpus_list = cpu_list;
            if(split_cpuset_str($("#input_vcpu_pin_set").val()))
                var vcpu_pin_set_list = cpu_list;
            if(ExistsSameValues(os_cpus_list, dvs_cpus_list) || ExistsSameValues(os_cpus_list, vcpu_pin_set_list) || ExistsSameValues(vcpu_pin_set_list, dvs_cpus_list))
            {
                horizon.alert('error', '{% trans "CPU set cannot be repeated." %}');
                return false;            
            }

            param["os_cpus"] = $("#input_os_cpus").val();
            param["dvs_cpus"] = $("#input_dvs_cpus").val();
            param["vcpu_pin_set"] = $("#input_vcpu_pin_set").val();
            param["dvs_high_cpuset"] = $("#input_dvs_high_cpuset").val();
            param["pci_high_cpuset"] = $("#input_pci_high_cpuset").val();
        }
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/set_host_config';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'param': param}), OnReloadWindow);
    }

    function CleanHostConfig_base()
    {
        $(".input_os_version_file").val("");
        $("#input_root_disk").val("");
        $("#input_root_lv_size").val("");
        $("#input_ipmi_user").val("");
        $("#input_ipmi_passwd").val("");
    }

    function CleanHostConfig_computer()
    {
        $("#select_huge_page_size").val("1G");
        $("#input_huge_page_count").val("");
        $("#input_os_cpus").val("");
        $("#input_dvs_cpus").val("");
        $("#input_vcpu_pin_set").val("");
        $("#input_dvs_high_cpuset").val("");
        $("#input_pci_high_cpuset").val("");
    }

    function CleanHostConfig_numa()
    {
        $("#input_os_cpus").val("");
        $("#input_dvs_cpus").val("");
        $("#input_vcpu_pin_set").val("");
        $("#input_dvs_high_cpuset").val("");
        $("#input_pci_high_cpuset").val("");
    }

    function IsAllComputerNode()
    {
        var $checkbox = $(".table-row-multi-select:checked");
        var is_all_computer_node = true;
        $checkbox.each(function(){
            var host_config = $(this).data("host_config");
            var role_list = host_config["role_list"];
            var i = 0;
            for(;i < role_list.length;i++)
            {
                if(role_list[i] == "COMPUTER")
                {
                    break;
                }
            }
            if(i >= role_list.length)
            {
                is_all_computer_node = false;
                return false;
            }
        })
        return is_all_computer_node;
    }

    function IsAllNumaCfgSame(cbk)
    {
        var $checkbox = $(".table-row-multi-select:checked");
        var is_all_numacfg_same = true;
        var cur_check_host_data = cbk.data("host_config");

        $checkbox.each(function(){
            var host_config = $(this).data("host_config");
            if( cur_check_host_data["numa_node0"] != host_config["numa_node0"] ||
                cur_check_host_data["numa_node1"] != host_config["numa_node1"] ||
                cur_check_host_data["cpu_number"] != host_config["cpu_number"] ||
                cur_check_host_data["dvs_high_cpuset"] != host_config["dvs_high_cpuset"] ||
                cur_check_host_data["pci_high_cpuset"] != host_config["pci_high_cpuset"])
            {
                is_all_numacfg_same = false;
                braak;
            }
        })
        return is_all_numacfg_same;
    }

    function ShowHostConfig(cbk)
    {
        var host_config = cbk.data("host_config");
        var all_use_dvs = true;

        if (host_config["os_version_file"] != ""){
            $(".input_os_version_file").val(host_config["os_version_file"]);
        }
        $("#input_root_disk").val(host_config["root_disk"]);
        $("#input_root_lv_size").val(host_config["root_lv_size"]);
        $("#select_huge_page_size").val(host_config["huge_page_size"]);
        $("#input_huge_page_count").val(host_config["huge_pages"]);
        $("#input_ipmi_user").val(host_config["ipmi_user"]);
        $("#input_ipmi_passwd").val(host_config["ipmi_passwd"]);
        if(host_config["os_cpus"] != "")
            $("#input_os_cpus").val(host_config["os_cpus"]);
        else
            $("#input_os_cpus").val(host_config["suggest_os_cpus"]);
            
        if(host_config["dvs_cpus"] != "")
            $("#input_dvs_cpus").val(host_config["dvs_cpus"]);
        else
            $("#input_dvs_cpus").val(host_config["suggest_dvs_cpus"]);
            
        compute_pinset_value();
        $("#input_dvs_high_cpuset").val(host_config["dvs_high_cpuset"]);
        $("#input_pci_high_cpuset").val(host_config["pci_high_cpuset"]);

        var param = {
            "os_version_file": "#input_os_version_file",
            "root_disk": "#input_root_disk",
            "root_lv_size": "#input_root_lv_size",
            "huge_page_size": "#select_huge_page_size",
            "huge_pages": "#input_huge_page_count",
            "ipmi_user": "#input_ipmi_user",
            "ipmi_passwd": "#input_ipmi_passwd",
            "os_cpus": "#input_os_cpus",
            "dvs_cpus": "#input_dvs_cpus",
            "vcpu_pin_set": "#input_vcpu_pin_set",
            "dvs_high_cpuset": "#input_dvs_high_cpuset",
            "pci_high_cpuset": "#input_pci_high_cpuset"
        };

        for (var key in param)
        {
            $(param[key]).css("background-color", '');
        }

        var $checkbox = $(".table-row-multi-select:checked");
        $checkbox.each(function(){
            var eachhost_config = $(this).data("host_config");
            if(eachhost_config["vswitch_type"] != "dvs")
                all_use_dvs = false;

            for (var key in param)
            {
                if(eachhost_config[key] != host_config[key])
                {
                    $(param[key]).val("");
                    $(param[key]).css("background-color", "#F5F9A7");
                }                
            }
        })
        
        document.getElementById("config_error_hint").innerHTML = ""
        if(IsAllComputerNode())
        {
            $(".COMPUTER").attr("disabled",false); 
            
            if(!IsAllNumaCfgSame(cbk))
            {
                CleanHostConfig_numa();
                $(".NUMA").attr("disabled",true); 
                $(".NUMA").css("background-color", '');
                $(".btn-default-config").attr("disabled", true);
                document.getElementById("config_error_hint").innerHTML = '{% trans "The NUMA configuration of the selected node is different." %}';
            }
            else
            {                
                if(!all_use_dvs)
                {
                    document.getElementById("config_error_hint").innerHTML = '{% trans "The selected nodes are not all using DVS." %}'; 
                    $(".NUMA").attr("disabled",true); 
                    $(".btn-default-config").attr("disabled", true);
                    $(".NUMA").css("background-color", '');
                }
                else
                    $(".btn-default-config").attr("disabled", false);
                    
            }
        }
        else
        {
            CleanHostConfig_computer();
            $(".COMPUTER").attr("disabled",true);
            $(".COMPUTER").css("background-color", '');
            $(".btn-default-config").attr("disabled", true);
            document.getElementById("config_error_hint").innerHTML = '{% trans "The selected nodes are not all compute nodes." %}';
        }
        
        if ($('#tab_baseinfo').hasClass('active'))
            $(".btn-default-config").hide();
        else
            $(".btn-default-config").show();
    }

    function ControlAllHostCheckbox()
    {
        $(".select_all").on("click",function(){
            if($(this).attr("checked")){
                $(".table-row-multi-select").attr("checked", true);
                ShowHostConfig($(".table-row-multi-select:checked:last"));
                $(".btn-host-config").removeAttr("disabled");
            }
            else{
                $(".table-row-multi-select").attr("checked", false);
                CleanHostConfig_base();
                CleanHostConfig_computer();
                $(".btn-host-config").attr("disabled", true);
                $(".btn-default-config").attr("disabled", true);
                document.getElementById("config_error_hint").innerHTML = "";
            }
        })
    }

    function ControlHostCheckBox(cbx)
    {
        if (cbx.attr("checked"))/*选中*/
        {
            var checked_cbk = $(".table-row-multi-select:checked");
            if (checked_cbk.length == $(".table-row-multi-select").length)/*全选*/
            {
                $(".select_all").attr("checked", true);
            }
            else
            {
                $(".select_all").attr("checked", false);
            }
            ShowHostConfig(cbx);
            $(".btn-host-config").removeAttr("disabled");
        }
        else
        {
            if($(".table-row-multi-select:checked").length == 0)/*全不选*/
            {
                $(".select_all").attr("checked", false);
                $(".btn-default-config").attr("disabled", true);
                $(".btn-host-config").attr("disabled", true);
                CleanHostConfig_base();
                CleanHostConfig_computer();
                document.getElementById("config_error_hint").innerHTML = "";
            }
            else/*显示最后一项*/
            {
                var last_checked_box = $(".table-row-multi-select:checked:last");
                if (last_checked_box.length != 0)
                {
                    ShowHostConfig(last_checked_box);
                }
            }
        }
    }

    function DodeployCallback (argument) {
        var next = '{% url "horizon:environment:cluster:overview" cluster_id %}';
        window.location = next;
    }

    function CheckRootLvDiskSize(value)
    {
        if (value == "" || isNaN(value) || parseInt(value, 10) < 50)
        {
            return false;
        }
        return true;
    }

    function CheckHugePageCount(value)
    {
        if($(".COMPUTER").is(":hidden"))
        {
            return true;
        }
        if (value == "" || isNaN(value) || parseInt(value, 10) < 0)
        {
            return false;
        }
        return true;
    }

    function HostConfigIsChange()
    {
        var is_change = false;
        var os_version_file = "";
        if ($(".input_os_version_file").prop("tagName") == "SELECT"){
            os_version_file = $(".input_os_version_file").text();
        }
        else{
            os_version_file = $(".input_os_version_file").val();
        }
        var param = {
            "os_version_file": trim(os_version_file),
            "root_disk": $("#input_root_disk").val(),
            "root_lv_size": parseInt($("#input_root_lv_size").val(), 10)
        };
        if (!($(".COMPUTER").is(":hidden")))
        {
            param["os_cpus"] = $("#input_os_cpus").val();
            param["dvs_cpus"] = $("#input_dvs_cpus").val();
            param["vcpu_pin_set"] = $("#input_vcpu_pin_set").val();
            param["dvs_high_cpuset"] = $("#input_dvs_high_cpuset").val();
            param["pci_high_cpuset"] = $("#input_pci_high_cpuset").val();
            param["huge_page_size"] = $("#select_huge_page_size").val();
            param["huge_pages"] = $("#input_huge_page_count").val();
        }
        var $checkbox = $(".table-row-multi-select:checked");
        $checkbox.each(function(){
            var host_config = $(this).data("host_config");
            for (var p in param)
            {
                if(param[p] != host_config[p])
                {
                    is_change = true;
                    break;
                }
            }
            if (is_change)
            {
                return false;
            }
        })
        return is_change;
    }

    function OnInit()
    {
        $('.form-host-config').bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                os_version_file: {
                    validators: {
                        notEmpty: {
                            message: "{% trans 'OS version file can not be empty' %}"
                        }
                    }
                },
                root_disk: {
                    validators: {
                        notEmpty: {
                            message: "{% trans 'System disk can not be empty' %}"
                        },
                        regexp: {
                            regexp: '^[a-zA-Z][a-zA-Z0-9_]{0,15}$',
                            message: '{% trans "Name must begin with letters,and consist of numbers,letters or underscores. The length of name is 4 to 16." %}'
                        }
                    }
                },
                root_lv_disk: {
                    validators: {
                        callback: {
                            callback: CheckRootLvDiskSize,
                            message: "{% trans 'System disk size can not be empty, must be digit and greater than or equal to 50' %}"
                        }
                    }
                },
                huge_page_count: {
                    validators: {
                        callback: {
                            callback: CheckHugePageCount,
                            message: "{% trans 'Huge page count can not be empty, and must be digit' %}"
                        }
                    }
                }
            }
        });
        $(".table-row-multi-select:first").removeClass("table-row-multi-select").addClass("select_all");
        BindHostConfig2CheckBox();
        ControlAllHostCheckbox();
        $(".table-row-multi-select").on("click", function(){
            ControlHostCheckBox($(this));
        });
        var host_id = getArgs()["host_id"];
        if (host_id != null)
        {
            var host_id_list = host_id.split("_");
            for(var i = 0;i < host_id_list.length;i++)
            {
                $(".table-row-multi-select").each(function(){
                    if($(this).val() == host_id_list[i])
                    {
                        $(this).attr("checked",true);
                    }
                })
                if(host_id_list[i] == "-1")
                {
                    $(".select_all").attr("checked", true);
                }
            }
            var cbk = $(".table-row-multi-select:checked:last");
            ShowHostConfig($(cbk));
            $("#operate_region").fadeToggle("fast");
            $(".btn-host-config").removeAttr("disabled");
        }
        $(document).on("click", "#delopy_cluster", function(){
            var url = '{% url "horizon:environment:deploy:dodeploy" cluster_id %}';
            if (HostConfigIsChange())
            {
                var title = '{% trans "Confirm to Discard" %}';
                var body = '{% trans "Changes in the host config, is discarded?" %}';
                var action = '{% trans "Confirm" %}'
                var modal = horizon.modals.create(title, body, action);
                modal.modal()
                modal.find('.btn-primary').click(function (evt) {
                    modal.modal('hide');
                    do_post(url, "", DodeployCallback);
                });
            }
            else
            {
                do_post(url, "", DodeployCallback);
            }
        });
        $(document).on("click", "#host_config_region", function(){
            if ($('#tab_baseinfo').hasClass('active'))
                $(".btn-default-config").hide();
            else
                $(".btn-default-config").show();
        });
    }
    horizon.addInitFunction(OnInit);
    </script>
{% endblock %}

{% block footer %}
    <div class='pull-right'>
        <a href='{% url "horizon:environment:deploy:networkmapping" cluster_id %}' class='btn btn-sm btn-default'>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            {% trans 'Previous' %}
        </a>
        <a href='#' id='delopy_cluster' class='btn btn-sm btn-success'>
            {% trans 'Deploy' %}
        </a>
    </div>
{% endblock %}
