{% extends 'base.html' %}
{% load i18n %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block css %}
{% include "_stylesheets.html" %}
<link rel="stylesheet" href="/dashboard/static/dashboard/scss/host_role.css" type="text/css" media="screen">
<style>
    .dv_drag_base{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        padding-top:3%;
        padding-right:5px;
        height: 30px;
        width:80%;
        border-radius: 5px;
        background-color:rgb(119, 119, 119);
    }
    .dv_drag_CONTROLLER_HA{
        background-color:rgb(92, 184, 92);
    }
    .dv_drag_DOCTOR{
        background-color:rgb(51, 122, 183);
    }
    .dv_drag_COMPUTER{
        background-color:rgb(91, 192, 222);
    }
    .dv_drag_CONTROLLER_LB{
        background-color:rgb(240, 173, 78);
    }
    .dv_drag_ZENIC_NFM{
        background-color:rgb(198, 140, 164);
    }
    .dv_drag_ZENIC_CTL{
        background-color:rgb(181, 162, 104);
    }
    a.edit_float_ip:link,
    a.edit_float_ip:visited {
        color:white;
    }
</style>
{% endblock%}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>         
        {% trans "Role Assignment" %}
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" value="{{cluster_id}}" id="cluster_id">
    <div class="panel-body">
        <div class="container-fluid" style="height:100%">
            <div class="row">
                <div class="col-xs-10 col-md-10">
                    <div>
                        {{ table.render }}
                    </div>
                </div>
                <div class="col-xs-2 col-md-2" >
                    <h5>{% trans "Drag to Assign Role" %}</h5>
                    <div class="panel panel-default">
                        <div class="row drag_role_container">
                            {% for role in roles %}
                            <div class="dv_drag_base drag_role dv_drag_{{role.name}} {{role.id}}">
                                <span class="glyphicon glyphicon-move icon_drag_move" aria-hidden="true"></span>
                                <span class="role_text">{{ role.name }}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
    <script type='text/javascript' charset='utf-8'>
    
    function ManuallyAssignRole(role_name)
    {
        var hosts = [];
        var $checkbox = $(".table-row-multi-select");
        $checkbox.each(function(){
            if($(this).attr("checked") && $(this).val() != "on"){
                hosts.push($(this).val());
            }
        })
        if(hosts.length == 0){
            horizon.alert('error', gettext("please select a host at least"));
            return;
        }
        for(var i = 0;i < hosts.length;i++)
        {
            var dropper = $("." + hosts[i]);
            AssignHostRole(dropper, role_name);
        }
    }

    function CreateDropRoleDiv(name, callback, param1, param2)
    {
        var class_name = "dv_drop_base dv_drop_" + name;
        var div = $('<div class="' + class_name + '"></div>');
        var span = $('<span class="role_text">' + name + '</span>');
        var button = $('<button type="button" class="close button_remove"></button>');
        if (callback != null){
            button.on("click", function(){
                callback(param1, param2);
            })
        }
        var icon = $('<span class="icon_white">&times;</span>');
        button.append(icon);
        div.append(span).append(button);
        return div;
    }

    function ResetDropperSize(dropper)
    {
        var height = 30;
        var role_count = dropper.find("div").length;
        var row_number = 1;
        var cur_row_number = parseInt(role_count / 5, 10);
        if (role_count % 5 > 0)
        {
            cur_row_number += 1;
        }
        if(cur_row_number > 1)
        {
            row_number = cur_row_number;
        }
        var height = row_number * height;
        dropper.css("height", height + "px");
    }

    function DeleteRole(host_id, del_role_name){
        var hosts = [];
        var roles = [];
        var class_name = host_id + "_" + del_role_name;
        var dropper = $("." + class_name).parent();
        var div_roles = dropper.find("div");
        for(var i = 0;i < div_roles.length;i++)
        {
            var role_name = div_roles.eq(i).find("span:first").text();
            if(role_name != del_role_name)
            {
                roles.push(role_name);
            }
        }
        hosts.push(host_id);
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/assign_host_role';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'roles': roles}));
        if (!ret){
            return;
        }
        $("." + class_name).remove();
        ResetDropperSize(dropper);
    }

    function AssignHostRole(dropper, role_name)
    {
        var divs = dropper.find("div");
        var tecs_role_list = ['CONTROLLER_HA','DOCTOR','COMPUTER','CONTROLLER_LB'];
        var zenic_role_list = ['ZENIC_MDB','ZENIC_NFM','ZENIC_CTL'];
        for(var i = 0;i < divs.length;i++)
        {
            var it_role_name = divs.eq(i).find("span:first").text();
            if(role_name == it_role_name)/*如果有重复，不操作*/
            {
                return;
            }
            if((tecs_role_list.indexOf(role_name) >= 0) && (zenic_role_list.indexOf(it_role_name) >= 0))
            {
                return;
            }
            if((zenic_role_list.indexOf(role_name) >= 0) && (tecs_role_list.indexOf(it_role_name) >= 0))
            {
                return;
            }
        }
        var hosts = [];
        var roles = [];
        var host_id = dropper[0].className.split(" ")[0];
        hosts.push(host_id);
        for (var i = 0;i < divs.length;i++)
        {
            var it_role_name = divs.eq(i).find("span:first").text();
            roles.push(it_role_name);
        }
        roles.push(role_name);
        var url = "/dashboard/environment/deploy/" + $("#cluster_id").val() + '/assign_host_role';
        var ret = do_post(url, JSON.stringify({'hosts': hosts, 'roles': roles}));
        if (!ret){
            return;
        }
        ResetDropperSize(dropper);
        var div = CreateDropRoleDiv(role_name, DeleteRole, host_id, role_name);
        var class_name = host_id + "_" + role_name;
        div.addClass(class_name);
        div.appendTo(dropper);
    }

    function ShowHARoleInfoModal(role_info)
    {
        $("#glance_service_id").val("");
        $("#db_service_id").val("");
    
        $("#ha_float_ip").val("");
        $("#ha_ntp_ip").val("");
        
        $("#glance_backend_type").val(0);
        $("#glance_lun").val("0");
        $("#glance_data_ips").val("");
        $("#glance_lv_size").val("0");

        $("#db_backend_type").val(0);
        $("#db_lun").val("0");
        $("#db_data_ips").val("");
        $("#db_lv_size").val("0");

        
        $("#ha_role_name").text(role_info["name"]);
        if (role_info["vip"] != null)
        {
            $("#ha_float_ip").val(role_info["vip"]);
        }
        if (role_info["ntp_ip"] != null)
        {
            $("#ha_ntp_ip").val(role_info["ntp_ip"]);
        }
        $("#ha_float_ip").data("role_id", role_info["role_id"]);

        for(var i=0; i<role_info.service_disk_array.length; i++)
        {
            if (role_info.service_disk_array[i].service == "glance")
            {
                $("#glance_service_id").val(role_info.service_disk_array[i].id);
                if (role_info.service_disk_array[i].disk_location == "local")
                {
                    $("#glance_backend_type").val(0);
                    if (role_info.glance_lv_size != null)
                        $("#glance_lv_size").val((role_info.glance_lv_size/1024).toString());
                }
                else
                {
                    $("#glance_backend_type").val(1);
                    if (role_info.service_disk_array[i].lun != null)
                        $("#glance_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null)
                        $("#glance_data_ips").val(role_info.service_disk_array[i].data_ips);
                }
            }
            if (role_info.service_disk_array[i].service == "db")
            {
                $("#db_service_id").val(role_info.service_disk_array[i].id);
                if (role_info.service_disk_array[i].disk_location == "local")
                {
                    $("#db_backend_type").val(0);
                    if (role_info.db_lv_size != null)
                        $("#db_lv_size").val((role_info.db_lv_size/1024).toString());
                }
                else
                {
                    $("#db_backend_type").val(1);
                    if (role_info.service_disk_array[i].lun != null)
                        $("#db_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null)
                        $("#db_data_ips").val(role_info.service_disk_array[i].data_ips);
                }
            }
        }

        var cinder_service_table = findObj("cinder_service_table", document);
        while(cinder_service_table.rows.length > 1)
            cinder_service_table.deleteRow(1)
        for(i=0; i<role_info.cinder_volume_array.length; i++)
        {
            AddCinderVolume(role_info.cinder_volume_array[i]);
        }
        
        glance_backend_type_chanage();
        db_backend_type_chanage();

        $('#modalHARoleInfo').modal({
            backdrop: "static"
        });
        $('#ha_role_tab_list a:first').tab('show');
    }

    function ShowRoleInfoModal(role_info)
    {
        $("#txtFloatIp").val("");
        $("#lbRoleName").text(role_info["name"]);
        if (role_info["vip"] != null)
        {
            $("#txtFloatIp").val(role_info["vip"]);
        }
        $("#txtFloatIp").data("role_id", role_info["role_id"]);
        $('#modalRoleInfo').modal({
            backdrop: "static"
        })
    }

    function CloseHARoleInfoModal()
    {
        $(".form-set-ha-role").data('bootstrapValidator').resetForm();
        $('#modalHARoleInfo').modal('hide');
    }

    function operate_close(){
        $(".form-set-role").data('bootstrapValidator').resetForm();
        $('#modalRoleInfo').modal('hide');
    }

    function CheckIP(str)
    {
        if (str === "")
            return true;
        var reg = new RegExp("^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$");
        if (!reg.test(str))
            return false;
        return true;
    }

    function CheckCinderVolume(cinder_volume, row)
    {
        var strTip;

        if (cinder_volume["management_ips"] == "")
        {
            horizon.alert('error', gettext('{% trans "Cinder management IPs can not be empty, please input. Row: " %}' + row.toString()));
            return false;
        }
        if (cinder_volume["user_name"] == "")
        {
            horizon.alert('error', gettext('{% trans "Cinder user name can not be empty, please input. Row: " %}' + row.toString()));
            return false;
        }
        if (cinder_volume["user_pwd"] == "")
        {
            horizon.alert('error', gettext('{% trans "Cinder password can not be empty, please input. Row: " %}' + row.toString()));
            return false;
        }
        if (cinder_volume["volume_type"] == "")
        {
            horizon.alert('error', gettext('{% trans "Cinder volume type can not be empty, please input. Row: " %}' + row.toString()));
            return false;
        }
        if (cinder_volume["pools"] == "")
        {
            horizon.alert('error', gettext('{% trans "Cinder pools can not be empty, please input. Row: " %}' + row.toString()));
            return false;
        }
        
        var ips = new Array();
        ips = cinder_volume["management_ips"].split(",");
        for(var i=0; i<ips.length; i++)
        {
            if (!CheckIP(ips[i]))
            {
                horizon.alert('error', gettext('{% trans "Cinder management IPs is error, format as: x.x.x.x,x.x.x.x ... Row: " %}' + row.toString()));
                return false;
            }
        }
 
        return true;
    }

    function SetHARole()
    {
        var glance_lv_size = 0
        var db_lv_size = 0

        $(".form-set-ha-role").data('bootstrapValidator').validate();
        if (!$(".form-set-ha-role").data('bootstrapValidator').isValid())
            return;

        if ($("#glance_backend_type").val() == 0)
        {
            glance_lv_size = parseInt($("#glance_lv_size").val(), 10);
        }
        if ($("#db_backend_type").val() == 0)
        {
            db_lv_size = parseInt($("#db_lv_size").val(), 10);
        }
        
        var cinder_volume_array = new Array();
        var cinder_service_table = findObj("cinder_service_table", document);
        for(var i=1; i<cinder_service_table.rows.length; i++)
        {
            var cinder_volume = {};
            cinder_volume["management_ips"] = cinder_service_table.rows[i].cells[0].getElementsByTagName("INPUT")[0].value;
            cinder_volume["user_name"]      = cinder_service_table.rows[i].cells[1].getElementsByTagName("INPUT")[0].value;
            cinder_volume["user_pwd"]       = cinder_service_table.rows[i].cells[2].getElementsByTagName("INPUT")[0].value;
            var select_index = cinder_service_table.rows[i].cells[3].getElementsByTagName("SELECT")[0].value;
            cinder_volume["volume_driver"]  = cinder_service_table.rows[i].cells[3].getElementsByTagName("SELECT")[0].options[select_index].text;
            cinder_volume["volume_type"]    = cinder_service_table.rows[i].cells[4].getElementsByTagName("INPUT")[0].value;
            cinder_volume["pools"]          = cinder_service_table.rows[i].cells[5].getElementsByTagName("INPUT")[0].value;

            var ips = new Array();
            ips = cinder_volume["management_ips"].split(",");
            for(var j=0; j<ips.length; j++)
            {
                ips[j] = ips[j].replace(/(^\s*)|(\s*$)/g, "");
            }
            cinder_volume["management_ips"] = ips.join(",");

            if (!CheckCinderVolume(cinder_volume, i))
                return;

            cinder_volume_array.push(cinder_volume);
        }

        var param = {
            'role_id':                  $("#ha_float_ip").data("role_id"),
            'name':                     $("#ha_role_name").text(),
            "vip":                      $("#ha_float_ip").val(),
            "ntp_ip":                   $("#ha_ntp_ip").val(),

            "glance_service_id":        $("#glance_service_id").val(),
            "glance_disk_location":     $("#glance_backend_type").val() == 0 ? "local" : "share",
            "glance_lun":               parseInt($("#glance_lun").val(), 10),
            "glance_data_ips":          $("#glance_data_ips").val(),
            "glance_lv_size":           glance_lv_size * 1024,
            
            "db_service_id":            $("#db_service_id").val(),
            "db_disk_location":         $("#db_backend_type").val() == 0 ? "local" : "share",
            "db_lun":                   parseInt($("#db_lun").val(), 10),
            "db_data_ips":              $("#db_data_ips").val(),
            "db_lv_size":               db_lv_size * 1024,
            
            "cinder_volume_array":      cinder_volume_array,
            }
        var url = "/dashboard/environment/deploy/set_ha_role_info/";
        do_post(url, JSON.stringify(param), CloseHARoleInfoModal);
    }

    function SetRole()
    {
        $(".form-set-role").data('bootstrapValidator').validate();
        if (!$(".form-set-role").data('bootstrapValidator').isValid())
            return;
        var role_id = $("#txtFloatIp").data("role_id");
        var vip = $("#txtFloatIp").val();
        var param = {
            'role_id': role_id,
            'name': $("#lbRoleName").text(),
            "vip": vip}
        var url = "/dashboard/environment/deploy/set_role_info/";
        do_post(url, JSON.stringify(param), operate_close);
    }
    
    function findObj(theObj, theDoc)
    { 
        var p, i, foundObj; 
        if(!theDoc) 
            theDoc = document; 
        if ((p = theObj.indexOf("?")) > 0 && parent.frames.length) 
        {    
            theDoc = parent.frames[theObj.substring(p+1)].document;    
            theObj = theObj.substring(0,p); 
        } 
        if (!(foundObj = theDoc[theObj]) && theDoc.all) 
            foundObj = theDoc.all[theObj]; 
            
        for (i=0; !foundObj && i < theDoc.forms.length; i++)     
            foundObj = theDoc.forms[i][theObj]; 
        
        for(i=0; !foundObj && theDoc.layers && i < theDoc.layers.length; i++)     
            foundObj = findObj(theObj,theDoc.layers[i].document); 
            
        if(!foundObj && document.getElementById) 
            foundObj = document.getElementById(theObj);    
    
        return foundObj;
    }
    
    function DeleteCinder(rowid)
    {
        var cinder_service_table = findObj("cinder_service_table",document);
        var signItem = findObj(rowid,document);
        
        var rowIndex = signItem.rowIndex;
        
        cinder_service_table.deleteRow(rowIndex);
    }
    
    function ShowHidePassword(rowid)
    {
        if ($("#cinder_user_password_eye" + rowid).hasClass('fa-eye'))
        {
            $("#cinder_user_password_eye" + rowid).removeClass('fa-eye');
            $("#cinder_user_password_eye" + rowid).addClass('fa-eye-slash');
            $("#cinder_user_password" + rowid).attr("type", "text")
        }
        else
        {
            $("#cinder_user_password_eye" + rowid).removeClass('fa-eye-slash');
            $("#cinder_user_password_eye" + rowid).addClass('fa-eye');
            $("#cinder_user_password" + rowid).attr("type", "password")
        }
    }

    function AddCinderVolume(cinder_volume)
    {
        if (cinder_volume == null){
            cinder_volume = new Array();
            cinder_volume["id"] = "";
            cinder_volume["management_ips"] = "";
            cinder_volume["user_name"] = "";
            cinder_volume["user_pwd"] = "";
            cinder_volume["volume_driver"] = "";
            cinder_volume["volume_type"] = "";
            cinder_volume["pools"] = "";
        }

        var cinder_last_index = findObj("cinder_last_index", document);
        var rowID = parseInt(cinder_last_index.value);
        var cinder_service_table = findObj("cinder_service_table", document);

        // Add row
        var newTR = cinder_service_table.insertRow(cinder_service_table.rows.length);
        newTR.id = "SignItem" + rowID;

        // Managerment IPs
        var ManagermentIPs=newTR.insertCell(0);
        ManagermentIPs.innerHTML = "<input class='form-control' id='cinder_managerment_ips" + rowID + "' value='" + cinder_volume["management_ips"] + "' type='text' placeholder='{% trans "Service IPs, separated by &#44; if more than one" %}'/>";

        // User name
        var UserName=newTR.insertCell(1);
        UserName.innerHTML = "<input class='form-control' id='cinder_user_name" + rowID + "' value='" + cinder_volume["user_name"] + "' type='text' placeholder='{% trans "User name" %}'/>";
        
        // User password
        var UserPassword=newTR.insertCell(2);
        UserPassword.innerHTML = "<input class='form-control' style='float:left;width:85%' id='cinder_user_password" + rowID + "' value='" + cinder_volume["user_pwd"] + "' type='password' placeholder='{% trans "Password" %}'/><span class='fa password-icon fa-eye' style='float:right; width:12%; margin:7px 0 0 0;' onclick='ShowHidePassword(" + rowID + ")' id='cinder_user_password_eye" + rowID + "' />";
        
        // Volume driver
        var VolumeDriver=newTR.insertCell(3);
        VolumeDriver.innerHTML = "<select class='form-control' id='cinder_volume_driver" + rowID + "' >" + 
                                    "<option value='0' selected='selected'>KS3200_IPSAN</option>" + 
                                    "<option value='1' >KS3200_FCSAN</option>" + 
                                    "<option value='2' >FUJISTU_ETERNUS</option>" + 
                                 "</select>";
        if (cinder_volume["volume_driver"] == "KS3200_IPSAN")
            $("#cinder_volume_driver" + rowID).val(0)
        else if (cinder_volume["volume_driver"] == "KS3200_FCSAN")
            $("#cinder_volume_driver" + rowID).val(1)
        else if (cinder_volume["volume_driver"] == "FUJISTU_ETERNUS")
            $("#cinder_volume_driver" + rowID).val(2)
        else
            $("#cinder_volume_driver" + rowID).val(0)

        // Volume type
        var VolumeType=newTR.insertCell(4);
        VolumeType.innerHTML = "<input class='form-control' id='cinder_volume_type" + rowID + "' value='" + cinder_volume["volume_type"] + "' type='text' placeholder='{% trans "Volume type" %}'/>";

        // Pools
        var Pools=newTR.insertCell(5);
        Pools.innerHTML = "<input class='form-control' id='cinder_pools" + rowID + "' value='" + cinder_volume["pools"] + "' type='text' placeholder='{% trans "Pools, separated by &#44; if more than one" %}'/>";

        // button
        var DeleteButton=newTR.insertCell(6);
        DeleteButton.innerHTML = "<div align='center'><button type='button' class='btn btn-primary' value='" + cinder_volume["id"] + "' onclick=\"DeleteCinder('SignItem" + rowID + "')\" >{% trans "Delete" %}</a></div>";

        // row++
        cinder_last_index.value = (rowID + 1).toString() ;
    }

    function ShowHARoleInfo(role_id, role_name)
    {
        var url = "/dashboard/environment/deploy/get_ha_role_info/";
        do_post(url, JSON.stringify({'role_id': role_id}), ShowHARoleInfoModal);
    }

    function ShowRoleInfo(role_id, role_name)
    {
        var url = "/dashboard/environment/deploy/get_role_info/";
        do_post(url, JSON.stringify({'role_id': role_id}), ShowRoleInfoModal);
    }

    function glance_backend_type_chanage(){
        if ($("#glance_backend_type").val() == 0){
            $(".form-glance").addClass('hide');
            $(".form-glance-lv-size").removeClass('hide');
            $("#glance_lun").val("0");
            $("#glance_data_ips").val("");
        }
        else{
            $(".form-glance").removeClass('hide');
            $(".form-glance-lv-size").addClass('hide');
            $("#glance_lv_size").val("0");
        }
    }
    
    function db_backend_type_chanage(){
        if ($("#db_backend_type").val() == 0){
            $(".form-db").addClass('hide');
            $(".form-db-lv-size").removeClass('hide');
            $("#db_lun").val("0");
            $("#db_data_ips").val("");
        }
        else{
            $(".form-db").removeClass('hide');
            $(".form-db-lv-size").addClass('hide');
            $("#db_lv_size").val("0");
        }
    }
    
    function OnInit()
    {
        $( ".drag_role" ).draggable({
            cursor: "move",
            helper: function( event ) {
                var name = $.trim(this.textContent);
                return CreateDropRoleDiv(name);
            },
            revert: "invalid"
        });
        $( ".drop_role" ).droppable({
            hoverClass: "dv_drop_role_hover",
            accept: ".drag_role",
            drop: function( event, ui ) {
                var role_name = $.trim(ui.draggable.text());
                AssignHostRole($(this), role_name);
            }
        });
    }
    horizon.addInitFunction(OnInit);
    </script>
{% endblock%}

{% block footer %}
    <div class='pull-right'>
        <a href='{% url "horizon:environment:deploy:selecthosts" cluster_id %}' class='btn btn-sm btn-default'>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            {% trans 'Previous' %}
        </a>
         <a href='{% url "horizon:environment:deploy:hosts_role_assignment_next" cluster_id %}'class='btn btn-sm btn-success'>
          {% trans 'Next' %}
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}
