{% load i18n %}
<div>
    <dl>
        <dt></dt>
        <dd>{{interface.name}}</dd>
        <dt>{% trans "IP" %}</dt>
        <dd>{{interface.ip|default_if_none:''}}</dd>
        <dt>{% trans "netplane" %}</dt>
        <dd>
            {% for assigned_network in interface.assigned_networks%}{% ifequal assigned_network.ip ""%}{{assigned_network.name}}{% else %}{{assigned_network.name}}({{assigned_network.ip}}){% endifequal %} <br>{% endfor %}
        </dd>
    </dl>
</div>
<input type="hidden" value="{{interface.name}}" class="interface_name">
<input type="hidden" value="{{interface.vswitch_type}}" class="interface_vswitch_type">
<input type="hidden" value="{% for assigned_network in interface.assigned_networks%}{{assigned_network.name}}:{{assigned_network.network_type}} {% endfor %}" class="interface_assigned_networks">