{% extends 'base.html' %}
{% load i18n %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>         
        {% trans 'Network Plane' %}
    </div>
{% endblock %}

{% block main %}
    {% include 'environment/deploy/_network.html' %}
{% endblock %}

{% block footer %}
    <script type='text/javascript' charset='utf-8'>
        function submitTrig(){  
            $(".form-net-plane").submit();
        }
    </script>
    <div class='pull-right'>
        <a href='{% url "horizon:environment:deploy:bonding" cluster_id %}' class='btn btn-sm btn-default'>
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            {% trans 'Prev' %}
        </a>
        <a class='btn btn-sm btn-success' onclick="submitTrig();">
            {% trans 'Next' %}
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}