{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% include "_stylesheets.html" %}
<style>
   #roles {
       font-weight: 600;
   }

   .node_box {
        border:1px solid #c0c0c0;
        border-radius: 4px;
        margin:10px 0 10px 0;
        font-weight: 600;
        box-shadow: inset 0 0 0 1px #c0c0c0        
   }

   .node_box:hover {
        cursor:pointer;
        background-color: #c0c0c0;
   }   

   .node_box_item {
        display:block;
        float: left;
        height: 58px;
        line-height: 58px;
        padding: 0 10px 0 10px;
   }

   .node_box_checkbox {
         width: 58px; 
         border-right: 1px dotted #c0c0c0;
         text-align:center;
   }

   .node_box_name {
         width: 20%;
   }   

   .node_box_bond_name {
         width: 50%;
         font-size: 15px;
   } 

   .node_box_eth_name {
         width: 10%;
         font-size: 15px;
   } 

   .netplane {
       display: inline-block;
       height: 50px;
       line-height: 48px;
       box-shadow: inset 0 0 0 1px #ffffff;
       border: 1px solid #ddd;
       background-color: #ddd;
       padding: 0 5px 0 5px;
       text-align: center;
       font-size: 11px;
   }  

   .bond_slave {
        height: 29px;
        line-height: 29px;
        text-align: center;
        display: block;
        font-size: 11px;
   }

   .nic_box {
        width:50%;
   }   

   .netplane-placeholder {
       opacity: 0.25;
   }
   
   .has-error {
       border-color: #843534;
       box-shadow:0px,1px,1px,rgba(0,0,0,0.075),inset,0px,0px,6px,#CE8483;
   }

</style>
{% endblock%}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type='text/javascript' charset='utf-8'>
        function checkIP(str){
            if (str === "")
                return true;
            var reg = new RegExp("^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$");
            if (!reg.test(str))
                return false;
            return true;
        }
        
        function do_nic_post(location, data, next_url){
            $.ajax({
                type: 'POST',
                url:  location,
                data: data,
                dataType: 'json',
                async: false,
                success: function (data) { 
                    if(next_url == undefined)
                      window.location.reload();   
                    else
                      window.location = next_url;             
                },
                error: function(data) {
                    horizon.alert('error', "更新主机网卡设置失败！");
                }
            });              
        }                 

        function init_drag_drop(){
            $(".netplane").draggable({
                revert:'invalid',
                helper:'clone'
            }); 

            $(".nic_box").droppable({
                accept:'.netplane',
                drop: function(event, ui) {
                   ui.draggable.appendTo($(this));
                   $(this).find('.netplane-placeholder').remove();
                }
            });
        }

        function restore_netplane(nic){
            $(nic).closest(".node_box").find(".netplane").each(function(){
                $(this).appendTo($("#netplanes"));
            })
        }

        function enable_bond_button(){
            $checkboxs = $("#hostNicsConf").find('[type="checkbox"]');
            var bond = new Array();
            var eth = new Array();

            $checkboxs.each(function(){
                if($(this).attr("checked")){
                    var nic = new Object();
                    nic.name = $(this).val();
                    nic.type = $(this).attr('nic_type');

                    if(nic.type == 'bond'){
                        bond.push(nic);
                    }
                    else {
                        eth.push(nic);
                    }
                }
            })

            if(bond.length > 0 && eth.length == 0){
                $('#unbind_nics').removeAttr("disabled");
            }
            else {
                $('#unbind_nics').attr("disabled",'disabled');
            }
            if(eth.length == 2 && bond.length == 0){
                $('#bind_nics').removeAttr("disabled");
            }
            else {
                $('#bind_nics').attr("disabled",'disabled');
            }
            $("#hostNicsConf").data('bind_nics_choosed',bond);
            $("#hostNicsConf").data('ether_nics_choosed',eth);
        }

        $(init_drag_drop);

        horizon.addInitFunction(function(){
            $(document).on("click", ".node_box", function(event){
                $checkbox = $(this).closest('.node_box').find('[type="checkbox"]');
                if($checkbox.attr("checked"))
                    $checkbox.attr("checked", false);
                else
                    $checkbox.attr("checked", true);

                enable_bond_button();
            })

            $(document).on("click", 'input[type="checkbox"]', function(event){
                $checkbox = $(this)
                if($checkbox.attr("checked"))
                    $checkbox.attr("checked", false);
                else
                    $checkbox.attr("checked", true); 

                enable_bond_button();
            })

            $(document).on("click", "#bind_nics", function(evt){
                $("#bind_name").val('');
                $("#bind_name").closest('.form-group').removeClass('has-error');
                $("#BindModal").modal()
            })

            $(document).on("click","#bindNicConfirm",function(){
                bindNic = new Object();
                bindNic.name = $("#bind_name").val();
                
                if(bindNic.name == ''){
                    $("#bind_name").closest('.form-group').addClass('has-error');
                    return;
                }

                bindNic.mode = $('input[name="optionsRadios"]:checked').val();

                $checkboxs = $("#hostNicsConf").find('[type="checkbox"]');
                var slaves = new Array();
                $checkboxs.each(function(){
                    if($(this).attr("checked")){
                        restore_netplane(this);
                        var name = $(this).val();
                        slaves.push(name);
                        $panel = $(this).closest(".panel-body");
                        $panel.remove();
                    }
                 })

                bindNic.slaves = slaves;

                bond_html  = '<div class="panel-body">';
                bond_html += '<div class="node_box">';
                bond_html += '  <div class="row" style="border-bottom:1px dotted #ddd; margin:0;">';
                bond_html += '      <div class="node_box_item node_box_checkbox">';
                bond_html += '          <input type="checkbox" value="' + bindNic.name + '" nic_type="bond" mode="'+ bindNic.mode + '" slaves=' + JSON.stringify(slaves) + '>';
                bond_html += '      </div>';
                bond_html += '      <div class="node_box_item node_box_bond_name">';
                bond_html += '          <span style="padding:0 30px;">Name:' + bindNic.name + '</span>';
                bond_html += '          <span style="padding:0 30px;">Mode:' + bindNic.mode + '</span>';
                bond_html += '      </div>';                
                bond_html += '  </div>';
                bond_html += '  <div class="row">';
                bond_html += '    <div class="node_box_item node_box_name">';
                bond_html += '      <div class="bond_slave">';
                bond_html += '          <span>'+ slaves[0] + '</span>';
                bond_html += '      </div>';                
                bond_html += '      <div class="bond_slave">';
                bond_html += '          <span>'+ slaves[1] + '</span>';
                bond_html += '      </div>';
                bond_html += '    </div>';
                bond_html += '       <div class="nic_box node_box_item">';
                bond_html += '           <span class="netplane-placeholder">请拖住网络平面放到此处</span>';
                bond_html += '       </div>';  
                bond_html += '       <div class="node_box_item">';
                bond_html += '           <div class="nic_ip" style="margin-top:12px;">';
                bond_html += '               <div class="input-group" >';
                bond_html += '                   <input class="form-control" type="button" value="请配置IP：">';
                bond_html += '                   <div class="input-group-addon"><span class="fa fa-pencil"></span></div>';
                bond_html += '               </div>';
                bond_html += '           </div>';
                bond_html += '           <div class="nic_new_ip" hidden style="margin-top:12px;">';
                bond_html += '               <div class="input-group">';
                bond_html += '                   <input class="form-control" type="text"  placeholder="请配置IP：">';
                bond_html += '                   <div class="input-group-addon" id="save_nic_ip"><span class="fa fa-check"></span></div>';
                bond_html += '                   <div class="input-group-addon" id="cancel_modify_nic_ip"><span class="fa fa-times"></span></div>';
                bond_html += '               </div>';
                bond_html += '           </div>';
                bond_html += '       </div> ';                
                bond_html += '  </div>';
                bond_html += '</div>';
                bond_html += '</div>';

                $("#bond_nics").append(bond_html);
                $("#BindModal").modal('hide');

                enable_bond_button();
                init_drag_drop();
            })

            $(document).on("click","#unbind_nics",function(){
                $("#UnbindModal").modal();
            })

            $(document).on('click','#unbindNicConfirm',function(){
                $checkboxs = $("#hostNicsConf").find('[type="checkbox"]');

                $checkboxs.each(function(){
                    if($(this).attr("checked")){
                        restore_netplane(this);

                        var slaves = eval($(this).attr("slaves"));
                        $panel = $(this).closest(".panel-body");
                        $panel.remove();

                        if(slaves == null){
                            return;
                        }

                        for(i=0; i<slaves.length; i++){
                           var eth_html = '<div class="panel-body">';
                               eth_html+= '    <div class="node_box row">';
                               eth_html+= '       <div class="node_box_item node_box_checkbox">';
                               eth_html+= '           <input type="checkbox" value="' + slaves[i] + '" nic_type="ether">';
                               eth_html+= '       </div>';
                               eth_html+= '       <div class="node_box_item node_box_eth_name">';
                               eth_html+= '           <div>' + slaves[i] + '</div>';
                               eth_html+= '       </div>';
                               eth_html+= '       <div class="node_box_item nic_box">'
                               eth_html+= '           <span class="netplane-placeholder">请拖住网络平面放到此处</span>'
                               eth_html+= '       </div>'                               
                               eth_html+= '    </div>';
                               eth_html+= '</div>';
                           $("#ether_nics").append(eth_html);
                        }
                    }
                })

                $("#UnbindModal").modal('hide');

                enable_bond_button();  
                init_drag_drop();              
            })

            $(document).on('click','#HostNicsUpdate',function(){
              cluster_id = $("#cluster_host").attr("cluster");
              host_id = $("#cluster_host").attr("host");
              url = "/dashboard/environment/deploy/" + cluster_id + "/" + host_id + "/updatenics";
              next = "/dashboard/environment/deploy/" + cluster_id + "/hosts";

              var nics = new Array();

              $("#ether_nics").find(".node_box").each(function(){
                  var eth = {};
                  eth.name = $(this).find('[type="checkbox"]').first().val();
                  eth.type = 'ether';
                  eth.ip = $(this).find('.nic_ip').find('.form-control').attr('value'); 
                  eth.assigned_networks = new Array();

                  $(this).find('.netplane').each(function(){
                      eth.assigned_networks.push($(this).text());
                  })

                  nics.push(eth);
              })

              $("#bond_nics").find(".node_box").each(function(){
                  var bond = {};
                  bond.name = $(this).find('[type="checkbox"]').first().val();
                  bond.type = 'bond';
                  bond.mode = $(this).find('[type="checkbox"]').first().attr("mode");
                  //bond.ip = '127.0.0.1';
                  bond.ip = $(this).find('.nic_ip').find('.form-control').attr('value'); 
                  bond.mac = '98:f5:37:e1:01:af';
                  slaves_str = $(this).find('[type="checkbox"]').first().attr("slaves");
                  slaves = JSON.parse(slaves_str);
                  bond.slave1 = slaves[0];
                  bond.slave2 = slaves[1];
                  bond.assigned_networks = new Array();

                  $(this).find('.netplane').each(function(){
                      bond.assigned_networks.push($(this).text());
                  })             

                  nics.push(bond);   
              })

              do_nic_post(url, JSON.stringify({'interfaces': nics}), next);
            })
            
            $(document).on('click','.nic_ip',function(event){
                $(this).hide();
                $(this).next('.nic_new_ip').show();
            })
            $(document).on('click', "#save_nic_ip", function(){               
                var new_ip = $(this).parent().find('input[type="text"]').attr('value');
                if(new_ip ==""){
                    $(this).parent().find('input[type="text"]').addClass('has-error');
                    $(this).parent().find('input[type="text"]').attr('placeholder','IP不能为空');
                    return;
                }
                if(checkIP(new_ip)== false){
                    $(this).parent().find('input[type="text"]').addClass('has-error');
                    $(this).parent().find('input[type="text"]').attr('placeholder','请输入正确格式的IP');
                    return;                    
                }

                $(this).parents('.node_box_item').find('.nic_ip').find('input').attr('value',new_ip);
                $(this).parents('.nic_new_ip').hide();
                $(this).parents('.node_box_item').find('.nic_ip').show();
            })
            $(document).on('click',"#cancel_modify_nic_ip",function(event){
                $(this).parents('.nic_new_ip').hide();
                $(this).parents('.node_box_item').find('.nic_ip').show();
            })
        })

    </script>
{% endblock %}

{% block main %}
    <div style="padding-top:20px">
        <h4 id="cluster_host" cluster="{{cluster_id}}" host="{{host_id}}">为主机{{host_name}}配置网卡:</h4>
    </div>
    <div style="text-align:right;margin-bottom:4px">
        <a class="btn btn-primary btn-sm" href="/dashboard/environment/deploy/{{ cluster_id }}/hosts" role="button" id="back_to_host">返回主机列表</a>
        <button  class="btn btn-primary btn-sm" id="bind_nics" disabled="disabled">绑定网卡</button>
        <button  class="btn btn-primary btn-sm" id="unbind_nics" disabled="disabled">取消绑定</button>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>网络平面:</strong></div>
        <div class="panel-body nic_box" id="netplanes" style="min-height:90px;">
          {% for netplane in netplanes %}
          <div class="netplane" value="{{netplane.id}}">{{ netplane.name }}</div>
          {% endfor %} 
        </div>
    </div>    
    <div class="panel panel-default" id="hostNicsConf">
        <div class="panel-heading"><strong>网卡配置:</strong></div>
        <div class="panel-body">
            <div id="ether_nics">
            {% for nic in ether_nics_show %}
                <div class="panel-body">
                <div class="node_box row">
                    <div class="node_box_item node_box_checkbox">
                        <input type="checkbox" value="{{nic.name}}" nic_type="{{nic.type}}">
                    </div>
                    <div class="node_box_item node_box_eth_name">
                        <div>{{nic.name}}</div>
                    </div>
                    <div class="nic_box node_box_item">
                        {% for net in nic.assigned_networks %}
                        <div class="netplane" value="{{net.id}}">{{ net }}</div>
                        {% empty %}
                        <span class="netplane-placeholder">请拖住网络平面放到此处</span>
                        {% endfor %}                       
                    </div>
                    <div class="node_box_item">
                    {% if nic.is_deployment %}                   
                        <div>动态分配IP</div>
                    {% else %}
                        <div class="nic_ip" style="margin-top:12px;width:120px">
                            <div class="input-group">
                               <input class="form-control" type="button" value="{{nic.ip}}">
                               <div class="input-group-addon"><span class='fa fa-pencil'></span></div>
                            </div>
                        </div>
                        <div class="nic_new_ip" hidden style="margin-top:12px;width:100px">
                            <div class="input-group">
                               <input class="form-control" id="" type="text"  placeholder="请配置IP：" style="width:120px">
                               <div class="input-group-addon" id="save_nic_ip"><span class='fa fa-check'></span></div>
                               <div class="input-group-addon" id="cancel_modify_nic_ip"><span class='fa fa-times'></span></div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
            <div id="bond_nics">
            {% for nic in bond_nics %}
            <div class="panel-body">
                <div class="node_box">
                    <div class="row" style="border-bottom:1px dotted #ddd; margin:0;">
                        <div class="node_box_item node_box_checkbox">
                            <input type="checkbox" value="{{nic.name}}" mode="{{nic.mode}}" nic_type="bond" slaves='["{{nic.slave1}}", "{{nic.slave2}}"]'>
                        </div>
                        <div class="node_box_item node_box_bond_name" style="">
                          <span style="padding:0 30px">Name:{{ nic.name }}</span>
                          <span style="padding:0 30px">Mode:{{ nic.mode }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="node_box_item node_box_name">
                          <div class="bond_slave">
                              <span>{{nic.slave1}}</span>
                          </div>
                          <div class="bond_slave">
                              <span>{{nic.slave2}}</span>
                          </div>                          
                        </div>
                        <div class="nic_box node_box_item">
                            {% for net in nic.assigned_networks %}
                            <div class="netplane" value="{{net.id}}">{{ net }}</div>
                            {% empty %}
                            <span class="netplane-placeholder">请拖住网络平面放到此处</span>
                            {% endfor %}                           
                        </div> 
                        <div class="node_box_item">
                        {% if nic.is_deployment %}                   
                            <div>动态分配IP</div>
                        {% else %}
                            <div class="nic_ip" style="margin-top:12px;">
                                <div class="input-group" >
                                   <input class="form-control" type="button" value="{{nic.ip}}">
                                   <div class="input-group-addon"><span class='fa fa-pencil'></span></div>
                                </div>
                            </div>
                            <div class="nic_new_ip" hidden style="margin-top:12px;">
                                <div class="input-group">
                                    <input class="form-control" type="text"  placeholder="请配置IP：">
                                    <div class="input-group-addon"><span class='fa fa-check'></span></div>
                                    <div class="input-group-addon"><span class='fa fa-times'></span></div>
                                </div>
                            </div>
                        {% endif %}
                        </div>                         
                    </div>
                </div>
             </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#" role="button" id="HostNicsUpdate">应用</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BindModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">绑定网卡</h4>
      </div>
      <div class="modal-body">
           <div class="form-group form-horizontal">
            <label  class="control-label">绑定名称:</label>
            <input type="text" class="form-control" id="bind_name" placeholder="请输入绑定口的名称">
          </div>
          <div class="form-group">
            <label  class="control-label">绑定模式:</label>
            <div>
                <input type="radio" name="optionsRadios" value="Active Backup" checked>Active Backup   <br/>
                <input type="radio" name="optionsRadios" value="LACP Blance tcp">LACP Blance tcp         <br/>
                <input type="radio" name="optionsRadios" value="Blance SLB">Blance SLB
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id = "bindNicConfirm" class="btn btn-primary">Save changes</button>
      </div>
       </div>
      </div>
    </div>

    <div class="modal fade" id="UnbindModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">解除绑定网卡</h4>
      </div>
      <div class="modal-body">
          你确定要解除网卡的绑定吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id = "unbindNicConfirm" class="btn btn-primary">Save changes</button>
      </div>
       </div>
      </div>
    </div>
{% endblock %}
