{% extends 'base.html' %}
{% load i18n %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>       
        {% trans 'OS Config' %}
    </div>
{% endblock %}

{% block main %}
   <form class="form-horizontal">
     <div class="form-group input-sm">
       <label class="control-label col-sm-5">{% trans 'Operate System' %}:</label>
       <div class="col-sm-3">
       <select class="form-control"  disabled='disabled' placeholder="Readonly">
       {% for ov in os_version %}
           <option>{{ov}}</option>
       {% endfor %}
       </select>
       </div>
     </div>
   </form>    
{% endblock %}

{% block footer %}
    <div class='pull-right'>
        <a href='{% url "horizon:environment:deploy:selecthosts" cluster_id %}' class='btn btn-sm btn-default'>
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          {% trans 'Prev' %}
        </a>
        <a href='{% url "horizon:environment:deploy:os_config_next" cluster_id %}'class='btn btn-sm btn-success'>
          {% trans 'Next' %}
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}