{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% include "_stylesheets.html" %}
<style>
.form-horizontal .form-control-feedback 
{
    left:290px;
}
</style>
{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type='text/javascript' charset='utf-8'>

    function ConfigIPMICallback (argument) {
        var next = '{% url "horizon:environment:deploy:selecthosts" cluster_id %}';
        window.location = next;
    }

    function AddHostsCallback (argument) {
        var next = '{% url "horizon:environment:deploy:hosts_role_assignment" cluster_id %}';
        window.location = next;
    }
	
    var for_discover_list = new Array();
	
    function fresh_table(){
        var tbody = $("#for_discover_tb tbody");
        tbody.html("");
        for(var i = 0;i < for_discover_list.length;i++)
        {				    
            var tr = $("<tr></tr>");
            var ip_td = $("<td>" + for_discover_list[i].ip + "</td>");
            var user_td = $("<td>" + for_discover_list[i].user + "</td>");
            var status_td = $("<td>" + for_discover_list[i].status + "</td>");
            var button_td = $("<td></td>");
            var op_link = $('<a href="#" onclick="deltr('+ "'" + for_discover_list[i].ip + "'" +')">"{% trans 'Delete' %}"</a>');
            button_td.append(op_link);
            tr.append(ip_td).append(user_td).append(status_td).append(button_td);
            tbody.append(tr);
        }
    }
	
    function deltr(ip){
        for(var i = 0;i < for_discover_list.length;i++)
        {
            if(for_discover_list[i].ip == ip)
                for_discover_list.splice(i,1);
        }					
        fresh_table();
    }		
   
    function Get_discover_result(cache_discover_hosts)
    {
        var added_host;
        if (cache_discover_hosts != null)
        {
            for(var i = 0; i < cache_discover_hosts.length; i++)
            {
                if("DISCOVERY_FAILED" == cache_discover_hosts[i].status)
                {
                    added_host = {"ip":cache_discover_hosts[i].ip,"user":cache_discover_hosts[i].user,"status":'{% trans "DISCOVERY_FAILED" %}',"passwd":cache_discover_hosts[i].passwd};
                    for_discover_list.push(added_host);
                }
            }
            $("#operate_region").fadeToggle("fast");
            fresh_table();
        }
    }

        function InsertBatchInstanceTemplate(){
        var add_html = '';
        add_html +=  '<button type="button" id="btnBatchInstanceTemplate" class="btn btn-default btn-sm btn-primary disabled" data-toggle="modal" data-target="#myModal">';
        add_html +=  '{% trans "Instance Template" %}';
        add_html +=  '</button>';
        $("#select_hosts").find('thead').find('.btn').after(add_html);
    }

    function ReloadWindow(){
        window.location.href = "/dashboard/environment/deploy/" + '{{ cluster_id }}' + "/selecthosts";
    }
   
    horizon.addInitFunction(function(){
        $(document).on("click", "#config_discover_info", function(){
            cluster_id = $("#cluster_id_for_select_hosts").attr("cluster_id");
            var url = "/dashboard/environment/deploy/" + cluster_id + '/ipmiconf';
            var next = "/dashboard/environment/deploy/" + cluster_id + '/selecthosts';
            protocol = $('#protocol_type').val();
            ip = $('#ip').val();
            user = $('#user_name').val();
            passwd = $('#user_passwd').val();

            if(user=="" || passwd==""){
                horizon.alert("error","please input user name and password.");
                return;
            }
			
            if (protocol == "SSH"){
                var reg = new RegExp("^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$");
                if (!reg.test(ip))
                {
                    horizon.alert("error","{% trans 'IP address format is wrong,correct format is:xxx.xxx.xxx.xxx' %}");
                }
                else
                {
                    for(var i = 0;i < for_discover_list.length;i++)
                    {
                        if(for_discover_list[i].ip == ip)
                        {
                            horizon.alert("error","this ip address exist already.");
                            return;
                        }
                    }
                    var added_host = {"ip":ip,"user":user,"status":"","passwd":passwd};
                    for_discover_list.push(added_host);					
                    fresh_table();
                }
            }
            else
            {
                do_post(url, JSON.stringify({'ipmi_user': user,
                                             'ipmi_passwd': passwd}), ConfigIPMICallback);

            }

            $('#ip').val("");
            $('#user_name').val("");
            $('#user_passwd').val("");
        })
        
        $(document).on("click", "#add_hosts_to_cluster", function(){
            cluster_id = $("#cluster_id_for_select_hosts").attr("cluster_id");
            var $tbody = $("#select_hosts").find('tbody');
            var $checkboxs = $tbody.find('[type="checkbox"]');
            var $select_checkboxs =$tbody.find('[type="checkbox"]:checked');
            if ($checkboxs.length == 0)
            {
                var next = '{% url "horizon:environment:deploy:hosts_role_assignment" cluster_id %}';
                window.location = next;
                return;
            }
            else
            {
                if ($select_checkboxs.length == 0)
                {
                    var title = '{% trans "Confirm to Discard" %}';
                    var body = '{% trans "No host is selected, Do not select?" %}';
                    var action = '{% trans "Confirm" %}'
                    var modal = horizon.modals.create(title, body, action);
                    modal.modal()
                    modal.find('.btn-primary').click(function (evt) {
                        modal.modal('hide');
                        var next = '{% url "horizon:environment:deploy:hosts_role_assignment" cluster_id %}';
                        window.location = next;
                    });
                }
                else
                {
                    var hosts = new Array();
                    $checkboxs.each(function(){
                        if($(this).attr("checked")){
                            var cur_tr = $(this).parent().parent();
                            var cur_tds = cur_tr.find("td");
                            var discover_status = $.trim(cur_tds.eq(4).text());
                            if (("{{hwm_ip}}") && (discover_status != "PXE:DISCOVERY_SUCCESSFUL") && (discover_status != "SSH:DISCOVERY_SUCCESSFUL"))
                            {
                                horizon.alert("error","all hosts added to cluster should be discovered successful.");
                                return false;
                            }                      
                            else
                            {
                                hosts.push($(this).val());
                            }                            
                        }
                    })
                    
                    if(hosts.length > 0)
                    {
                        var url = "/dashboard/environment/deploy/"+ cluster_id + "/allocatehost";
                        do_post(url, JSON.stringify({'hosts': hosts,
                                                     'roles': [],
                                                     'cluster_id': cluster_id}), AddHostsCallback);
                    }
                    else
                    {
                        return;
                    }
                }
            }
        })
	
        function Handle_list_result(host_list)
        {
            cluster_id = $("#cluster_id_for_select_hosts").attr("cluster_id");
            var trs = $("#for_discover_tb tbody tr");

            for (var i = 0;i < trs.length;i++)
            {
                var tr = trs.eq(i);
                var tds = tr.find("td");
                var index_td = 0;
                var ip = $.trim(tds.eq(index_td++).text());
                var user = $.trim(tds.eq(index_td++).text());
                var status = "";

                for (var j = 0;j < host_list.length; j++)
                {
                    if((host_list[j].ip == ip) && (host_list[j].user == user))
                    {
                        status = host_list[j].status
                        break;
                    }
                }

                if((status != "DISCOVERY_SUCCESSFUL") && (status != "DISCOVERY_FAILED"))
                    break;
            }

            if(i == trs.length)
            {
                horizon.modals.spinner.modal('hide');
                clearInterval(timer);
                window.location.href = "/dashboard/environment/deploy/" + cluster_id + "/selecthosts?get_discover_result=1";
            }

        }
        var count = 0;
        function Timer_list_discover_host()
        {
            cluster_id = $("#cluster_id_for_select_hosts").attr("cluster_id");
            count++;
            if(count >= 600)
            {
                horizon.modals.spinner.modal('hide');
                clearInterval(Timer_list_discover_host);
                window.location.href = "/dashboard/environment/deploy/" + cluster_id + "/selecthosts?get_discover_result=1";
            }
            else
            {
                var url = "/dashboard/environment/deploy/"+ cluster_id + "/list_discover_host";
                do_post(url, JSON.stringify({'cluster_id': cluster_id}), Handle_list_result);
            }
        }

        function OnWaitDiscover()
        {
            timer = setInterval(Timer_list_discover_host, 3000);
            horizon.modals.modal_spinner("Discovering");
        }
        $(document).on("click", "#start_discover_btn", function(){
            var trs = $("#for_discover_tb tbody tr");
            var hosts = new Array();

            for (var j = 0;j < for_discover_list.length; j++)
            {
                var host = {
                    "ip":for_discover_list[j].ip,
                    "user":for_discover_list[j].user,
                    "passwd":for_discover_list[j].passwd,
                }
                hosts.push(host);                
            }

            cluster_id = $("#cluster_id_for_select_hosts").attr("cluster_id");
            var url = "/dashboard/environment/deploy/"+ cluster_id + "/startdiscover";
            do_post(url, JSON.stringify({'hosts': hosts,'cluster_id': cluster_id}), OnWaitDiscover);
        })
        InsertBatchInstanceTemplate();
        $(document).on("click", $(".table-row-multi-select"), function(){
            $checkboxs = $("#select_hosts").find('tbody').find('[type="checkbox"]');
            var hosts = new Array();
            $checkboxs.each(function(){
                if($(this).attr("checked")){
                    hosts.push($(this).val());
                }
            })
            if(hosts.length != 0){
                $("#btnBatchInstanceTemplate").removeClass("disabled");
            }
            else{
                $("#btnBatchInstanceTemplate").addClass("disabled");
            }
        })
        $("#btnInstanceTemplate").click(function(){
            $checkboxs = $("#select_hosts").find('tbody').find('[type="checkbox"]');
            var hosts = new Array();
            $checkboxs.each(function(){
                if($(this).attr("checked")){
                    hosts.push($(this).val());
                }
            })
            var instance_config = {
                'hosts': hosts,
                'host_template_name': $("#sl_host_template").val()
            }
            var url = "/dashboard/environment/template/"+ '{{ cluster_id }}' + "/batch_instance_template";
            do_post(url, JSON.stringify(instance_config), ReloadWindow);
        })
    })

    $(document).ready(function(){
        $("[data-toggle='tooltip']").tooltip();
          
        $("#protocol_type").change(function(){
            protocol = $('#protocol_type').val();
            if(protocol == "IPMI"){
                $('#ip_block').hide();
                $('#for_discover_block').hide();
                $('#user_name').attr('data-original-title','{% trans "BMC Management Port User Name" %}');
                $('#user_passwd').attr('data-original-title','{% trans "BMC Management Port Password" %}');
                $('#protocol_type').attr('data-original-title','{% trans "IPMI protocol can discover hosts not installed os" %}');
                $('#ssh_hint').hide();
            }
            else
            {
                $('#ip_block').show();
                $('#for_discover_block').show();
                $('#ip').val("");
                $('#user_name').attr('data-original-title','{% trans "Os User Name" %}');
                $('#user_passwd').attr('data-original-title','{% trans "Os Password" %}');
                $('#protocol_type').attr('data-original-title','{% trans "SSH protocol can discover hosts installed os" %}');
                $('#ssh_hint').show();
            }
        });
        var get_discover_result = getArgs()["get_discover_result"];
        if(get_discover_result = "1")
        {
            var cluster_id = $("#cluster_id_for_select_hosts").attr("cluster_id");
            var url = "/dashboard/environment/deploy/"+ cluster_id + "/get_discover_result";
            do_post(url, JSON.stringify({'cluster_id': cluster_id}), Get_discover_result);

        }
    });

    </script>
{% endblock %}

{% block page_header %}
    <div>
        <span style="font-weight:bold;">{{current_cluster}}</span>
        <span> > </span>       
        {% trans 'Discover Servers' %}
    </div>
{% endblock %}

{% block operate_region %}
<div class="row">
   <form class="col-xs-4" style="margin-left:10px;">
     <div class="form-group input-sm">
       <label class="control-label col-sm-3">{% trans 'Select Protocol' %}:</label>
       <div class="col-sm-6">
       <select class="form-control" id="protocol_type" data-toggle="tooltip" data-placement="right" data-original-title="{% trans "SSH protocol can discover hosts installed os" %}">
           <option>SSH</option>
           <!--option>IPMI</option-->
       </select>
       </div>
     </div>
     <div class="form-group input-sm" id="ip_block">
      <label class="control-label col-sm-3" for="ip">{% trans "IP" %}</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" id="ip" autocomplete="off" data-toggle="tooltip" data-placement="right" data-original-title="{% trans "Management port IP address of the host to be discover" %}">
      </div>
     </div>
     <div class="form-group input-sm">
      <label class="control-label col-sm-3" for="user_name">{% trans "User name" %}</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" class="" id="user_name" autocomplete="off" data-toggle="tooltip" data-placement="right" data-original-title="{% trans "Os User Name" %}">
      </div>
     </div>
     <div class="form-group input-sm">
      <label  class="control-label col-sm-3" for="user_passwd">{% trans "password" %}</label>
      <div class="col-sm-6">
      <input class="form-control" type="password"  id="user_passwd" autocomplete="off" data-toggle="tooltip" data-placement="right" data-original-title="{% trans "Os Password" %}">
      </div>
     </div>
     <div class="form-group input-sm">
     <label  class="control-label col-sm-3"></label>
     <div class="col-sm-6">
     <button class="btn btn-primary"  id="config_discover_info">{% trans "Submit" %}</button>
     </div>
     </div>
   </form>
    <div class="col-xs-4" id="for_discover_block">
        <div style="margin-top:5px;overflow-x: hidden; overflow-y: auto; width: 100%;height: 225px">
            <table class="table table-striped table-hover table-condensed table-bordered table_eth" id="for_discover_tb">
                <thead>
                    <tr>
                        <th>{% trans "IP" %}</th>
                        <th>{% trans "User name" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div >
            <button type="button" class="btn btn-primary pull-right" style="margin-bottom:15px;" id="start_discover_btn">
                {% trans "Start Discover" %}
            </button>
        </div>
    </div>
    <div class="col-xs-3" style="margin-top:5px;" id="ssh_hint">
        <div>
        {% trans "1. binding network port: host network interface binding already installed system, advance manually on the host network interface binding." %}
        </div>        
        <div>
        {% trans "2.lv_mysql and lv_glance: If you have already installed the operating system install tecs control node, the user must manually create two logical volumes, size set by the user,/dev/mapper/vg_data-lv_glance and/dev/mapper/vg_db-lv_db." %}
        </div>
    </div>
</div>
{% endblock %}

{% block create_cluster_wizard %}
    {% include 'horizon/_wizard_steps.html' %}
{% endblock %}

{% block main %}
{{ table.render }}
{% endblock %}

{% block footer %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Instance Template" %}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-batch-instance-template">
                        <div class="form-group input-sm center">
                            <label class="control-label col-sm-3" style="float:left; font-size:12px; text-align:right; height:30px">{% trans 'Host Template' %}:</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="sl_host_template" name="sl_host_template">
                                    {% for host_template in host_templates %}
                                    <option cluster_id="{{host_template.name}}">{{ host_template.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background-color: #f1f1f1;">
                    <div class="pull-right">
                        <input type="button" class="btn btn-default btn-sm btn-primary" id="btnInstanceTemplate" value = '{% trans "Instance Template" %}' />
                        <input type="button" class="btn btn-default cancel" onclick="operate_close()" value='{% trans "Cancel" %}' />
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class='pull-right'>
        <div id="cluster_id_for_select_hosts" cluster_id={{cluster_id}} display="hide"></div>
        <a href='{% url "horizon:environment:cluster:overview" cluster_id %}' class='btn btn-sm btn-default'>
            {% trans 'Back' %}
        </a>
        <a class='btn btn-sm btn-success' id="add_hosts_to_cluster">
            {% trans 'Next' %}
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
{% endblock %}