[Unit]
Description=OpenStack Image Service deferred image deletion service
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=daisy
ExecStart=/usr/bin/daisy-scrubber
PrivateTmp=true

[Install]
WantedBy=multi-user.target

