[Unit]
Description=auto backup Service (code-named Daisy)
After=syslog.target network.target

[Service]
Type=simple
NotifyAccess=all
Restart=always
User=root
ExecStart=/usr/bin/daisy-auto-backup --config-file /etc/daisy/daisy-auto-backup.conf
PrivateTmp=false

[Install]
WantedBy=multi-user.target

