[Unit]
Description=Daisy Registry Service (code-named Daisy) Registry server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=root
ExecStart=/usr/bin/daisy-registry --config-file /etc/daisy/daisy-registry.conf
PrivateTmp=true

[Install]
WantedBy=multi-user.target

