[Unit]
Description=OpenStack Api Service (code-named Daisy) API server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
Restart=always
User=root
ExecStart=/usr/bin/daisy-api --config-file /etc/daisy/daisy-api.conf
PrivateTmp=false

[Install]
WantedBy=multi-user.target

