[Unit]
Description=Hardware introspection service for OpenStack Ironic

[Service]
ExecStart=/usr/bin/ironic-discoverd --config-file /etc/ironic-discoverd/discoverd.conf
User=root

[Install]
WantedBy=multi-user.target
Alias=openstack-ironic-discoverd.service
