[
    {
        "protocol_type": "ISCSI",
        "service": "glance",
        "lun": "0",
        "data_ips": [
            "10.43.177.159"
        ],
        "lvm_config": {
            "size": 100,
            "vg_name": "VolGroupHAImage",
            "lv_name": "lvHAImage",
            "fs_type": "ext4"
        }
    },
    {
        "protocol_type": "ISCSI",
        "service": "db",
        "lun": "1",
        "data_ips": [
            "162.1.1.101"
        ],
        "lvm_config": {
            "size": 100,
            "vg_name": "VolGroupHAMysql",
            "lv_name": "lvHAMysql",
            "fs_type": "ext4"
        }
    },
    {
        "protocol_type": "CEPH",
        "rbd_config": {
            "size": 100,
            "rbd_pool": "mysql",
            "rbd_volume": "mysql",
            "fs_type": "ext4" # can be none
        }
    }
]