{% comment %}
We want to have separate compressed css files for horizon.scss and dashboard.scss.
The reason for it is based on the fact that IE9 has a limit on the number of css rules
that can be parsed in a single css file.  The limit is 4095 = (4k - 1). This causes some
css rules getting cut off if one css file to get more than 4k rules inside.
{% endcomment %}

{% load compress %}

{% compress css %}
<link href='{{ STATIC_URL }}dashboard/scss/horizon.scss' type='text/scss' media='screen' rel='stylesheet' />
{% endcompress %}

{% compress css %}
<link href='{{ STATIC_URL }}dashboard/dashboard.scss' type='text/scss' media='screen' rel='stylesheet' />
{% endcompress %}

<link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/img/favicon.ico"/>

<style>
    body:not(#splash) {
        background-image: none !important; 
    }

    #login_page {
        background-image: url('{{ STATIC_URL }}dashboard/img/bg-login.jpg');
        position: fixed;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-size: cover;
        background-position: 50% 50%;
        top: 0px;   
    }

    #login_page:before {
        content: "";
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(22, 22, 104, 0.3);
        background-image: none;
        opacity: 0.6;
    }    

    #login_page .login {
        margin-top: 10%;
        padding-top: 0px;
        background-color: #ddd; 
        filter:alpha(opacity=65); 
        -moz-opacity:0.65;
        -khtml-opacity: 0.65; 
        opacity: 0.65;                 
    }

    #login_page .modal-header {
        display: none;
    }

    #head_nav {
        min-width:1230px;
        background: url('{{ STATIC_URL }}dashboard/img/bg_head.png') repeat-x;
    }

    #head_logo {
        float:left;
        margin:5px 5px 0 20px;
        width: 40px;
        height: 40px;
        background-image: url('{{ STATIC_URL }}dashboard/img/logo_head.png'); 
        background-size: cover;
        background-position: 50% 50%;        
    }

    #head_mark {
        float:left;
        margin:5px 20px 0 5px;
    }

    #head_clusters, #head_version, #head_hosts_list, #head_template_list{
        font-size: 14px; 
        line-height: 40px;
        padding: 2px 15px 2px 15px;    
    }

    #head_clusters.active, #head_version.active, #head_hosts_list.active, #head_template_list.active{
        background-color: rgba(48, 112, 128, 1) !important;        
    } 

    #user_info {
        padding: 3px;
    }

    #user_info a:hover {
        background-color: rgba(48, 112, 128, 1) !important;
    }

    #head_clusters a:focus {
        background-color: rgba(48, 112, 128, 1) !important;
    }    

    .btn {
        padding: 3px 8px;
    }


    .modal-header {
        background: url('{{ STATIC_URL }}dashboard/img/bg_head.png') repeat-x !important; 
        color: white;
        padding: 5px;
        padding-left: 15px;
        min-height: 30px !important;
    }

    .icon_white {
        color: white;
    }

    .modal {
        padding-top: 150px;
    }

    .modal-dialog {
        width: 550px;
    }

    .modal-header a.close{
        color: white;
    }

    #modal_wrapper .modal-title {
        font-size: 18px !important;  
    }

    #modal_wrapper .modal-dialog {
        max-width: 550px !important;
    }

    #modal_wrapper .modal-footer {
        background-color: #f1f1f1;
    }

    .modal-body {
        min-height: 100px !important;
    }

    .table {
        width: 99.99% !important;
    }

    .table > thead > tr > th, .table > thead > tr > td, 
    .table > tbody > tr > th, .table > tbody > tr > td, 
    .table > tfoot > tr > th, .table > tfoot > tr > td {
        padding: 5px !important;
    }

    .table-striped tbody tr.status_unknown:nth-child(odd) td {
        background-color: #f9f9f9 !important;
    }

    .table-striped tbody tr.status_unknown:nth-child(even) td {
         background-color: inherit !important;
    }

    input[type="file"] {
        border: none;
        box-shadow: none;
    }

    .loading_gif {
        display: none !important; 
    }

    .form-control, .datepicker input  {
        padding: 2px 6px;
        height: 28px;
    }  

    .panel-title {
        font-size: 13px;
        font-weight: bold;
    }

    form label {
        font-size: 10px;
    }

    .nettype_label {
        height: 28px;
        line-height: 28px;
        font-weight: normal;
    }

    .cluster_box {
        width:200px;
        height:170px;
        border:1px solid #ddd;
        box-shadow:1px 1px 3px rgba(240, 173, 78, 0.3);
        float:left;
        margin:30px;
        display: block;
        -moz-border-radius:10px;  
        -webkit-border-radius:10px;  
        border-radius:10px;
    }

    .cluster_box:hover {
        box-shadow: 8px 8px 8px rgb(240, 173, 78);
    }

    .cluster_link {
        text-decoration:none;
        color:black;
    }
    .cluster_link:hover {
        color:black;
    }

    .cluster_box span{
        opacity: 0;
        transition: opacity 1s;
    }
    .cluster_box:hover span{
        opacity: 1;
        transition-duration: 1s;
    }

    .wizard-step {
        .active {
            background-color:#337AB7;
        }
    }

    #container {
        padding: 15px; 
        border: 1px solid #f1f1f1; 
        border-bottom: none;
    }

    #main_content {
        overflow:hidden;
        min-width:1230px;
    }

    .topbar {
        height: 30px;
        line-height: 30px;
        border-bottom: none;
        background: #f1f1f1;
        /*font-weight: bold;*/ 
        padding-left: 10px;       
    }

    #operate_region {
        border: 2px dashed #ddd;
        min-height: 100px;
        margin: 15px;
        border-radius: 5px;
        display: none;
        padding: 2px;
    }

    #main_region {
        margin: 15px;
        overflow:hidden;         
    }

    #footer {
        margin-top: 30px;
        min-width:1230px;
    }

    .wizard-steps li {
        height: 100px;
        width: 18%;
        display: inline-block;
        text-align: center;
    }

    .wizard-steps li .title {
        text-align: center;
        white-space: nowrap;
        color: #AEAEAE;
        margin-left: -60px;
        font-size: 12px;
    }

    .wizard-steps li.active .title {
        font-weight: bold;
        color: rgba(61, 126, 181, 1);
    }

    .wizard-steps li .step {
        border-style: none;
        max-width:55px;
        max-height:55px;
    }

    .wizard-steps li .complete {
        border-style: none;
        max-width:18px;
        max-height:18px;
    }

    .wizard-steps li .step:hover {
        transition-duration: 0.5s;
        -moz-transition-duration: 0.5s; /* Firefox 4 */
        -webkit-transition-duration: 0.5s; /* Safari Chrome */
        transform:scale(0.8);
        -moz-transform:scale(0.8);        
        -webkit-transform:scale(0.8);
    }

    .wizard-steps li.active .step {
        color: #fff;
    }    

    .wizard-steps li.active:before, .wizard-steps li.active .step {
        border-color: #80afd4 !important;
        border-color: #93cbf9 !important;
    }

    .wizard-steps li:not(.first) .before:before {
        width: 60px;
        height: 2px;
        display: block;
        content: "";
        background-color: #AEAEAE;
        float:left;
        margin-top: 30px;
    }

    .wizard-steps li .title {
        margin-right: -120px;
    }
    .wizard-steps li.first .step {
        margin-right: -60px;
    }        

    .wizard-steps li .complete {
        margin-right: -60px;
    }

    .wizard-steps li.active .before:before {
        background-color: rgba(61, 126, 181, 1);
    }

    /*.wizard-steps li:not(.last) .before:after {
        width: 60px;
        height: 3px;
        display: block;
        content: "";
        background-color: #AEAEAE;
        float:right;
        margin-top: 40px;
    }

    .wizard-steps li .title {
        margin-left: -60px;
    }
    .wizard-steps li.last .step {
        margin-left: -60px;        
    }    

    .wizard-steps li.active .before:after {
        background-color: rgba(52, 109, 153, 1);
    }*/

    .wizard-steps li.error .step:before {
        background-color: #fff;
        border-radius: 100%;
        bottom: 0;
        color: #d3413b;
        content: "\f00d";
        display: block;
        font-family: FontAwesome;
        font-size: 17px;
        left: 0;
        line-height: 30px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 3;
    }
    .wizard-steps li.error .step, .wizard-steps li.error:before {
        border-color: #5293c4;
    }
    .wizard-steps li.error .title, .wizard-steps li.error .title {
        color: #2b3d53;
    }

    .wizard-steps li.complete .step:before {
        background-color: rgba(255, 255, 255, 0);
        top: 23px;
        right: -3px;
    }
    .wizard-steps li.complete:before, .wizard-steps li.complete .step {
        background-color: #5293C4;
        /* border-color: #93cbf9 !important;*/
    }    

    .wizard-steps li.incomplete:before, li.incomplete .step {
        border-color: #d15b47 !important;
    }
</style>
