{% load i18n branding %}
<!DOCTYPE html>
<html lang="en" xml:lang="en">
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% trans "Login" %} - {% site_branding %}</title>
    {% include "_stylesheets.html" %}
    <style>
        html,body { height:100% }

        #brand {
          font-size: 90px;
          text-align: center;
          height: 50%;
          background-color: #5bc0de;
          min-height:300px;
          color:white;
        }

        #login_box {
          left: 33%;
          width: 33%;
          position: relative;
        }
    </style>
  </head>
  <body>
        <div id="brand">
            <div style="top:35%;position:relative;">Daisy</div>
        </div><!--/#brand-->
        <div id="login_box">
            {% include 'auth/_login.html' %}
        </div>
  </body>
</html>
