include run_tests.sh ChangeLog
include README.rst
include MANIFEST.in pylintrc
include AUTHORS
include HACKING.rst
include LICENSE
include ChangeLog
include babel.cfg tox.ini
include openstack-common.conf
include daisy/openstack/common/README
include daisy/db/sqlalchemy/migrate_repo/README
include daisy/db/sqlalchemy/migrate_repo/migrate.cfg
include daisy/db/sqlalchemy/migrate_repo/versions/*.sql
graft doc
graft etc
graft daisy/locale
graft daisy/tests
graft tools
global-exclude *.pyc
