{% load i18n %}
{% load context_selection %}

<script src="{{ STATIC_URL }}dashboard/bootstrapValidator.js"></script>
<script type='text/javascript' charset='utf-8'>
    function CheckIP(str)
    {
        if (str === "")
            return true;
        var reg = new RegExp("^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[1-9]|0)\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]{1}[0-9]{1}|[0-9])$");
        if (!reg.test(str))
            return false;
        return true;
    }
    
    $(function(){
        $('.form-cluster-validator').bootstrapValidator({
            message: 'This value is not valid',
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                cluster_name: {
                    validators: {
                        notEmpty: {
                            message: '{% trans "Cluster name can not be empty, please input" %}'
                        },
                        regexp: {
                            regexp: '^[a-zA-Z][a-zA-Z0-9_]{3,15}$',
                            message: '{% trans "Name must begin with letters, and consist of numbers,letters or underscores. The length of name is 4 to 16" %}'
                        }
                    }
                },
                base_mac:{
                    validators: {
                        regexp: {
                            regexp: /^([0-9a-fA-F]{2})(([/\s:][0-9a-fA-F]{2}){5})$/,
                            message: '{% trans "MAC address is error, format as XX:XX:XX:XX:XX:XX" %}'
                        }
                    }
                },
                vxlan_range_start: {
                    validators: {
                        callback: {
                            callback: function(value, validator) {
                                if ($("#cluster_seg_type_vxlan").attr('checked') == 'checked'){
                                    var str = $("#vxlan_range_start").val();
                                    if ((str == "") || (isNaN(str)))
                                        return false;
                                    var value = parseInt(str, 10);
                                    if (value < 1 || value > 16777215)
                                        return false;
                                }
                                return true;
                            },
                            message: '{% trans "Range: 1-16777215" %}'
                        }
                    }
                },
                vxlan_range_end: {
                    validators: {
                        callback: {
                            callback: function(value, validator) {
                                if ($("#cluster_seg_type_vxlan").attr('checked') == 'checked'){
                                    var str = $("#vxlan_range_end").val();
                                    if ((str == "") || (isNaN(str)))
                                        return false;
                                    var value = parseInt(str, 10);
                                    if (value < 1 || value > 16777215)
                                        return false;
                                }
                                return true;
                            },
                            message: '{% trans "Range: 1-16777215" %}'
                        }
                    }
                }
            }
        });
        
        $("#cluster_seg_type_vlan, #cluster_seg_type_vxlan, #cluster_seg_type_flat").on("change", function (){
            if($("#cluster_seg_type_vxlan").attr('checked') == 'checked') {
                $(".vxlan_range").removeClass('hide');
                $(".PRIVATE").hide();
                $(".VXLAN").show();
            }
            else {
                $(".vxlan_range").addClass('hide');
                $(".PRIVATE").show();
                $(".VXLAN").hide();

                if($("#cluster_seg_type_flat").attr('checked') == 'checked'){
                    $(".VXLAN").show();                    
                }
            }
        })

        $("#cluster_seg_type_vlan").click();
    });
    
    function get_network_values(){
        var networking_parameters = {
            "base_mac": $("#base_mac").val(),
        };

        var segmentation_type = "";
        if ($("#cluster_seg_type_vlan").attr('checked') == 'checked'){
            segmentation_type += "vlan,";
        }
        if ($("#cluster_seg_type_vxlan").attr('checked') == 'checked'){
            var vni_range = new Array();
            vni_range.push($("#vxlan_range_start").val());
            vni_range.push($("#vxlan_range_end").val());
            networking_parameters.vni_range = vni_range;
            segmentation_type += "vxlan,";
        }
        if ($("#cluster_seg_type_flat").attr('checked') == 'checked'){
            segmentation_type += "flat,";
        }
        networking_parameters.segmentation_type = segmentation_type.substr(0, segmentation_type.length - 1);

        return networking_parameters;
    }
</script>

<form class="form-horizontal form-cluster-validator">
    <div style="clear:both" class="form-group">
        <label style="text-align:right;" for="cluster_name" class="col-sm-3 control-label">{% trans 'Cluster name' %}</label>
        <div style="float:left;" class="col-sm-4">
            <input type="text" id="cluster_name" name="cluster_name" class="form-control" placeholder="{% trans 'Cluster name' %}">
        </div>
    </div>
    <div style="clear:both" class="form-group">
        <label style="text-align:right;" for="base_mac" class="col-sm-3 control-label">{% trans 'Start MAC' %}</label>
        <div style="float:left;" class="col-sm-4">
            <input type="text" id="base_mac" name="base_mac" class="form-control" placeholder="{% trans 'VM start MAC address' %}">
        </div>
    </div>
    <div style="clear:both" class="form-group">
        <label style="text-align:right;" class="col-sm-3 control-label">{% trans 'Segment type' %}</label>
        <div style="float:left;" class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" id="cluster_seg_type_vlan" name="cluster_seg_type" class="cluster_seg_type" value="vlan">vlan
            </label>
            <label class="radio-inline">
                <input type="radio" id="cluster_seg_type_vxlan" name="cluster_seg_type" class="cluster_seg_type" value="vxlan">vxlan
            </label>
            <label class="radio-inline">
                <input type="radio" id="cluster_seg_type_flat" name="cluster_seg_type" class="cluster_seg_type" value="flat">flat
            </label>
        </div>
    </div>
    <div style="clear:both" class="form-group vxlan_range hide">
        <label style="text-align:right;" class="col-sm-3 control-label">{% trans 'VXLAN Range' %}</label>
        <div style="float:left;" class="col-sm-4">
            <div class="row">
                <div class="col-xs-5">
                    <input type="text" id="vxlan_range_start" name="vxlan_range_start" class="form-control" placeholder="{% trans 'Start number' %}"/>
                </div>
                <div class="col-xs-2" style="line-height:30px;text-align:center;">
                    <span class="glyphicon glyphicon-minus"></span>
                </div>
                <div class="col-xs-5">
                    <input type="text" id="vxlan_range_end" name="vxlan_range_end" class="form-control" placeholder="{% trans 'End number' %}"/>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both" class="form-group form-auto-scale hide">
        <label style="text-align:right;" for="auto_scale" class="col-sm-3 control-label">{% trans 'Auto scale' %}</label>
        <div style="float:left;" class="col-sm-4">
            <select id="auto_scale" name="auto_scale" class="form-control">
                <option value="0" selected="selected">{% trans "Unsupport" %}</option>
                <option value="1">{% trans "Support" %}</option>
            </select>
        </div>
    </div>
    <div style="clear:both" class="form-group">
        <label style="text-align:right;" for="use_dns" class="col-sm-3 control-label">{% trans 'Use DNS' %}</label>
        <div style="float:left;" class="col-sm-4">
            <select id="use_dns" name="use_dns" class="form-control">
                <option value="0">{% trans "No" %}</option>
                <option value="1" selected="selected">{% trans "Yes" %}</option>
            </select>
        </div>
    </div>
    <div style="clear:both" class="form-group">
        <label style="text-align:right;" for="description" class="col-sm-3 control-label">{% trans 'Description' %}</label>
        <div style="float:left;" class="col-sm-4">
            <input type="text" id="description" name="description" class="form-control" placeholder="{% trans 'Descriptive info' %}">
        </div>
    </div>
</form>
