{% load i18n %}
{% load context_selection %}
{% load url from future %}

<div>
    <ul class="nav nav-tabs" id="cluster_modify_modal">
        <li class="active">
            <a href="#cluster_baseinfo" data-toggle="tab" data-target="#cluster_baseinfo">{% trans "basic info" %}</a>
        </li>
        <li class="">
            <a href="#cluster_role" data-toggle="tab" data-target="#cluster_role">{% trans "Role Settings" %}</a>
        </li>
        <li class="">
            <a href="#cluster_netplane" data-toggle="tab" data-target="#cluster_netplane">{% trans "Netplane Settings" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tab-panel" class="tab-pane active" id="cluster_baseinfo">
            <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}">
            {% include "environment/cluster/_base.html" %}
        </div>
        <div role="tab-panel" class="tab-pane" id="cluster_role">
            {% for role in roles %}
                {% if role.name == "CONTROLLER_HA" %}
                    <input type="hidden" id="ha_role_id" name="ha_role_id" value="{{ role.id }}">
                    <input type="hidden" id="ha_role_name" name="ha_role_name" value="{{ role.name }}">
                {% elif role.name == "CONTROLLER_LB" %}
                    <input type="hidden" id="lb_role_id" name="lb_role_id" value="{{ role.id }}">
                    <input type="hidden" id="lb_role_name" name="lb_role_name" value="{{ role.name }}">
                {% elif role.name == "ZENIC_MDB" %}
                    <input type="hidden" id="zenic_mdb_role_id" name="zenic_mdb_role_id" value="{{ role.id }}">
                    <input type="hidden" id="zenic_mdb_role_name" name="zenic_mdb_role_name" value="{{ role.name }}">
                {% elif role.name == "ZENIC_NFM" %}
                    <input type="hidden" id="zenic_nfm_role_id" name="zenic_nfm_role_id" value="{{ role.id }}">
                    <input type="hidden" id="zenic_nfm_role_name" name="zenic_nfm_role_name" value="{{ role.name }}">
                {% elif role.name == "ZENIC_CTL" %}
                    <input type="hidden" id="zenic_ctl_role_id" name="zenic_ctl_role_id" value="{{ role.id }}">
                    <input type="hidden" id="zenic_ctl_role_name" name="zenic_ctl_role_name" value="{{ role.name }}">
                {% endif %}
            {% endfor %}
            {% include "environment/cluster/_roles.html" %}
        </div>
        <div role="tab-panel" class="tab-pane" id="cluster_netplane">
            {% include "environment/cluster/_network.html" %}
        </div>
    </div>
</div>

<div class="pull-right">
    <a class="btn btn-primary" type="submit" onclick="modify_cluster_click()">{% trans 'Modify' %}</a>
    <a class="btn btn-default cancel" href="{% url 'horizon:environment:overview:index' %}">{% trans "Cancel" %}</a>
</div>

{% include "environment/cluster/_cinder.html" %}
