{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Create Cluster" %}
{% endblock %}

{% block page_header %}
  {% trans "Create Cluster" %}
{% endblock page_header %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type="text/javascript">
    $("#cluster_create_modal a:first").tab("show");

    function create_cluster_commit(){
        var cluster_info = {
            "cluster_name": $("#cluster_name").val(),
            "networking_parameters": get_network_values(),
            "use_dns": $("#use_dns").val(),
            "description":$("#description").val()
        }

        var role_info = {
{% if not has_zenic %}
            "ha": get_ha_role_values(),
            "lb": get_lb_role_values()
{% else %}
            "zenic_nfm": get_zenic_nfm_info(),
            "zenic_ctl": get_zenic_ctl_info()
{% endif %}
        }

        var netplane_info = get_netplane_info();

        var params = {
            "cluster_id": $("#cluster_create_modal").data("cluster_id"),
            'cluster_info': cluster_info,
            'role_info': role_info,
            'netplane_info': netplane_info
        }

        var url = "{% url 'horizon:environment:cluster:create_submit' %}";
        do_post(url, JSON.stringify(params), goto_select_host, goto_modify_host);
    }    

    function goto_select_host(cluster_list){
        if (cluster_list.length > 0){
            window.location = "/dashboard/environment/deploy/" 
                              + cluster_list[0].id 
                              + "/selecthosts";
        }
    }

    function goto_modify_host(cluster_list){
        if (cluster_list.length > 0){
            $("#cluster_create_modal").data("cluster_id", cluster_id);
        }            
    }

    function operate_cluster(){
        $(".form-cluster-validator").data('bootstrapValidator').validate()
        if (!$(".form-cluster-validator").data('bootstrapValidator').isValid()){
            $('#cluster_create_modal a[href="#cluster_baseinfo"]').tab('show')
            return;
        }

        $(".form-roles-validator").data('bootstrapValidator').validate()
        if (!$(".form-roles-validator").data('bootstrapValidator').isValid()){
            $('#cluster_create_modal a[href="#cluster_role"]').tab('show')                
            return;
        }

        $(".form-net-plane").data("bootstrapValidator").validate()
        if (!$(".form-net-plane").data('bootstrapValidator').isValid()){
            $('#cluster_create_modal a[href="#cluster_netplane"]').tab('show')                
            return;
        }

        create_cluster_commit();
    }
    
    $(function(){
        $("#collapse_ha").collapse('show');
    });
    </script>
{% endblock %}

{% block main %}
    {% include 'environment/cluster/_create_cluster.html' %}
{% endblock %}

