{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Modify Cluster" %}
{% endblock %}

{% block page_header %}
  {% trans "Modify Cluster" %}
{% endblock page_header %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type="text/javascript">
    $("#cluster_modify_modal a:first").tab("show");

    function GoToIndexPage(){
        var cluster_id = $("#cluster_id").val();        
        window.location = "/dashboard/environment/cluster/" + cluster_id + "/overview";
    }
    function modify_cluster_commit(cluster_id){
        var cluster_info = {
            "name": $("#cluster_name").val(),
            "networking_parameters": get_network_values(),
            "auto_scale": $("#auto_scale").val(),
            "use_dns": $("#use_dns").val(),
            "description":$("#description").val()
        };
        var role_info = {};
        var role_contexts = [
            {
                "name" : "ha",
                "panel_name": "CONTROLLER_HA",
                "callback": get_ha_role_values
            },
            {
                "name" : "lb",
                "panel_name": "CONTROLLER_LB",
                "callback": get_lb_role_values
            },
            {
                "name": "computer",
                "panel_name": "computer",
                "callback": get_computer_info,
            },
            {
                "name" : "zenic_nfm",
                "panel_name": "ZENIC_NFM",
                "callback": get_zenic_nfm_info
            },
            {
                "name" : "zenic_ctl",
                "panel_name": "ZENIC_CTL",
                "callback": get_zenic_ctl_info
            }
        ]
        for (var i = 0;i < role_contexts.length;i++){
            var role_context = role_contexts[i];
            var $panel = $(".form-roles-validator div.panel_" + role_context["panel_name"]);
            if ($panel.length > 0){
                role_info[role_context["name"]] = role_context["callback"]();
            }
        }
        net_plane_info = get_net_plane_info();
        var params = {
            'cluster_info': cluster_info,
            'role_info': role_info,
            'net_plane_info': net_plane_info
        }
        if(params['role_info']['ha']['db_disk_location'] == "share_cluster" && params['role_info']['ha']["db1_lun"] == params['role_info']['ha']["db2_lun"] )
        {
            horizon.alert('error', '{% trans "lun1 and lun2 does not equal." %}');
            return false;            
        }
        else
        {
            var url = "/dashboard/environment/cluster/" + cluster_id + "/modify_submit/";
            do_post(url, JSON.stringify(params), GoToIndexPage);
        }
    }

    function judge_cluster_auto_scale(cluster_list){
        var cluster_id = $("#cluster_id").val()
        for(var i=0; i<cluster_list.length; i++)
        {
            if (($("#auto_scale").val() == 1) && (cluster_list[i].auto_scale == 1) && (cluster_list[i].id != cluster_id))
            {
                title = '{% trans "Confirm to modify" %}';
                body = '{% trans "Computing node auto scale function has been selected by other clusters, Are you sure to replace it?" %}';
                action = '{% trans "Confirm" %}';
                modal = horizon.modals.create(title, body, action);
                modal.modal();
                modal.find('.btn-primary').click(function (evt) {
                    var auto_scale_cluster_id = cluster_list[i].id;
                    var cluster_info = {
                        "name": cluster_list[i].name,
                        "auto_scale": 0
                    };
                    var url = "/dashboard/environment/cluster/" + auto_scale_cluster_id + "/set_cluster_auto_scale/"
                    do_post(url, JSON.stringify({'cluster_info': cluster_info}));

                    modify_cluster_commit(cluster_id);
                    modal.modal('hide');
                })
                return;
            }
        }
        if (i >= cluster_list.length)
        {
            modify_cluster_commit(cluster_id);
        }
    }

    function modify_cluster_click(){
        $(".form-cluster-validator").data('bootstrapValidator').resetForm();
        $(".form-roles-validator").data('bootstrapValidator').resetForm();
        $(".form-net-plane").data('bootstrapValidator').resetForm();
        
        $(".form-cluster-validator").data('bootstrapValidator').validate()
        if (!$(".form-cluster-validator").data('bootstrapValidator').isValid()){
            $('#cluster_modify_modal a[href="#cluster_baseinfo"]').tab("show")
            return;
        }

        $(".form-roles-validator").data('bootstrapValidator').validate()
        if (!$(".form-roles-validator").data('bootstrapValidator').isValid()){
            $('#cluster_modify_modal a[href="#cluster_role"]').tab("show")
            return;
        }

        $(".form-net-plane").data("bootstrapValidator").validate()
        if (!$(".form-net-plane").data('bootstrapValidator').isValid()){
            $('#cluster_modify_modal a[href="#cluster_netplane"]').tab("show")                
            return;
        }

        var url = "/dashboard/environment/cluster/get_clusters/";
        do_post(url, {}, judge_cluster_auto_scale);
    }
    
    function modify_cluster_dialog_init(){
        $(".form-auto-scale").removeClass('hide');

        var cluster_info = {
            "cluster_id": $("#cluster_id").val()};
        var url = "/dashboard/environment/cluster/get_cluster/";
        do_post(url, JSON.stringify({'cluster_info': cluster_info}), cluster_baseinfo_init);

        var role_contexts = [
            {
                "panel_name": "CONTROLLER_HA",
                "role_id" : $("#ha_role_id").val(),
                "url" : "/dashboard/environment/cluster/get_ha_role_info/",
                "callback": cluster_ha_role_init
            },
            {
                "panel_name": "CONTROLLER_LB",
                "role_id" : $("#lb_role_id").val(),
                "url" : "/dashboard/environment/cluster/get_role_info/",
                "callback": cluster_lb_role_init
            },
            {
                "panel_name": "computer",
                "role_id" : $("#computer_role_id").val(),
                "url" : "/dashboard/environment/cluster/get_computer_role_info/",
                "callback": cluster_computer_role_init
            },
            {
                "panel_name": "ZENIC_NFM",
                "role_id" : $("#zenic_nfm_role_id").val(),
                "url" : "/dashboard/environment/cluster/get_role_info/",
                "callback": cluster_zenic_nfm_role_init
            },
            {
                "panel_name": "ZENIC_CTL",
                "role_id" : $("#zenic_ctl_role_id").val(),
                "url" : "/dashboard/environment/cluster/get_role_info/",
                "callback": cluster_zenic_ctl_role_init
            }
        ]
        for (var i = 0;i < role_contexts.length;i++){
            var role_context = role_contexts[i];
            var $panel = $(".form-roles-validator div.panel_"+role_context["panel_name"]);
            if ($panel.length > 0){
                do_post(role_context["url"], 
                    JSON.stringify({'role_id': role_context["role_id"]}), 
                    role_context["callback"]);
            }
        }
    }

    function cluster_baseinfo_init(cluster_list){
        if (cluster_list.length == 0)
            return;

        $("#cluster_id").val(cluster_list[0].id);
        $("#cluster_name").val(cluster_list[0].name);
        $("#base_mac").val(cluster_list[0].base_mac);
        $("#auto_scale").val(cluster_list[0].auto_scale);
        $("#use_dns").val(cluster_list[0].use_dns);
        if((cluster_list[0].hwm_ip != "") && (cluster_list[0].hwmip_list.length > 0)){
            var hwm_ip = cluster_list[0].hwm_ip;

            $("#select_hwm_ip option[value='" + hwm_ip + "']").attr("selected", true);
            $("#select_hwm_ip").attr("disabled",true);
            $("#auto_scale").attr("disabled",true);
        }
        else if((cluster_list[0].hwm_ip == "") && (cluster_list[0].hwmip_list.length > 0)){
            $("#select_hwm_ip_block").hide();
        }
        $("#description").val(cluster_list[0].description);
    }

    function ShowRoleFloatIP(role_info, name, key){
        $("#" + key + "_float_ip").val("");
        if (role_info[name] != null){
            $("#" + key + "_float_ip").val(role_info[name]);
            if ($(".dv_" + key + "_float_ip_auto").length > 0){
                $(".dv_" + key + "_float_ip_auto").hide();
            }
        }
        else{
            if ($("." + key + "_float_ip_auto").length > 0){
                $("." + key + "_float_ip_auto").trigger("click");
            }
        }
    }

    function InitDiskSize4Componet(name, size){
        if (size == "-1"){
            $("#" + name + "_lv_size").val("");
            $("#" + name + "_lv_size").attr("disabled", true);
            $(".auto_assgign_" + name).attr("checked", true)
        }
        else{
            var lv_size = parseInt(size) / 1024;
            $("#" + name + "_lv_size").val(lv_size.toString());
        }
    }

    function cluster_ha_role_init(role_info){
        $("#glance_service_id").val("");
        $("#db_service_id").val("");
        $("#db1_service_id").val("");
        $("#db2_service_id").val("");
        $("#ha_ntp_ip").val("");
        $("#glance_backend_type").val(0);
        $("#glance_lun").val("0");
        $("#glance_data_ip").val("");
        $("#glance_lv_size").val("0");
        $("#db_backend_type").val(0);
        $("#db_lun").val("0");
        $("#db_data_ip").val("");
        $("#db_lv_size").val("0");
        var db_sharecluster_db_index = 0;

        ShowRoleFloatIP(role_info, "vip", "ha");
        ShowRoleFloatIP(role_info, "glance_vip", "glance");
        ShowRoleFloatIP(role_info, "db_vip", "db");
        $("#public_float_ip").val(role_info["public_vip"]==null?"":role_info["public_vip"]);
        if (role_info["ntp_ip"] != null)
            $("#ha_ntp_ip").val(role_info["ntp_ip"]);
        InitDiskSize4Componet("glance", role_info["glance_lv_size"]);
        InitDiskSize4Componet("db", role_info["glance_lv_size"]);
        for(var i=0; i<role_info.service_disk_array.length; i++)
        {
            if (role_info.service_disk_array[i].service == "glance"){
                $("#glance_service_id").val(role_info.service_disk_array[i].id);
                if (role_info.service_disk_array[i].disk_location == "share"){
                    $(".form-glance").removeClass("hide");
                    $(".form-glance-lv-size").addClass('hide');
                    $("#glance_backend_type_share").attr("checked", true);
                    if (role_info.service_disk_array[i].protocol_type != null){
                        $("#glance_protocol_type").val(role_info.service_disk_array[i].protocol_type.toString());
                    }
                    if (role_info.service_disk_array[i].lun != null)
                        $("#glance_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null){
                        var data_ip_array = new Array();
                        data_ip_array = role_info.service_disk_array[i].data_ips.split(",");
                        if (data_ip_array.length > 0){
                            $("#glance_data_ip").val(data_ip_array[0]);
                            for(var j=data_ip_array.length - 1; j>0; j--){
                                AddServiceAddressClick("glance");
                                var last_index = $("#glance_data_ip_last_index").val();
                                $("input[name='glance_data_ip" + (parseInt(last_index, 10) - 1).toString() + "']").val(data_ip_array[j])
                            }
                        }
                    }
                    // Add glance_data_ip validator
                    AddNewFieldValidator(role_info.service_disk_array[i].service);
                }
                else{
                    $(".form-glance").addClass("hide");
                    $(".form-glance-lv-size").removeClass('hide');
                    $("#glance_backend_type_local").attr("checked", true);
                }
            }
            if (role_info.service_disk_array[i].service == "db"){
                if (role_info.service_disk_array[i].disk_location == "share"){
                    $("#db_service_id").val(role_info.service_disk_array[i].id);
                    $(".form-db").removeClass("hide");
                    $(".form-db-lv-size").addClass('hide');
                    $(".form-db1").addClass('hide');
                    $(".form-db2").addClass('hide');
                    $("#db_backend_type_share").attr("checked", true);
                    if (role_info.service_disk_array[i].protocol_type != null){
                        $("#db_protocol_type").val(role_info.service_disk_array[i].protocol_type.toString());
                    }
                    if (role_info.service_disk_array[i].lun != null)
                        $("#db_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null){
                        var data_ip_array = new Array();
                        data_ip_array = role_info.service_disk_array[i].data_ips.split(",");
                        if (data_ip_array.length > 0){
                            $("#db_data_ip").val(data_ip_array[0]);
                            for(var j=data_ip_array.length - 1; j>0; j--){
                                AddServiceAddressClick("db");
                                var last_index = $("#db_data_ip_last_index").val();
                                $("input[name='db_data_ip" + (parseInt(last_index, 10) - 1).toString() + "']").val(data_ip_array[j])
                            }
                        }
                    }
                    // Add db_data_ip validator
                    AddNewFieldValidator(role_info.service_disk_array[i].service);
                }
                else if (role_info.service_disk_array[i].disk_location == "local"){
                    $("#db_service_id").val(role_info.service_disk_array[i].id);
                    $(".form-db").addClass("hide");
                    $(".form-db1").addClass("hide");
                    $(".form-db2").addClass("hide");
                    $(".form-db-lv-size").removeClass('hide');
                    $("#db_backend_type_local").attr("checked", true);
                }
                else
                {
                    db_sharecluster_db_index++;
                    if(db_sharecluster_db_index > 2)
                        continue;
                    else
                        var suffix = parseInt(db_sharecluster_db_index, 10).toString();

                    $("#db" + suffix + "_service_id").val(role_info.service_disk_array[i].id); 

                    $(".form-db1").removeClass("hide");
                    $(".form-db2").removeClass("hide");
                    $(".form-db").addClass('hide');                    
                    $(".form-db-lv-size").addClass('hide');

                    $("#db_backend_type_sharecluster").attr("checked", true);

                    if (role_info.service_disk_array[i].protocol_type != null){
                        $("#db" + suffix + "_protocol_type").val(role_info.service_disk_array[i].protocol_type.toString());
                    }
                    if (role_info.service_disk_array[i].lun != null)
                        $("#db" + suffix + "_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null){
                        var data_ip_array = new Array();
                        data_ip_array = role_info.service_disk_array[i].data_ips.split(",");
                        if (data_ip_array.length > 0){
                            $("#db" + suffix + "_data_ip").val(data_ip_array[0]);
                            for(var j=data_ip_array.length - 1; j>0; j--){
                                AddServiceAddressClick("db" + suffix);
                                var last_index = $("#db" + suffix + "_data_ip_last_index").val();
                                $("input[name='db"  + suffix + "_data_ip" + (parseInt(last_index, 10) - 1).toString() + "']").val(data_ip_array[j])
                            }
                        }
                    }
                    // Add db_data_ip validator
                    AddNewFieldValidator(role_info.service_disk_array[i].service + suffix);
                }
            }
            if (role_info.service_disk_array[i].service == "mongodb")
            {
                $("#mongodb_service_id").val(role_info.service_disk_array[i].id);
                if (role_info.service_disk_array[i].disk_location == "local")
                {
                    $(".form-mongodb").addClass("hide");
                    $(".form-mongodb-lv-size").removeClass('hide');
                    $("#mongodb_backend_type_local").attr("checked", true);
                    if (role_info.service_disk_array[i].size != null){
                        InitDiskSize4Componet("mongodb", role_info.service_disk_array[i].size);
                    }
                }
                else
                {
                    $(".form-mongodb").removeClass("hide");
                    $(".form-mongodb-lv-size").addClass('hide');
                    $("#mongodb_backend_type_share").attr("checked", true);
                    if (role_info.service_disk_array[i].protocol_type != null){
                        $("#mongodb_protocol_type").val(role_info.service_disk_array[i].protocol_type.toString());
                    }
                    if (role_info.service_disk_array[i].lun != null)
                        $("#mongodb_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null){
                        var data_ip_array = new Array();
                        data_ip_array = role_info.service_disk_array[i].data_ips.split(",");
                        if (data_ip_array.length > 0)
                        {
                            $("#mongodb_data_ip").val(data_ip_array[0]);
                            for(var j=data_ip_array.length - 1; j>0; j--)
                            {
                                AddServiceAddressClick("mongodb");
                                var last_index = $("#mongodb_data_ip_last_index").val();
                                $("input[name='mongodb_data_ip" + (parseInt(last_index, 10) - 1).toString() + "']").val(data_ip_array[j])
                            }
                        }
                    }
                    // Add mongodb_data_ip validator
                    AddNewFieldValidator(role_info.service_disk_array[i].service);
                }
            }
            if (role_info.service_disk_array[i].service == "db_backup")
            {
                $("#dbbackup_service_id").val(role_info.service_disk_array[i].id);
                if (role_info.service_disk_array[i].disk_location == "local")
                {
                    $(".form-dbbackup").addClass("hide");
                    $(".form-dbbackup-lv-size").removeClass('hide');
                    $("#dbbackup_backend_type_local").attr("checked", true);
                    if (role_info.service_disk_array[i].size != null){
                        InitDiskSize4Componet("dbbackup", role_info.service_disk_array[i].size);
                    }
                }
                else
                {
                    $(".form-dbbackup").removeClass("hide");
                    $(".form-dbbackup-lv-size").addClass('hide');
                    $("#dbbackup_backend_type_share").attr("checked", true);
                    if (role_info.service_disk_array[i].protocol_type != null){
                        $("#dbbackup_protocol_type").val(role_info.service_disk_array[i].protocol_type.toString());
                    }
                    if (role_info.service_disk_array[i].lun != null)
                        $("#dbbackup_lun").val(role_info.service_disk_array[i].lun.toString());
                    if (role_info.service_disk_array[i].data_ips != null){
                        var data_ip_array = new Array();
                        data_ip_array = role_info.service_disk_array[i].data_ips.split(",");
                        if (data_ip_array.length > 0)
                        {
                            $("#dbbackup_data_ip").val(data_ip_array[0]);
                            for(var j=data_ip_array.length - 1; j>0; j--)
                            {
                                AddServiceAddressClick("dbbackup");
                                var last_index = $("#dbbackup_data_ip_last_index").val();
                                $("input[name='dbbackup_data_ip" + (parseInt(last_index, 10) - 1).toString() + "']").val(data_ip_array[j])
                            }
                        }
                    }
                    // Add dbbackup_data_ip validator
                    AddNewFieldValidator(role_info.service_disk_array[i].service);
                }
            }            
        }

        var cinder_service_table = findObj("cinder_service_table", document);
        while(cinder_service_table.rows.length > 1)
            cinder_service_table.deleteRow(1)
        /*
        if (role_info.cinder_volume_array.length > 0){
            $(".form-cinder").removeClass('hide');
            $(".form-cinder-lv-size").addClass('hide');
            $("#cinder_backend_type_share").attr("checked", true);
        }
        else{
            $(".form-cinder").addClass('hide');
            $(".form-cinder-lv-size").removeClass('hide');
            $("#cinder_backend_type_local").attr("checked", true);
        }
        */
        $("#cinder_backend_type_share").attr("checked", true);
        for(i=0; i<role_info.cinder_volume_array.length; i++){
            var cinder_volume = role_info.cinder_volume_array[i];
            
            var management_ips = cinder_volume["management_ips"];
            cinder_volume["management_ips"] = new Array();
            cinder_volume["management_ips"] = management_ips.split(",");
            
            var data_ips = cinder_volume["data_ips"];
            cinder_volume["data_ips"] = new Array();
            if (data_ips != "")
                cinder_volume["data_ips"] = data_ips.split(",");
            
            AddCinderVolume(cinder_volume);
        }
    }

    function cluster_lb_role_init(role_info){
        ShowRoleFloatIP(role_info, "vip", "lb");
    }
    
    function cluster_computer_role_init(role_info){
        InitDiskSize4Componet("nova", role_info["nova_lv_size"]);
    }
    
    function cluster_zenic_mdb_role_init(role_info){
        ShowRoleFloatIP(role_info, "vip", "zenic_mdb");
    }
    
    function cluster_zenic_nfm_role_init(role_info){
        ShowRoleFloatIP(role_info, "vip", "zenic_nfm");
        ShowRoleFloatIP(role_info, "mongodb_vip", "zenic_mongodb");
    }
    
    function cluster_zenic_ctl_role_init(role_info){
        $("#zenic_ctl_float_ip").val("");
        if (role_info["vip"] != null)
            $("#zenic_ctl_float_ip").val(role_info["vip"]);
    }
    
    $(function(){
        modify_cluster_dialog_init();
    });
</script>
{% endblock %}

{% block main %}
    {% include 'environment/cluster/_modify_cluster.html' %}
{% endblock %}
